<aside id="<%= @options[:id] %>" class="o-archive o-archive--small" <%= order %>>
  <h6 class="o-archive__heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--medium"><%= @options[:header] %></h6>

  <form accept-charset="UTF-8" action="<%= @options[:base_url] %>" method="post">

    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="Hv3qnrajp8wwM5yr16aOZvA+r1JCrnBLq+lRXQVHrc0=" />

    <select class="o-archive__select" id="archive_date_2i" name="archive[date(2i)]">
      <% (1..12).each do |month| %>
        <%= content_tag :option, Date::MONTHNAMES[month], value: month, selected: (true if month == Time.new.month) %>
      <% end %>
    </select>

    <% if @options[:type] == 'full' %>
    <select class="o-archive__select" id="archive_date_3i" name="archive[date(3i)]">
      <% (1..31).each do |value| %>
        <%= content_tag :option, value, value: value, selected: (true if value == Time.new.day) %>
      <% end %>
    </select>
    <% end %>

    <select class="o-archive__select" id="archive_date_1i" name="archive[date(1i)]">
      <% (2006..Time.now.year).each do |time| %>
        <%= content_tag :option, time, value: time, selected: (true if time == Time.now.year) %>
      <% end %>
    </select>

    <input class="o-archive__submit c-btn c-btn--outline-secondary c-btn--small" name="commit" type="submit" value="Go" />

  </form>

</aside>

