<div id="our-mission" class="o-about-us__description">
  <div class="o-about-us__description-text o-about-us__description-text--left">
    <h3>OUR MISSION</h3>
    <p>Our mission is to strengthen the civic and cultural bonds that unite Southern California's diverse communities by providing the highest quality news and information service through radio and other interactive media. We will be a public forum that engages its audiences in an ongoing dialogue and exploration of issues, events and cultures in the region and in the world, seeking to provide greater understanding and new perspectives to the people of these communities and their leaders.</p>
    <p><a href="/about/mission/">Read the full mission ></a></p>
  </div>
  <figure class="o-figure o-about-us__description-image">
    <img class="o-figure__img" src="<%= asset_path 'about/img-mission.jpg' %>" style="background-image: url(<%= asset_path 'about/img-mission.jpg' %>">
  </figure>
</div>
<div id="transparency" class="o-about-us__description">
  <div class="o-about-us__description-text o-about-us__description-text--right">
    <h3>TRANSPARENCY</h3>
    <p>We aim for two-way connection with our communities, listeners and viewers and invite participation in our news discussion through live events, our radio and digital platforms and direct interaction with our staff.</p>
    <p>The Inside KPCC blog is a great way to get an inside perspective of the team that brings you KPCC.</p>
    <p><a href="/blogs/inside-KPCC/">Visit the Inside KPCC blog ></a></p>
  </div>
  <figure class="o-figure o-about-us__description-image">
    <img class="o-figure__img" src="<%= asset_path 'about/img-transparency.jpg' %>" style="background-image: url(<%= asset_path 'about/img-transparency.jpg' %>">
  </figure>
</div>
<div id="governance" class="o-about-us__description">
  <div class="o-about-us__description-text o-about-us__description-text--left">
    <h3>GOVERNANCE</h3>
    <p>We are a non-profit organization operated as part of American Public Media and funded by member contributions, individual and institutional grants and gifts, sponsorships and corporate underwriting.</p>
    <p><a href="/about/public/">View SCPR's Public Files ></a></p>
  </div>
  <figure class="o-figure o-about-us__description-image">
    <img class="o-figure__img" src="<%= asset_path 'about/img-governance.jpg' %>" style="background-image: url(<%= asset_path 'about/img-governance.jpg' %>">
  </figure>
</div>
