<% model.try(:each_with_index) do |section, index| %>
  <h3 class="o-latest-news__category-title" style="order: <%= index + 2 %>">
    <%= link_to section.category.title, section.category.public_path, "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth', class: "track-event" %>
  </h3>
  <section class="o-latest-news__category" style="order: <%= index + 2 %>">
    <section class="o-latest-news__category-description">
      <h3 class="o-latest-news__category_featured-title"><%= link_to section.articles.first.short_title, section.articles.first.public_path, "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth', class: "track-event" %></h3>
      <p class="c-byline">
        <span class="c-byline__name"><%= byline section.articles.first %></span>
        <span class="c-byline__pipe">|</span>
        <time class="c-byline__timestamp"><%= section.articles.first.public_datetime %></time>
      </p>
      <p class="o-latest-news__category_featured-description"><%= section.articles.first.teaser.html_safe %></p>
      <div class="o-latest-news__category_story-list">
        <% section.articles[1..3].each do |article| %>
        <p>
          <%= link_to article.short_title, article.public_path, "data-ga-category" => '@currentCategory', "data-ga-action" => "Article", "data-ga-label" => '@scrollDepth', class: "track-event" %>
        </p>
        <% end %>
      </div>
    </section>
  </section>
<% end %>
<script>
  var dateTimes = $('time');
  dateTimes.each(function() {
    var originalDateTime = $(this).text();
    var relativeDateTime = moment(originalDateTime).fromNow();
    $(this).text(relativeDateTime);
  });
</script>
