<%= form_block "Asset Management", dockable: true do %>
  <%= extra %>

  <% if record.respond_to?(:asset_display_id) %>
    <%= f.input :asset_display_id,
      collection: Concern::Methods::AssetDisplayMethods.select_collection,
      include_blank: true %>
  <% end %>


  <div id="asset_bucket" class="clearfix"></div>

  <%= f.input :asset_json, as: :hidden, input_html: { id: "asset_json" } %>

  <script>
    $(document).ready(function() {
      window.assetManager = new outpost.AssetManager(<%= safe_json record.assets.to_json %>, "#asset_bucket");
    });
  </script>
<% end %>