<%= form_block "Related Content" do %>
  <% if record.errors.present? %>
    <div class="alert alert-error">
      <% record.errors.full_messages_for(:related_content).each do |error| %>
        <%= error %>
      <% end %>
    </div>
  <% end %>
  <div id="related_content-aggregator" class="aggregator"></div>
  <%= f.input :outgoing_references_json, as: :hidden, input_html: { id: "outgoing_references_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      {
        el: "#related_content-aggregator",
        inputEl: "#outgoing_references_json",
        collection: <%= render_json('api/private/v2/articles/collection', articles: record.outgoing_references.includes(:related).map(&:related).select{ |item| item.present? }.map(&:get_article) %>,
        referenceCollection: <%= render_json('api/private/v2/articles/collection', articles: record.incoming_references.includes(:content).map(&:content).compact.map(&:get_article)) %>,
        view: { active: 'search' },
        apiType: "private",
        params: {
          limit: 20,
          types: "news,blogs,segments,shells,events,queries",
          token: "<%= Rails.configuration.x.api.kpcc.private.api_token %>",
          order: "public_datetime",
          sort_mode: "desc",
          with: { published: true }
        }
      }
    );
  </script>
<% end %>
