<script>
<% if model.category ||= nil %>
  DFP_CATEGORY = "<%= model.category.slug %>";
<% end %>
</script>

<% unless @options[:headline] == false %>
  <%= cell :article_headline, model, preview: @options[:preview] %>
<% end %>

<%= hero_asset 'o-article__hero-figure' %>

<div class="c-byline">
  <span class="c-byline__name"><%= byline %></span>
  <span class="c-byline__pipe">|</span>
  <span class="c-byline__timestamp"><%= timestamp %></span>
</div>
<hr class="o-article__b-rule b-rule b-rule--padded-small" />

<%= cell(:article_audio, model, type: @options[:type], audio_context: @options[:audio_context]).call(:horizontal) %>
<%= cell :social_tools, model, display: 'horiz' %>


<div class="o-article__body">
  <% if popular_blog = @options[:popular_blog] %>
    <aside class="o-article__popular-on-blog">
      <header class="b-heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--bold">Popular now on <%= popular_blog.try(:original_object).try(:blog).try(:name) %></header>
      <figure class="o-figure o-figure--widescreen">
        <img class="o-figure__img" src="<%= asset_path popular_blog %>" style="background-image: url(<%= asset_path popular_blog %>">
      </figure>
      <span><%= link_to popular_blog.try(:short_title), popular_blog.try(:public_path), class: "track-event", data: {"ga-category" => "Article", "ga-action" => "Clickthrough", "ga-label" => "Popular Now On Blog"} %></span>
    </aside>
  <% end %>
  <%= render_body %>
</div>

<footer class="contributor" style="order: 989">
  <p><%= contributing_byline %></p>
</footer>

<%= pij_source %>

<script>
    // Load In-Article Membership Appeal from AdHost
    scpr.VisualCampaign.enqueue('article-appeal', $('#article-membership-appeal'));

    // Load PortableHoles
    holes = new PortableHoles({
      Embedly: {
        query: { key : '0cb3651dde4740db8fcb147850c6b555' }
      }
    })

    holes.swap()
</script>
