<section class="o-resources" style="order: <%= @options[:order] %>">

  <header class="o-resources__header">
    <h1 class="o-resources__heading"><%= title %> Resources</h1>
    <h2 class="o-resources__subheading">Tools and guides to help you get informed and engaged.</h2>
    <p class="o-resources__description">KPCC believes that making <%= title %> in Southern California relevant and accessible is an important part of strengthening the civic and cultural bonds that unite the diverse communities of this region.</p>
  </header>

  <ul class="o-resources__articles">
    <% articles.try(:each) do |article| %>
      <li>
        <a href="<%= article.try(:public_url) %>">
          <figure class="o-resources__figure o-figure o-figure--four-by-three">
            <img class="o-figure__img" src="<%= asset_path article %>" style="background-image:url(<%= asset_path article %>);">
            <figcaption class="o-resources__figure__caption"><%= article.try(:short_title) || article.try(:short_headline) %></figcaption>
          </figure>
        </a>
      </li>
    <% end %>
  </ul>


</section>
