<!DOCTYPE html>
<html lang="en">

<%= render "shared/new/document_header" %>

<body class="<%= content_for(:body_class) %>">


    <%= render 'shared/new/masthead/layout_header' %>

    <%= yield %>



    <% content_for :extra_footer do %>
    <script>
        scpr.Behaviors.loadBehaviors(['Layout', 'Editions', 'Episodes']);
    </script>
    <% end %>
    <%= render "/shared/audio/new_inpage_audio_player" %>

    <%= render 'shared/new/layout_footer' %>
    <%= render 'shared/new/document_footer' %>

    <%= yield :script %>
</body>
</html>
