<!DOCTYPE html>
<html lang="en">

<%= render "shared/new/document_header" %>

<body class="<%= content_for(:body_class) %>">

    <div id="global-pushdown"></div>

    <%= render 'shared/new/layout_header' %>

    <%= yield %>

    <% content_for :extra_footer do %>
    <script>
        scpr.Behaviors.loadBehaviors(['Layout', 'Single']);

        embeditor = new Embeditor.Base({
          Embedly: {
            query: { key : '0cb3651dde4740db8fcb147850c6b555' }
          }
        })

        embeditor.swap()
    </script>
    <% end %>
    <%= render "/shared/audio/new_inpage_audio_player" %>

    <%= render 'shared/new/layout_footer' %>
    <%= render 'shared/new/document_footer' %>


</body>
</html>

