<!DOCTYPE html>
<html lang="en">

<%= render "shared/new/document_header" %>

<body class="<%= content_for(:body_class) %>">

    <div id="global-pushdown"></div>

    <header class="masthead blog">
        <div class="inner bound">

            <section class="titling">
                <div class="brand">
                    <h1><%= link_to @blog.name, @blog.public_path %></h1>
                    <div class="secondary">
                        <h2><%= @blog.teaser %>
                        <figure class="subscribe clearfix">
                            <ul>
                                <li class="rss"><a href="#">RSS</a></li>
                                <li class="twitter"><a href="#">Twitter</a></li>
                                <li class="facebook"><a href="#">Facebook</a></li>
                            </ul>
                            <figcaption>Subscribe to <%= @blog.name %></figcaption>
                        </figure>
                    </div>
                </div>
            </section>

            <%= render 'shared/new/main_nav' %>
        </div>
    </header><!--/ .masthead -->

    <%= yield %>

    <% content_for :extra_footer do %>
    <script>
        scpr.Behaviors.loadBehaviors(['Layout', 'Single']);
    </script>
    <% end %>
    <%= render "/shared/audio/new_inpage_audio_player" %>

    <%= render 'shared/new/layout_footer' %>
    <%= render 'shared/new/document_footer' %>


</body>
</html>


