<!DOCTYPE html>
<html lang="en">

<%= render "shared/new/document_header" %>

<body class="<%= content_for(:body_class) %>">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-585PL29" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <div id="global-pushdown"></div>

    <%= render 'shared/new/masthead/layout_header' %>

    <%= yield %>

    <% content_for :extra_footer do %>
    <script>
        scpr.Behaviors.loadBehaviors(['Layout', 'Single']);

        // Load In-Article Membership Appeal from AdHost
        scpr.VisualCampaign.enqueue('article-appeal', $('#article-membership-appeal'));

        // Load PortableHoles
        holes = new PortableHoles({
          Embedly: {
            query: { key : '0cb3651dde4740db8fcb147850c6b555' }
          }
        })

        holes.swap()
    </script>
    <% end %>
    <%= render "/shared/audio/new_inpage_audio_player" %>

    <%= render 'shared/new/layout_footer' %>
    <%= render 'shared/new/document_footer' %>


</body>
</html>
