<!DOCTYPE html>
<html lang="en">

<%= render "shared/new/document_header" %>

<body class="<%= content_for(:body_class) %>">

    <div id="global-pushdown"></div>

    <header class="masthead blog">
        <div class="inner bound">

            <section class="titling">
                <div class="brand">
                    <h1><%= link_to @blog.name, @blog.public_path %></h1>
                    <div class="secondary">
                        <h2><%= @blog.teaser %></h2>
                        <% present @blog do |p| %>
                            <figure class="subscribe clearfix">
                                <ul>
                                    <li class="rss"><%= p.rss_link %></li>
                                    <li class="twitter"><%= p.twitter_link %></li>
                                    <li class="facebook"><%= p.facebook_link %></li>
                                </ul>
                                <% if p.rss_link.present? %>
                                <figcaption>Subscribe to <%= @blog.name %></figcaption>
                                <% end %>
                            </figure>
                        <% end %>
                    </div>
                </div>
            </section>

            <%= render 'shared/new/main_nav' %>
        </div>
    </header><!--/ .masthead -->

    <%= yield %>

    <% content_for :extra_footer do %>
    <script>
        scpr.Behaviors.loadBehaviors(['Layout', 'Single']);

        // Load In-Article Membership Appeal from AdHost
        scpr.VisualCampaign.enqueue('article-appeal', $('#article-membership-appeal'));

        // Load Embeditor
        embeditor = new Embeditor.Base({
          Embedly: {
            query: { key : '0cb3651dde4740db8fcb147850c6b555' }
          }
        })

        embeditor.swap()
    </script>
    <% end %>
    <%= render "/shared/audio/new_inpage_audio_player" %>

    <%= render 'shared/new/layout_footer' %>
    <%= render 'shared/new/document_footer' %>


</body>
</html>


