<!DOCTYPE html>
<html lang="en">

<%= render "shared/new/header/document_header" %>

<body class="<%= content_for(:body_class) %>">

    <%= yield %>


    <aside class="membership">
        <div class="inner bound">
            <h1><a href="https://scprcontribute.publicradio.org/contribute.php">KPCC's <%= @category.title %> coverage is a Southern California resource provided by member-supported public radio. We can't do it without you.</a></h1>
            <h2><span>Your contributions power KPCC.</span> <a href="https://scprcontribute.publicradio.org/contribute.php">Give today.</a></h2>
            <h3 class="brand"><a href="http://kpcc.org" title="Southern California Public Radio">89.3 KPCC</a></h3>
        </div>
    </aside><!--/ .membership -->


    <%= render 'shared/new/layout_footer' %>
    <%= render 'shared/new/document_footer' %>


</body>
</html>
