<!DOCTYPE html>
<html lang="en" prefix="op: http://media.facebook.com/op#">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="<%= content.public_url %>">
    <meta property="op:markup_version" content="v1.0">
    <title><%= content.title %></title>
    <meta property="fb:article_style" content="scpr">
  </head>
  <body>
    <article>
      <header>
        <h1><%= content.title %></h1>
        <h2><%= content.teaser %></h2>

        <%= time_tag content.public_datetime, class: "op-published" %>
        <%= time_tag content.updated_at, class: "op-modified" %>

        <address>
          <a><%= content.byline.any? ? content.byline : 'KPCC Staff' %></a>
        </address>

        <%= render_lead_asset content %>

      </header>

      <%= render_body content %>

      <footer>
        <small>&copy; 2016 Southern California Public Radio</small>
      </footer>
    </article>
  </body>
</html>