<div class="o-archive-tab__news o-archive-tab__item o-archive__item" style="order: <%= @options[:order] %>">
  <% if model.assets.present? %>
  <figure class="o-archive-tab__item-figure">
    <img src="<%= model.asset.square.url %>" />
  </figure>
  <% end %>
  <div class="o-archive-tab__item-description">
    <h3 class="o-archive-tab__item-heading b-heading--h4 b-heading--serif"><%= link_to model.short_title, model.public_url %></h3>
    <span class="o-archive-tab__item-category"><%= link_to model.try(:category).try(:title), model.try(:category).try(:public_path) %></span>
    <span class="pipe">|</span>
    <span class="o-archive-tab__item-byline"><%= byline %></span>
    <span class="pipe">|</span>
    <span class="o-archive-tab__item-date"><%= model.public_datetime.strftime('%B %d %Y, %l:%M %p') %></span>
    <p><%= model.teaser.html_safe %></p>
  </div>
</div>