<div class="o-archive-tab__programs o-archive-tab__item o-archive__item">
  <% if model.assets.present? %>
  <figure class="o-archive-tab__item-figure">
    <img src="<%= model.asset.square.url %>" />
  </figure>
  <% end %>
    <div class="o-archive-tab__item-description">
      <h3 class="o-archive-tab__item-heading b-heading--h4 b-heading--serif"><%= link_to model.short_headline, model.public_path, class: 'b-link' %></h3>
      <% if model.category.present? %>
        <span class="o-archive-tab__item-category"><%= link_to model.category.title, model.category.public_path, class: 'b-link' %></span>
        <span class="pipe">|</span>
      <% end %>
      <span class="o-archive-tab__item-byline"><%= model.try(:byline) %></span>
      <span class="pipe">|</span>
      <span class="o-archive-tab__item-date"><%= model.published_at.strftime('%B %d %Y, %l:%M %p') %></span>
      <p><%= model.teaser.html_safe %></p>
    </div>
</div>
