<% if @lead_article %>
    <section class="headline">
      <h1 class="bound"><span><%= @lead_article.short_title %></span></h1>
    </section>

 <% end %>

    <div class="welcome bound clearfix">
        <section class="curated clearfix">
            <div class="photo">
                <figure class="ratio-pairing">
                    <div class="ratio">
                        <div class="fill"></div>
                        <b class="img-contain"><%= image_tag(@featured_image.eight.url, alt:'') %></b>
                    </div><!--/ .ratio -->
                    <figcaption>
                    <p><%= @featured_image.caption %></p>
                    <mark class="credit"><a href="#" title="See more of <%=@featured_image.owner %>'s work"><%= @featured_image.owner %></a></mark>
                    </figcaption>
                </figure><!--/ .ratio-pairing -->
            </div><!--/ .photo -->
            <div class="supportive">
              <h1 class="tease"><%= @lead_article.teaser %></h1>
              <h2 class="byline"><%= link_to render_byline @lead_article.original_object %></h2>
              <% if @featured_content %>
                <aside class="more">
                  <% if @featured_content[:type] == 'issue' %>
                    <h3>More from <%= link_to @primary_issue.title, issue_path(@primary_issue.slug) %></h3>
                  <% else %>
                    <h3>More from Related Content </h3>
                  <% end %>
                    <ul>
                        <%- @featured_content[:articles].each do |article| %>
                          <li><%= link_to article.short_title, article.public_path %></li>
                        <% end %>
                    </ul>
                </aside>
              <% end %>
            </div><!--/ .supporting -->
        </section><!--/ .curated -->
        <div class="ataglance clearfix">
            <section class="latest">
                <header>
                  <h1>Latest <%= @category.title %> Headlines</h1>
                </header>
                <ul>
                  <%- @latest_articles.each do |article| %>
                    <li>
                      <%= link_to(article.public_path, class: 'clearfix') do %>
                            <div>
                              <mark><%= article.short_title %></mark>
                              <em><%= new_smart_date_js article.public_datetime, tag: "em", "data-window" => "8h", "data-relative" => "2h" %></em>
</em> <span><%= article.byline %></span>
                            </div>
                            <figure class="ratio">
                                <div class="fill"></div>
                                <b class="img-contain"><%= image_tag(article.asset.lsquare.url, alt: '' ) %></b>
                            </figure>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
            </section>
            <section class="event">
                <header class="clearfix">
                    <h1>Get Involved</h1>
                    <%= link_to(events_path) do %>
                      All <span>upcoming</span> events
                    <% end %>
                </header>
                <div class="details clearfix">
                    <div class="vitals">
                      <h2><%= link_to @latest_event.short_title, @latest_event.public_path %></h2>
                      <h3><%= @latest_event.original_object.location_name %></h3>
                        <h4><%= link_to 'More details', @latest_event.public_path %></h4>
                    </div>
                    <aside class="date">
                      <em><%= @latest_event.public_datetime.day %></em>
                      <span><%= @latest_event.public_datetime.strftime('%b') %></span>
                    </aside>
                </div>
            </section>
            <aside class="crawford">
                <header>
                    <h1>Politics Events at KPCC</h1>
                </header>
                <p>From our studio in Pasadena, KPCC hosts free events that open dialogue and deepen the understanding of Southern California’s civic landscape. <%= link_to 'See what we’ve got lined up.', events_path %></p>
            </aside>
        </div><!--/ .ataglance -->
    </div><!--/ .welcome -->


