<% cache_version = "v4" %>

<% add_to_page_title @category.title %>
<% meta_tags(url: @category.public_url) %>
<% content_for :body_class, "landing #{@category.slug}" %>

<%= cache ["categories/show", cache_version, @category] do %>

<section class="headline">
<% lead_article = @category.featured_articles.first %>
<% if lead_article %>
    <h1 class="bound"><span><%= link_to lead_article.short_title, lead_article.public_path %></span></h1>
<% end %>
</section>

<div class="welcome bound clearfix">

    <%= render 'shared/new/headline_content', lead_article: lead_article, cache_version: cache_version %>

    <div class="ataglance clearfix affiliated">
        <section class="latest">
            <header class="clearfix">
                <% if vertical_blog_articles.present? %>
                    <h1>Latest from <%= @category.featured_blog.name %></h1>
                    <%= link_to(@category.featured_blog.public_path) do %>
                        Visit <span>the</span> blog
                    <% end %>
                <% end %>

            </header>

        <% blog_articles = vertical_blog_articles %>
        <%= cache ["business", "latest-headlines", cache_version, blog_articles] do %>
            <%= render 'shared/new/latest_headlines', articles: blog_articles %>
        <% end %>

        </section>
        <section class="latest affiliate">
            <header class="clearfix">
                    <h1>Latest from Marketplace</h1>
                    <%= link_to('http://www.marketplace.org') do %>
                        More Marketplace
                    <% end %>

            </header>

        <% marketplace_articles = vertical_marketplace_articles %>
        <%= cache ["business", "latest-headlines", cache_version, marketplace_articles] do %>
            <%= render 'shared/new/latest_headlines', articles: marketplace_articles %>

        <% end %>

        </section>

    </div><!--/ .ataglance -->
</div><!--/ .welcome -->


<%= render 'shared/new/resources', category: @category, cache_version: cache_version %>
<%= render 'shared/new/lunchbox', category: @category, cache_version: cache_version, quotes: @quotes, events: @events %>

<% articles = Array(vertical_articles) %>
<%# We add category.title to the cache key since that's the only category-specific
information we depend on inside of this cache block. %>
<%= cache ["business", "recent-coverage", cache_version, @category.title, articles] do %>
    <%= render 'shared/new/triptych', articles: Array(articles[0..2]), header: "Recent #{@category.title} Coverage" %>
    <%= safe_render("verticals/#{@category.slug.underscore}/middle_ad") || render('shared/new/kpcc_ipad_ad') %>
    <%= render 'shared/new/quadrant', articles: Array(articles[3..6]), header: "" %>
    <%= render 'shared/new/waterfall', category: @category, cache_version: cache_version, articles: articles %>
<% end %> <%# cache %>

<% end %>



