<% add_to_page_title @category.title %>

<% content_for :body_class do %>
  <% 'landing' %>
<% end %>

<% content_for :landing do %>
  <%= stylesheet_link_tag "vertical/landing", media: "all" %>
<% end %>

<%= render 'shared/header/header' %>

<section class="headline">
  <h1 class="bound"><span><%= @lead_article.short_title if @lead_article.present? %></span></h1>
</section>

<div class="welcome bound clearfix">
  <% if @lead_article %>
    <section class="curated clearfix">
        <div class="photo">
            <figure class="ratio-pairing">
                <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain"><%= image_tag(@featured_image.eight.url, alt:'') %></b>
                </div><!--/ .ratio -->
                <figcaption>
                <p><%= @featured_image.caption %></p>
                <mark class="credit"><a href="#" title="See more of <%=@featured_image.owner %>'s work"><%= @featured_image.owner %></a></mark>
                </figcaption>
            </figure><!--/ .ratio-pairing -->
        </div><!--/ .photo -->
        <div class="supportive">
          <h1 class="tease"><%= @lead_article.teaser %></h1>
          <h2 class="byline"><%= link_to render_byline @lead_article.original_object %></h2>
          <% if @featured_content %>
            <aside class="more">
              <% if @featured_content[:type] == 'issue' %>
                <h3>More from <%= link_to @primary_issue.title, issue_path(@primary_issue.slug) %></h3>
              <% else %>
                <h3>More from Related Content </h3>
              <% end %>
                <ul>
                    <%- @featured_content[:articles].each do |article| %>
                      <li><%= link_to article.short_title, article.public_path %></li>
                    <% end %>
                </ul>
              </aside>
          <% end %>
        </div><!--/ .supporting -->
    </section><!--/ .curated -->
  <% end %>
    <div class="ataglance clearfix">
        <section class="latest">
            <header>
              <h1>Latest <%= @category.title %> Headlines</h1>
            </header>
            <ul>
              <% if @latest_articles.presence %>
                <%- @latest_articles.each do |article| %>
                  <li>
                    <%= link_to(article.public_path, class: 'clearfix') do %>
                          <div>
                            <mark><%= article.short_title %></mark>
                            <%= new_smart_date_js article.public_datetime, tag: "em", "data-window" => "8h", "data-relative" => "2h" %>
                            <span><%= article.byline %></span>
                          </div>
                          <figure class="ratio">
                              <div class="fill"></div>
                              <b class="img-contain"><%= image_tag(article.asset.lsquare.url, alt: '' ) %></b>
                          </figure>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
        </section>
        <section class="event">
            <header class="clearfix">
                <h1>Get Involved</h1>
                <%= link_to(events_path) do %>
                  All <span>upcoming</span> events
                <% end %>
            </header>
            <% if @latest_event.present? %>
              <div class="details clearfix">
                  <div class="vitals">
                    <h2><%= link_to @latest_event.short_title, @latest_event.public_path %></h2>
                    <h3><%= @latest_event.original_object.location_name %></h3>
                      <h4><%= link_to 'More details', @latest_event.public_path %></h4>
                  </div>
                  <aside class="date">
                    <em><%= @latest_event.public_datetime.day %></em>
                    <span><%= @latest_event.public_datetime.strftime('%b') %></span>
                  </aside>
              </div>
            <% end %>
        </section>
        <aside class="crawford">
            <header>
              <h1><%= @category.title %> Events at KPCC</h1>
            </header>
            <p>From our studio in Pasadena, KPCC hosts free events that open dialogue and deepen the understanding of Southern California’s civic landscape. <%= link_to 'See what we’ve got lined up.', events_path %></p>
        </aside>
    </div><!--/ .ataglance -->
</div><!--/ .welcome -->

<section class="resources">
    <div class="inner bound clearfix">
        <header>
            <h1><span>Represent Resources</span></h1>
            <h2>Quick primers on civic life in California.</h2>
            <h3>All of us at KPCC believe that civic life in Southern California should be understandable, relevant, and libero ante, aliquam congue mattis id, blandit quis risus. Sed iaculis tellus accumsan ipsum porta ultricies.</h3>
            <h4>Represent Resources is made possible with support from <%= link_to 'The Robert Day School', '#' %>.</h4>
        </header>
        <nav>
            <ul class="clearfix">
            <% if @resources.presence %>
              <%- @resources.each do |resource| %>
                <li>
                    <%= link_to(resource.public_path) do %>
                        <figure class="clearfix">
                          <div class="ratio"><div class="fill"></div><b class="img-contain"><%= image_tag resource.asset.small.url, alt: '' %></b></div>
                          <figcaption><%= resource.short_title %></figcaption>
                        </figure>
                    <% end %>
                </li>
              <% end %>
            <% end %>
            </ul>
        </nav>
    </div>
</section><!--/ .resources -->

<div class="lunchbox">
    <div class="inner bound clearfix">
        <section class="issues">
            <header>
                <h1>Issues We're Tracking</h1>
                <h2><%= link_to 'See all issues', issues_path %></h2>
            </header>
            <div>
           <% if @category.issues.presence %>
                <header class="special">
                  <h1><%= @special_issue.title %></h1>
                    <h2 class="clearfix">
                        <mark>Special coverage from KPCC</mark>
                        <%= link_to issue_path(@special_issue.slug) do %>
                          See all <span><%= @special_issue.title  %></span>
                        <% end %>
                    </h2>
                </header>
                <nav>
                    <ul>
                      <%- @top_two_special_issue_articles.each do |article| %>
                        <%= render partial: 'category/issue_list', locals: {article: article} %>
                      <% end %>
                    </ul>
                </nav>
            </div>
              <%- @other_issues.each do |issue| %>
                <div>
                    <header class="slim clearfix">
                      <h1><%= issue.title %></h1>
                      <h2><%= link_to issue_path(issue.slug) do %>
                        See all <span><%= issue.title %></span><% end %></h2>
                    </header>
                    <nav>
                        <ul>
                        <%- issue.articles.first(2).each do |article| %>
                          <%= render partial: 'category/issue_list', locals: {article: article} %>
                        <% end %>
                        </ul>
                    </nav>
              <% end %>
              </div>
           <% end %>
        </section><!--/ .issues -->
        <div class="treats">
            <aside class="featured" style="background-image: url(assets/featured-interactives/intersections.jpg);">
                <div>
                    <h1>Featured Interactive</h1>
                    <% if @featured_interactive %>
                      <h2><%= link_to @featured_interactive.short_title, @featured_interactive.public_path %></h2>
                      <h3><%= @featured_interactive.byline %></h3>
                    <% end %>
                </div>
            </aside>
            <div class="inbrief clearfix">
                <% if @quote %>
                  <aside class="quote">
                      <blockquote>
                        <p><%= @quote.quote %></p>
                          <cite>
                            <mark><%= @quote.source_name %></mark>
                            <span><%= @quote.source_context %></span>
                          </cite>
                      </blockquote>
                      <footer>
                        <%= link_to @quote_article.short_title, @quote_article.public_path, title: "Read this quote's source article" %>
                      </footer>
                  </aside>
                <% end %>
                <aside class="events">
                  <h1>Upcoming <%= @category.title %> Events</h1>
                    <% if @upcoming_events.presence %>
                      <ul>
                        <%- @upcoming_events.each do |event| %>
                          <li>
                              <figure class="clearfix">
                                  <div class="date">
                                    <b><%= event.public_datetime.day %></b>
                                    <span><mark><%= event.public_datetime.strftime('%b') %></mark> <%= event.public_datetime.strftime('%Y') %></span>
                                  </div>
                                  <figcaption>
                                  <b><%= event.short_title %></b>
                                  <%= link_to 'More information', event.public_path %>
                                  </figcaption>
                              </figure>
                          </li>
                        <% end %>
                      </ul>
                    <% end %>
                </aside>
            </div>
        </div><!--/ .bites -->
    </div>
</div><!--/ .lunchbox -->

<%= render partial: 'shared/triptych', locals: {category: @category, articles: @three_recent_articles} %>

<aside class="partner mercedes">
    <div class="inner bound">
        <h1><b><span>Groundbreaking innovation</span> <span>has broken through again.</span></b></h1>
        <b class="car"><%= image_tag('sponsor-assets/mercedes-car.png', alt: '') %></b>
        <p class="teaser">
          <span>Introducing the redesigned 2014 E-Class Sedan.</span>
          <span>More aggressive, more eye-catching and more innovative than ever.</span>
          <mark><a href="#">Discover the E-Class</a></mark>
        </p>
        <figure class="logo"><a href="#"><%= image_tag('sponsor-assets/mercedes-logo-full.png', alt: '') %></a></figure>
    </div>
</aside>



<section class="quadrant">
    <div class="inner bound">

          <!--            ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->
       <div class="rail clearfix">
         <% if @top_half_recent_articles.presence %>
           <%- @top_half_recent_articles.each do |recent_article| %>
              <%- article = recent_article.original_object %>
              <%- article_class = "clearfix" %>
              <%- article_class << " has-trait" if article.issues.any? %>
              <%= content_tag(:article, class: article_class) do %>
                      <div class="graphic">
                          <div class="ratio">
                            <%- if article.issues.any? %>
                              <span class="issue"><%= link_to recent_article.related_issue.first.title,issue_path(recent_article.related_issue.first.slug) %></span>
                            <% end %>
                              <div class="fill"></div>
                              <b class="img-contain"><%= image_tag recent_article.asset.eight.url %></b>
                          </div><!--/ .ratio -->
                      </div>
                      <div class="prose">
                          <aside class="byline">
                            <p class="author"><%= render_byline article %></p>
                              <%- if article.feature_type.present? %>
                                <%= content_tag(:mark, article.class.name.constantize::FEATURE_TYPE[article.feature_type], class: "trait #{article.class.name.constantize::FEATURE_TYPE[article.feature_type].downcase}") %>
                              <% end %>
                          </aside>
                          <h1><%= link_to recent_article.short_title, recent_article.public_path %></h1>
                        <h2 class="date"><%= new_smart_date_js recent_article.public_datetime, tag: 'span' %></h2>
                        <p class="teaser"><%= recent_article.teaser %></p>
                      </div>
              <% end %>
           <% end %>
         <% end %>
       </div><!--/ .rail -->

       <div class="rail clearfix">
        <% if @bottom_half_recent_articles.presence %>
          <%- @bottom_half_recent_articles.each do |recent_article| %>
            <%- article = recent_article.original_object %>
            <%- article_class = "clearfix" %>
            <%- article_class << " has-trait" if article.issues.any? %>
            <%= content_tag(:article, class: article_class) do %>
                    <div class="graphic">
                      <div class="ratio">
                          <%- unless article.issues.empty? || recent_article.related_issue.empty? %>
                            <span class="issue"><%= link_to recent_article.related_issue.first.title, issue_path(recent_article.related_issue.first.slug) %></span>
                          <% end %>
                            <div class="fill"></div>
                            <b class="img-contain"><%= image_tag recent_article.asset.eight.url %></b>
                        </div><!--/ .ratio -->
                    </div>
                    <div class="prose">
                        <aside class="byline">
                          <p class="author"><%= render_byline article %></p>
                            <%- if article.feature_type.present? %>
                              <%= content_tag(:mark, article.feature_type_name, class: "trait #{article.feature_type_name.downcase}") %>
                            <% end %>
                        </aside>
                        <h1><%= link_to recent_article.short_title, recent_article.public_path %></h1>
                      <h2 class="date"><%= new_smart_date_js recent_article.public_datetime, tag: 'span' %></h2>
                      <p class="teaser"><%= recent_article.teaser %></p>
                    </div>
            <% end %>
          <% end %>
        <% end %>
       </div><!--/ .rail -->
          <!--            ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ -->

    </div><!--/ .inner -->
</section><!--/ .quadrant -->

<div class="waterfall">
    <div class="inner bound clearfix">

        <section class="backlog">
          <h1>More <%= @category.title %></h1>
          <% if @more_articles.presence %>
            <%- @more_articles.each do |article| %>
              <article class="clearfix">
                      <div class="graphic">
                          <div class="ratio">
                            <%- unless article.original_object.issues.empty? || article.related_issue.empty? %>
                              <span class="issue"><%= link_to article.related_issue.first.title, issue_path(article.related_issue.first.slug) %></span>
                            <% end  %>
                              <div class="fill"></div>
                              <b class="img-contain"><%= image_tag article.asset.small.url, alt: '' %></b>
                          </div><!--/ .ratio -->
                      </div>
                      <div class="prose">
                        <h1><%= link_to article.short_title, article.public_path %></h1>
                          <aside class="byline">
                              <p>
                              <b class="author"><%= render_byline article.original_object %></b>
                              <span><%= new_smart_date_js article.public_datetime, tag: 'span' %></span>
                              </p>
                              <%- if article.original_object.feature_type.present? %>
                                <%= content_tag(:mark, article.original_object.feature_type_name, class: "trait #{article.original_object.feature_type_name.downcase}") %>
                              <% end %>
                          </aside>
                          <p class="teaser"><%= article.teaser %></p>
                      </div>
                    </article>
            <% end %>
          <% end %>
        </section><!--/ .backlog -->

      <% if @bios.presence %>
        <div class="secondary">
            <section class="reporters">
                <h1>Our Reporters</h1>
                <div class="clearfix">
                    <%- @bios.each do |bio| %>
                      <figure class="ratio-pairing">
                            <div class="ratio">
                                <div class="fill"></div>
                                <b class="img-contain"><%= link_to bio.public_path do %>
                                  <%= bio.headshot.small.tag %>
                                <% end %>
                                </b>
                            </div><!--/ .ratio -->
                            <figcaption>
                            <h1><%= link_to bio.name, bio.public_path %></h1>
                                <ul class="clearfix">
                                  <li><%= link_to 'Email', bio.email, class: 'email', title: "Email #{bio.name.split[0]}" %></li>
                                  <% if bio.twitter_handle.present? %>
                                    <li><%= link_to "Twitter", twitter_profile_url(bio.twitter_handle), target: "_blank", class: "twitter", title: "#{bio.name.split[0]} on Twitter" %></li>
                                  <% end %>
                                </ul>
                            </figcaption>
                      </figure>
                    <% end %>

                </div>
            </section><!--/ .reporters -->
            <section class="tweets">
                <h1>In Brief</h1>
                <ul>
                  <%- @twitter_feeds.each do |twitter_handle| %>
                    <% if @cached_tweets = Rails.cache.fetch("twitter:#{twitter_handle}") %>
                      <%= @cached_tweets %>
                    <% end %>
                  <% end %>
                </ul>
            </section><!--/ .tweets -->
        </div><!--/ .secondary -->
      <% end %>
    </div>
</div><!--/ .waterfall -->

