<% add_to_page_title @category.title %>
<% content_for :main_class, "l-category" %>

<% content_for :header do %>
  <section class="o-prologue o-prologue--vertical  o-prologue--category">
    <span class="o-prologue__title"><%= @category.title %></span>
    <span class="o-prologue__pipe">|</span>
  </section>
<% end %>

<%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
<%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 5 %>
<%= cell(:appeal, @content, order: 6).call(:breaking_news) %>
<%= cell(:popular_articles, @content, order: 7).call(:side_bar) %>
<%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 8 %>
<%= cell(:featured_story, @content[0], order: 1).call(:category_view) %>
<%= cell :story_list, @content[1..8], class: "o-story-list--vert o-story-list--nobg", asset_aspect: "widescreen", order: 3 %>
<%= paginate @content, inner_window: 9 %>
<%= cell :epilogue, nil, class: "l-column--boundless", order: 9 %>
