<% add_to_page_title @category.title %>
<% meta_tags(url: @category.public_url) %>
<% content_for :body_class, 'landing' %>

<section class="headline">

<% if @lead_article %>
    <h1 class="bound"><span><%= link_to @lead_article.short_title, @lead_article.public_path %></span></h1>
<% end %>

</section>


<div class="welcome bound clearfix">

<% if @lead_article %>
    <section class="curated clearfix">
        <div class="photo">
            <figure class="ratio-pairing">

            <%= link_to @lead_article.public_path do %>
                <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain"><%= image_tag(@lead_article.asset.eight.url, alt:'') %></b>
                </div><!--/ .ratio -->
                <figcaption>
                    <p><%= @lead_article.asset.caption %></p>
                    <mark class="credit"><%= @lead_article.asset.owner %></mark>
                </figcaption>
            <% end %>

            </figure><!--/ .ratio-pairing -->
        </div><!--/ .photo -->

        <div class="supportive">
            <h1 class="tease"><%= link_to @lead_article.teaser, @lead_article.public_path %></h1>
            <h2 class="byline"><%= render_byline @lead_article.original_object %></h2>

            <aside class="more">

        <% issue = @lead_article.issues.first %>
        <% related = @lead_article.original_object.related_content.first(2) %>
        <%= cache ["categories/show", "more-featured", "v1", issue, related] do %>
            <% if issue %>
                <h3>More from <%= link_to issue.title, issue.public_path %></h3>
                <ul>

                <%- issue.articles.first(2).each do |article| %>
                    <li><%= link_to article.short_title, article.public_path %></li>
                <% end %>

                </ul>

            <% else %>
                <h3>More from Related Content</h3>
                <ul>

                <%- related.each do |article| %>
                    <li><%= link_to article.short_title, article.public_path %></li>
                <% end %>

                </ul>

                </aside>
            <% end %>
        <% end %>

        </div><!--/ .supporting -->
    </section><!--/ .curated -->
<% end %>

    <div class="ataglance clearfix">
        <section class="latest">
            <header>
                <h1>Latest <%= @category.title %> Headlines</h1>
            </header>

        <% articles = @category_articles[0..1] %>
        <%= cache ["categories/show", "latest-headlines", "v1", articles] do %>
            <ul>

            <%- Array(articles).each do |article| %>
                <li>
                    <%= link_to(article.public_path, class: 'clearfix') do %>
                        <div>
                            <mark><%= article.short_title %></mark>
                            <%= smart_date_js article.public_datetime, tag: "em", "data-window" => "8h", "data-relative" => "2h" %>&nbsp;
                            <span><%= article.byline %></span>
                        </div>
                        <figure class="ratio">
                            <div class="fill"></div>
                            <b class="img-contain"><%= image_tag(article.asset.lsquare.url, alt: '' ) %></b>
                        </figure>
                    <% end %>
                </li>
            <% end %>

            </ul>

        <% end %>

        </section>

    <% event = @events.first %>
    <%= cache ["categories/show", "latest-events", "v1", event] do %>
        <section class="event">
            <header class="clearfix">
                <h1>Get Involved</h1>
                <%= link_to(events_path) do %>
                    All <span>upcoming</span> events
                <% end %>
            </header>

            <% if event.present? %>
                <div class="details clearfix">
                    <div class="vitals">
                        <h2><%= link_to event.headline, event.public_path %></h2>
                        <h3><%= event.location_name %></h3>
                        <h4><%= link_to 'More details', event.public_path %></h4>
                    </div>
                    <aside class="date">
                        <em><%= event.starts_at.day %></em>
                        <span><%= event.starts_at.strftime('%b') %></span>
                    </aside>
                </div>
            <% end %>
        </section>
    <% end %>

        <aside class="crawford">
            <header>
                <h1><%= @category.title %> Events at KPCC</h1>
            </header>
            <p>KPCC hosts free events that open dialogue and deepen the understanding of vital issues affecting Southern California. <%= link_to 'See our in-studio events.', forum_events_path %></p>
        </aside>
    </div><!--/ .ataglance -->
</div><!--/ .welcome -->


<section class="resources-row">
    <div class="inner bound clearfix">
        <header>
            <h1 class="<%=@category.slug%>"><span><%= @category.title %></span></h1>
            <h2>Tools and guides to help you get informed and engaged.</h2>
            <h3>KPCC believes that making <%= @category.title %> in Southern California relevant and accessible is an important part of strengthening the civic and cultural bonds that unite the diverse communities of this region.</h3>
        </header>

        <nav>
            <ul class="clearfix">

        <% articles = @featured_articles[1..4] %>
        <%= cache ["categories/show", "resources", "v1", articles] do %>
            <%- Array(articles).each do |article| %>
                <li>
                    <%= link_to(article.public_path) do %>
                        <figure class="clearfix">
                            <div class="ratio"><div class="fill"></div><b class="img-contain"><%= image_tag article.asset.small.url, alt: '' %></b></div>
                            <figcaption><%= article.short_title %></figcaption>
                        </figure>
                    <% end %>
                </li>
            <% end %>
        <% end %>

            </ul>
        </nav>
    </div>
</section><!--/ .resources-row -->


<div class="lunchbox">
    <div class="inner bound clearfix">

<%= cache ["categories/show", "issues", "v2", @category.issues] do %>
    <% if @category.issues.present? %>
        <section class="issues">
            <header>
                <h1>Issues We're Tracking</h1>
                <h2><%= link_to 'See all issues', issues_path %></h2>
            </header>

        <% if issue = @category.issues.first %>
            <div>
                <header class="special">
                    <h1><%= issue.title %></h1>
                    <h2 class="clearfix">
                        <mark>Special coverage from KPCC</mark>
                        <%= link_to issue.public_path do %>
                            See all <span><%= issue.title  %></span>
                        <% end %>
                    </h2>
                </header>
                <nav>
                    <ul>
                    <%= render 'category/issue_list', articles: issue.articles.first(2) %>
                    </ul>
                </nav>
            </div>
        <% end %>

        <%- Array(@category.issues[1..2]).each do |issue| %>
            <div>
                <header class="slim clearfix">
                    <h1><%= issue.title %></h1>
                    <h2><%= link_to issue.public_path do %>See all <span><%= issue.title %></span><% end %></h2>
                </header>
                <nav>
                    <ul>
                    <%= render 'category/issue_list', articles: issue.articles.first(2) %>
                    </ul>
                </nav>
            </div>
        <% end %>

        </section><!--/ .issues -->
    <% end %> <%# issues? %>
<% end %> <%# cache %>


        <div class="treats">

    <% article = @featured_articles[5] %>
    <%= cache ["categories/show", "interactive", "v1", article] do %>
        <% if article %>
            <aside class="featured">
                <div>
                    <h1>Featured Interactive</h1>

                    <h2><%= link_to article.short_title, article.public_path %></h2>
                    <h3><%= article.byline %></h3>

                </div>
            </aside>
        <% end %>
    <% end %>

            <div class="inbrief clearfix">

        <%= cache ["categories/show", "quote", "v1", @quote] do %>
            <% if @quote %>
                <aside class="quote">
                    <blockquote>
                        <p><%= @quote.quote %></p>
                            <cite>
                                <mark><%= @quote.source_name %></mark>
                                <span><%= @quote.source_context %></span>
                            </cite>
                    </blockquote>
                    <footer>

                    <% if @quote.article %>
                        <%= link_to @quote.article.short_title, @quote.article.public_path, title: "Read this quote's source article" %>
                    <% end %>

                    </footer>
                </aside>
            <% end %>
        <% end %>

                <aside class="events">
                    <h1>Upcoming <%= @category.title %> Events</h1>

                <% events = @events[1..3] %>
                <%= cache ["categories/show", "upcoming-events", "v1", events] do %>
                    <ul>

                    <%- Array(events).each do |event| %>
                        <li>
                            <figure class="clearfix">
                                <div class="date">
                                    <b><%= event.starts_at.day %></b>
                                    <span><mark><%= event.starts_at.strftime('%b') %></mark> <%= event.starts_at.strftime('%Y') %></span>
                                </div>
                                <figcaption>
                                    <b><%= event.headline %></b>
                                    <%= link_to 'More information', event.public_path %>
                                </figcaption>
                            </figure>
                        </li>
                    <% end %>

                    </ul>
                <% end %>
                </aside>
            </div>
        </div><!--/ .bites -->
    </div> <!--/ .inner.bound -->
</div><!--/ .lunchbox -->

<% articles = @category_articles[2..4] %>
<%= cache ["categories/show", "recent-coverage", "v1", Array(articles)] do %>
<%= render 'shared/new/triptych', category: @category, articles: articles %>
<% end %>

<%= render 'shared/new/kpcc_ipad_ad' %>


<% articles = @category_articles[5..8] %>
<%= cache ["categories/show", "mid-quad", "v1", Array(articles)] do %>
<%= render 'shared/new/quadrant', articles: articles, header: "" %>
<% end %>


<div class="waterfall">
    <div class="inner bound clearfix">

        <section class="backlog">
            <h1>More <%= @category.title %></h1>

            <% articles = @category_articles[9..-1] %>
            <%= cache ["categories/show", "more", "v1", Array(articles)] do %>
                <%= render 'shared/new/waterfall_articles', articles: articles, issue_tag_exists: true %>
            <% end %>

        </section><!--/ .backlog -->

    <% if @category.bios.present? %>
        <div class="secondary">

        <%= cache ["categories/show", "bios", "v1", @category.bios.to_a] do %>
            <section class="reporters">
                <h1>Our Reporters</h1>
                <div class="clearfix">

                <%- @category.bios.each do |bio| %>
                    <figure class="ratio-pairing">
                        <div class="ratio">
                            <div class="fill"></div>
                            <b class="img-contain"><a href="<%=bio.public_path%>"><img src="<%= bio.headshot.small.url %>"></a></b>
                        </div><!--/ .ratio -->
                        <figcaption>
                            <h1><%= link_to bio.name, bio.public_path %></h1>
                            <ul class="clearfix">

                            <% if bio.email.present? %>
                                <li><%= link_to 'Email', "mailto:#{bio.email}", class: 'email', title: "Email #{bio.first_name}" %></li>
                            <% end %>

                            <% if bio.twitter_handle.present? %>
                                <li><%= link_to "Twitter", twitter_profile_url(bio.twitter_handle), target: "_blank", class: "twitter", title: "#{bio.first_name} on Twitter" %></li>
                            <% end %>

                            </ul>
                        </figcaption>
                    </figure>
                <% end %>

                </div>
            </section><!--/ .reporters -->
        <% end %>

        <% if cached_tweets = Rails.cache.fetch("verticals/#{@category.slug}/twitter_feed") %>
            <section class="tweets">
                <h1>In Brief</h1>
                <ul>
                    <%= cached_tweets %>
                </ul>
            </section><!--/ .tweets -->
        <% end %>

        </div><!--/ .secondary -->
    <% end %>

    </div>
</div><!--/ .waterfall -->
