<% add_to_page_title @category.title %>
<% content_for :body_class, 'landing' %>

<section class="headline concise">
  <h1 class="bound"><span><%= link_to @lead_article.short_title, @lead_article.public_path if @lead_article.present? %></span></h1>
</section>

<div class="welcome bound clearfix">
  <% if @lead_article %>
    <section class="curated clearfix">
        <div class="photo">
            <figure class="ratio-pairing">
             <%= link_to @lead_article.public_path do %>
                <div class="ratio">
                   <div class="fill"></div>
                   <b class="img-contain"><%= image_tag(@featured_image.eight.url, alt:'') %></b>
                </div><!--/ .ratio -->
                <figcaption>
                  <p><%= @featured_image.caption %></p>
                  <mark class="credit"><%= @featured_image.owner %></mark>
                </figcaption>
             <% end %>
            </figure><!--/ .ratio-pairing -->
        </div><!--/ .photo -->
        <div class="supportive">
          <h1 class="tease"><%= link_to @lead_article.teaser, @lead_article.public_path %></h1>
          <h2 class="byline"><%= link_to render_byline @lead_article.original_object %></h2>
          <% if @featured_content %>
            <aside class="more">
              <% if @featured_content[:type] == 'issue' %>
                <h3>More from <%= link_to @primary_issue.title, @primary_issue.public_path %></h3>
              <% else %>
                <h3>More from Related Content </h3>
              <% end %>
                <ul>
                    <%- @featured_content[:articles].each do |article| %>
                      <li><%= link_to article.short_title, article.public_path %></li>
                    <% end %>
                </ul>
              </aside>
          <% end %>
        </div><!--/ .supporting -->
    </section><!--/ .curated -->
  <% end %>
    <div class="ataglance clearfix">
        <section class="latest">
            <header>
              <h1>Latest <%= @category.title %> Headlines</h1>
            </header>
            <ul>
                <%- @category_articles[0..1].each do |article| %>
                  <li>
                    <%= link_to(article.public_path, class: 'clearfix') do %>
                          <div>
                            <mark><%= article.short_title %></mark>
                            <%= new_smart_date_js article.public_datetime, tag: "em", "data-window" => "8h", "data-relative" => "2h" %>&nbsp;
                            <span><%= article.byline %></span>
                          </div>
                          <figure class="ratio">
                              <div class="fill"></div>
                              <b class="img-contain"><%= image_tag(article.asset.lsquare.url, alt: '' ) %></b>
                          </figure>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
        </section>
        <section class="event">
            <header class="clearfix">
                <h1>Get Involved</h1>
                <%= link_to(events_path) do %>
                  All <span>upcoming</span> events
                <% end %>
            </header>
            <% if @latest_event.present? %>
              <div class="details clearfix">
                  <div class="vitals">
                    <h2><%= link_to @latest_event.short_title, @latest_event.public_path %></h2>
                    <h3><%= @latest_event.original_object.location_name %></h3>
                      <h4><%= link_to 'More details', @latest_event.public_path %></h4>
                  </div>
                  <aside class="date">
                    <em><%= @latest_event.public_datetime.day %></em>
                    <span><%= @latest_event.public_datetime.strftime('%b') %></span>
                  </aside>
              </div>
            <% end %>
        </section>
        <aside class="crawford">
            <header>
              <h1><%= @category.title %> Events at KPCC</h1>
            </header>
            <p>KPCC hosts free events that open dialogue and deepen the understanding of vital issues affecting Southern California. <%= link_to 'See our in-studio events.', forum_events_path %></p>
        </aside>
    </div><!--/ .ataglance -->
</div><!--/ .welcome -->

<section class="resources-row">
    <div class="inner bound clearfix">
        <header>
          <h1 class="<%=@category.slug%>"><span><%= @category.title %></span></h1>
          <h2>Tools and guides to help you get informed and engaged.</h2>
          <h3>KPCC believes that making <%= @category.title %> in Southern California relevant and accessible is an important part of strengthening the civic and cultural bonds that unite the diverse communities of this region.</h3>
        </header>

        <nav>
          <ul class="clearfix">
        <% if @resources.present? %>
          <%- @resources.each do |resource| %>
            <li>
                <%= link_to(resource.public_path) do %>
                    <figure class="clearfix">
                      <div class="ratio"><div class="fill"></div><b class="img-contain"><%= image_tag resource.asset.small.url, alt: '' %></b></div>
                      <figcaption><%= resource.short_title %></figcaption>
                    </figure>
                <% end %>
            </li>
          <% end %>
        <% end %>
          </ul>
        </nav>
    </div>
</section><!--/ .resources-row -->

<div class="lunchbox">
    <div class="inner bound clearfix">
        <section class="issues">
            <header>
                <h1>Issues We're Tracking</h1>
                <h2><%= link_to 'See all issues', issues_path %></h2>
            </header>
           <% if @category.issues.present? %>
            <div>
                <header class="special">
                  <h1><%= @special_issue.title %></h1>
                    <h2 class="clearfix">
                        <mark>Special coverage from KPCC</mark>
                        <%= link_to @special_issue.public_path do %>
                          See all <span><%= @special_issue.title  %></span>
                        <% end %>
                    </h2>
                </header>
                <nav>
                    <ul>
                    <%= render 'category/issue_list', articles: @top_two_special_issue_articles %>
                    </ul>
                </nav>
            </div>
              <%- @other_issues.each do |issue| %>
                <div>
                    <header class="slim clearfix">
                      <h1><%= issue.title %></h1>
                      <h2><%= link_to issue.public_path do %>
                        See all <span><%= issue.title %></span><% end %></h2>
                    </header>
                    <nav>
                        <ul>
                        <%= render 'category/issue_list', articles: issue.articles.first(2) %>
                        </ul>
                    </nav>
                </div>
              <% end %>
           <% end %>
        </section><!--/ .issues -->
        <div class="treats">
            <aside class="featured" style="background-image: url(assets/featured-interactives/intersections.jpg);">
                <div>
                    <h1>Featured Interactive</h1>
                    <% if @featured_interactive %>
                      <h2><%= link_to @featured_interactive.short_title, @featured_interactive.public_path %></h2>
                      <h3><%= @featured_interactive.byline %></h3>
                    <% end %>
                </div>
            </aside>
            <div class="inbrief clearfix">

              <% if @quote %>
                <aside class="quote">
                    <blockquote>
                      <p><%= @quote.quote %></p>
                        <cite>
                          <mark><%= @quote.source_name %></mark>
                          <span><%= @quote.source_context %></span>
                        </cite>
                    </blockquote>
                    <footer>
                      <%= link_to @quote_article.short_title, @quote_article.public_path, title: "Read this quote's source article" %>
                    </footer>
                </aside>
              <% end %>

              <aside class="events">
                <h1>Upcoming <%= @category.title %> Events</h1>
                  <% if @upcoming_events.present? %>
                    <ul>
                      <%- @upcoming_events.each do |event| %>
                        <li>
                            <figure class="clearfix">
                                <div class="date">
                                  <b><%= event.public_datetime.day %></b>
                                  <span><mark><%= event.public_datetime.strftime('%b') %></mark> <%= event.public_datetime.strftime('%Y') %></span>
                                </div>
                                <figcaption>
                                <b><%= event.short_title %></b>
                                <%= link_to 'More information', event.public_path %>
                                </figcaption>
                            </figure>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>
              </aside>
            </div>
        </div><!--/ .bites -->
    </div>
</div><!--/ .lunchbox -->

<%= render 'shared/new/triptych', category: @category, articles: @category_articles[2..4] %>

<%= render 'shared/new/kpcc_ipad_ad' %>

<%= render 'shared/new/quadrant', articles: @category_articles[5..8], header: "" %>

<div class="waterfall">
    <div class="inner bound clearfix">

        <section class="backlog">
          <h1>More <%= @category.title %></h1>
          <%= render 'shared/new/waterfall_articles', articles: @category_articles[9..-1], issue_tag_exists: true %>
        </section><!--/ .backlog -->

      <% if @bios.present? %>
        <div class="secondary">
            <section class="reporters">
                <h1>Our Reporters</h1>
                <div class="clearfix">

                <%- @bios.each do |bio| %>
                  <figure class="ratio-pairing">
                        <div class="ratio">
                            <div class="fill"></div>
                            <b class="img-contain"><a href="<%=bio.public_path%>"><img src="<%= bio.headshot.small.url %>"></a>
                            </b>
                        </div><!--/ .ratio -->
                        <figcaption>
                          <h1><%= link_to bio.name, bio.public_path %></h1>
                          <ul class="clearfix">
                            <li><%= link_to 'Email', bio.email, class: 'email', title: "Email #{bio.first_name}" %></li>

                          <% if bio.twitter_handle.present? %>
                            <li><%= link_to "Twitter", twitter_profile_url(bio.twitter_handle), target: "_blank", class: "twitter", title: "#{bio.first_name} on Twitter" %></li>
                          <% end %>

                          </ul>
                        </figcaption>
                  </figure>
                <% end %>

                </div>
            </section><!--/ .reporters -->
            <section class="tweets">
                <h1>In Brief</h1>
                <ul>
                  <% if cached_tweets = Rails.cache.fetch("verticals/#{@category.slug}/twitter_feed") %>
                      <%= cached_tweets %>
                  <% end %>
                </ul>
            </section><!--/ .tweets -->
        </div><!--/ .secondary -->
      <% end %>
    </div>
</div><!--/ .waterfall -->
