<% content_for :main_class, "l-flatpage" %>

<% add_to_page_title @press_release.title %>

<% content_for :opengraph do %>
  <meta property="og:title" content="<%= j @press_release.title %>">
  <meta property="og:type" content="article">
  <meta property="og:url" content="<%= @press_release.public_url %>"/>
  <meta property="og:image" content="<%=image_url('meta/facebook.jpg')%>" />
  <meta name="twitter:card" value="summary">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" value="@kpcc">
  <meta name="twitter:url" value="<%= @press_release.public_url %>">
  <meta name="twitter:title" value="<%= j @press_release.title %>">
  <meta name="twitter:image" content="<%=image_url('meta/twitter.jpg')%>">
<% end %>

<h1 class="o-flatpage__title o-flatpage--full" style="order: 1"><%= @press_release.title %></h1>
<%= cell :flatpage, @press_release, order: 2, email: false %>

