<aside id="<%= id %>" class="c-ad <%= model[:class] %>" <%= order %>>
  <div class="c-ad__container c-ad__container">
    <div class="c-ad__banner">
      <div class="dfp" id='dfp-<%= ad_key %>'>
        <script type='text/javascript'>
          googletag.cmd.push(function() { googletag.display('dfp-<%= ad_key %>'); });
        </script>
      </div>
    </div>
    <% if attribution? %>
      <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
    <% end %>
  </div>
</aside>