<%= cache ["edition","v1", @edition] do %>
    <% content_for :body_class, 'interior ronin short-list' %>
    <header class="edition-marquee">

        <nav class="shortlist-ledge" aria-hidden="true">
            <div class="inner bound">
                <nav>
                    <h1>89.3 KPCC</h1>
                    <ul>
                        <li><a href="http://scpr.org">KPCC Home</a></li>
                        <li><a href="http://scpr.org/listen_live/">Listen Live</a></li>
                        <li><a href="http://scpr.org/news/">News</a></li>
                        <li><a href="http://scpr.org/programs/">Programs</a></li>
                        <li><a href="http://scpr.org/events/">Events</a></li>
                        <li><a href="http://scpr.org/about/">About</a></li>
                        <li><a href="https://scprcontribute.publicradio.org/contribute.php">Pledge Now</a></li>
                    </ul>
                </nav>
                <h2>Short List <span>Weekend</span></h2>
                <time datetime="<%= format_date(@edition.published_at, with: '%F') %>" class="recents-toggle" aria-hidden="true"><span><%= @edition.published_at.day %></span></time>
            </div>
        </nav><!--/ .shortlist-ledge -->

        <div class="inner bound">
            <div class="titling clearfix">
                <h1>Short List <span>for <%= format_date(@edition.published_at, with: '%A, %B %Y') %></span></h1>
                <h2 class="<%= @edition.slug.split('-').first %>"><span><%= @edition.short_list_type %></span></h2><!-- This H2 should always carry either a "pm", "am", or "weekend" class. -->
            </div>
            <h3 class="date">
                <time datetime="<%= format_date(@edition.published_at, with: '%F') %>">
                    <span><%= format_date(@edition.published_at, with: '%B') %></span>
                    <mark><%= @edition.published_at.day %></mark>
               </time>
            </h3>
        </div><!--/ .inner -->

        <aside class="recents">
            <div class="bound">
                <header>
                    <div class="clearfix">
                        <h1>Browse Recent Editions</h1>
                        <button>Close</button>
                    </div>
                </header>
            <time datetime="<%= format_date(@edition.published_at, with: '%F') %>" class="recents-toggle" aria-hidden="true"><span><%= @edition.published_at.day %></span></time>
                <nav>
                    <ul class="clearfix">
                        <% @other_editions.each do |edition| %>
                            <% if abstract = edition.abstracts.first %>
                            <li>
                                <a href="<%= edition.public_path %>">
                                    <figure>
                                        <div class="ratio">
                                            <div class="fill"></div>
                                            <% if abstract.asset.present? %>
                                            <b class="img-contain"><img src="<%= abstract.asset.full.url %>" /></b>
                                            <% end %>
                                        </div>
                                        <figcaption>
                                            <time datetime="<%= format_date(edition.published_at, with: '%F') %>"><span data-short="<%= format_date(edition.published_at, with: '%a') %>" data-long="<%= format_date(edition.published_at, with: '%a') %>"><%= format_date(edition.published_at, with: '%A') %></span> <%= format_date(edition.published_at, with: '%m/%d') %> <b><%= edition.title %></b></time>
                                            <mark><%= abstract.headline %></mark>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                            <% end %>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </aside><!--/ .recents -->

    </header><!--/ .edition-marquee -->

    <div class="page-cols">
    <div class="inner bound clearfix">

        <section class="abstracts">
            <% first_abstract = @edition.abstracts.first %>
            <article name="abstract-01" id="abstract-01">
                <figure class="photo ratio">
                    <div class="fill"></div>
                    <% if first_abstract.asset.present? %>
                        <b class="img-contain"><img src="<%= first_abstract.asset.full.url %>" /></b>
                    <% end %>
                </figure>
                <div class="prose clearfix">
                    <header>
                        <h1><%= first_abstract.headline %></h1>
                        <mark>1 <span>of <b><%= @edition.abstracts.length %></b></span></mark>
                    </header>
                    <div class="eisegesis">
                        <%= first_abstract.summary.html_safe %>
                    </div>
                </div>
                <footer>
                    <a href="<%= first_abstract.url %>">Read full story at <%= first_abstract.source %></a>
                </footer>
            </article>

            <aside class="plug">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
                    <span class="appeal"><a href="/support/underwriting/">Become a KPCC sponsor.</a></span>
                </div>
            </aside>

            <% @edition.abstracts[1..3].each_with_index do |abstract, index| %>
                <article name="abstract-<%= (index+2).to_s.rjust(2, "0") %>" id="abstract-<%= (index+2).to_s.rjust(2, "0") %>">
                    <figure class="photo ratio">
                        <div class="fill"></div>
                        <% if abstract.asset.present? %>
                            <b class="img-contain"><img src="<%= abstract.asset.full.url %>" /></b>
                        <% end %>
                    </figure>
                    <div class="prose clearfix">
                        <header>
                            <h1><%= abstract.headline %></h1>
                            <mark><%= index+2 %> <span>of <b><%= @edition.abstracts.length %></b></span></mark>
                        </header>
                        <div class="eisegesis">
                            <%= abstract.summary.html_safe %>
                        </div>
                    </div>
                    <footer>
                        <a href="<%= abstract.url %>">Read full story at <%= abstract.source %></a>
                    </footer>
                </article>
            <% end %>


            <aside class="plug">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
                    <span class="appeal"><a href="/support/underwriting/">Become a KPCC sponsor.</a></span>
                </div>
            </aside>
            <% if @edition.abstracts[4..6] %>
                <% @edition.abstracts[4..6].each_with_index do |abstract, index| %>
                    <article name="abstract-<%= (index+5).to_s.rjust(2, "0") %>" id="abstract-<%= (index+5).to_s.rjust(2, "0") %>">
                        <figure class="photo ratio">
                            <div class="fill"></div>
                            <% if abstract.asset.present? %><b class="img-contain"><img src="<%= abstract.asset.full.url %>" /></b><% end %>
                        </figure>
                        <div class="prose clearfix">
                            <header>
                                <h1><%= abstract.headline %></h1>
                                <mark><%= index+5 %> <span>of <b><%= @edition.abstracts.length %></b></span></mark>
                            </header>
                            <div class="eisegesis">
                                <%= abstract.summary.html_safe %>
                            </div>
                        </div>
                        <footer>
                            <a href="<%= abstract.url %>">Read full story at <%= abstract.source %></a>
                        </footer>
                    </article>
                <% end %>
            <% end %>

            <aside class="plug">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
                    <span class="appeal"><a href="/support/underwriting/">Become a KPCC sponsor.</a></span>
                </div>
            </aside>

            <% if @edition.abstracts[7..-1] %>
                <% @edition.abstracts[7..-1].each_with_index do |abstract, index| %>
                    <article name="abstract-<%= (index+8).to_s.rjust(2, "0") %>" id="abstract-<%= (index+8).to_s.rjust(2, "0") %>">
                        <figure class="photo ratio">
                            <div class="fill"></div>
                            <b class="img-contain"><img src="<%= abstract.asset.full.url %>" /></b>
                        </figure>
                        <div class="prose clearfix">
                            <header>
                                <h1><%= abstract.headline %></h1>
                                <mark><%= index+8 %> <span>of <b><%= @edition.abstracts.length %></b></span></mark>
                            </header>
                            <div class="eisegesis">
                                <%= abstract.summary.html_safe %>
                            </div>
                        </div>
                        <footer>
                            <a href="<%= abstract.url %>">Read full story at <%= abstract.source %></a>
                        </footer>
                    </article>
                <% end %>
            <% end %>

            <section class="share" aria-hidden="true">
                <div>
                    <h1>Share this edition</h1>
                    <ul class="clearfix">
                        <li class="twitter social_twit" data-url="">
                            <a href="#" class="track-event twitter" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="" data-text="<%= u(@edition.short_list_type) %>">Share via Twitter</a>
                        </li>
                        <li class="email">
                            <a href="#" class="track-event email" data-ga-category="Article" data-ga-action="Share" data-ga-label="Email" data-key="<%= @edition.id %>">Share via Email</a>
                        </li>
                        <li class="facebook social_fb" data-url="">
                            <a href="#" class="track-event facebook" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="">Share via Facebook</a>
                        </li>
                    </ul>
                </div>
            </section>

            <aside class="subscribe">
                <header>
                    <h1>Start your day informed.</h1>
                    <h2><span>Sign up and we’ll deliver KPCC’s Short List to your inbox.</span> <span>Morning, evening, and weekend editions.</span></h2>
                </header>
                <form method="post" name="shortlist-subscribe" action="https://s1715082578.t.eloqua.com/e/f2" id="form352">
                    <input value="shortlist-subscribe" type="hidden" name="elqFormName"  />
                    <input value="1715082578" type="hidden" name="elqSiteId"  />
                    <input name="elqCampaignId" type="hidden">
                    <div class="email-bound"><input id="field0" name="emailAddress" type="text" class="required email" placeholder="Email address"></div>
                    <div style="display:none;"><input name="SCPRShortList" type="checkbox" value="on" checked="checked"  /></div>
                    <input type="submit" value="Subscribe" name="subscribe" class="btn"><br />
                    <input type="hidden" name="elqCustomerGUID" value="">
                    <input type="hidden" name="elqCookieWrite" value="0">
                </form>
            </aside>
        </section><!--/ .abstracts -->

        <div class="supportive">

            <section class="contents">
                <header><h1>Stories in this edition</h1></header>
                <nav>
                    <ol>
                        <% @edition.abstracts.each_with_index do |abstract, index| %>
                            <li><a href="#abstract-<%= (index+1).to_s.rjust(2, "0") %>"><%= abstract.headline %></a></li>
                        <% end %>
                    </ol>
                </nav>
            </section>

            <section class="share">
                <div class="clearfix">
                    <h1>Share this edition</h1>
                    <ul class="clearfix">
                        <li class="twitter social_twit" data-url="<%= @edition.public_url %>">
                            <a href="#" class="track-event twitter" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="<%= @edition.public_url %>" data-text="<%= u(@edition.short_list_type) %>">Share on Twitter</a>
                        </li>
                        <li class="facebook social_fb" data-url="<%= @edition.public_url %>">
                            <a href="#" class="track-event facebook" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="<%= @edition.public_url %>">Share on Facebook</a>
                        </li>
                    </ul>
                </div>
            </section>

        </div><!--/ .supportive -->
    </div><!--/ .inner -->
    </div><!--/ .pagecols -->
<% end %>
