<% content_for :header do %>
  <section class="o-prologue o-prologue--vertical">
    <h1 class="o-prologue__title">The Short List</h1>
    <% if @edition.present? %>
      <p class="o-prologue__description">Headlines for <%= @edition.published_at.strftime("%A, %B %d %Y") %></p>
    <% end %>
  </section>
<% end %>

<% if @edition.present? %>
  <% content_for :main_class, "l-short-list" %>
  <% add_to_page_title "Short List" %>
  <%= cell :social_tools, @edition, display: 'vert' %>
  <%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: 2 %>
  <%= cell(:short_list, @edition, order: 999).call(:side_bar) %>
  <%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 5 %>
  <%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 8 %>
  <%= cell(:short_list, @edition).call(:featured_image) %>
  <%= cell :short_list, @edition %>
  <%= cell :epilogue, @edition, order: 1002 %>
<% else %>
  <% content_for :main_class, "l-error" %>
  <% add_to_page_title "Page Not Found" %>
  <%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: 5 %>
  <%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 7 %>
  <%= cell(:popular_articles, order: 1001).call(:side_bar) %>
  <%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 9 %>
  <section class="o-error">
    <h1 class="o-error__header">There were no Short List entries found on this date.</h1>
    <p>We're sorry, but there is no content available at the date you requested.</p>
    <p>If you're looking for a specific piece of content, please try another date:</p>
  </section>
<% end %>

