<%= form_block "Information" do %>
  <%= f.input :title, input_html: { autocomplete: "off", data: { provide: "typeahead", source: Edition.titles_collection } } %>
<% end %>

<%= form_block "Publishing" do %>
  <%= f.input :status, collection: Edition.status_select_collection, include_blank: false, input_html: { id: "status-select" } %>

  <% if record.email_sent? %>
    <div class="alert alert-info">
      An e-mail has been sent for this edition.
    </div>
  <% else %>
    <% if record.published? && record.send_email? %>
      <div class="alert alert-warning">
        An e-mail will be sent for this edition, but hasn't fired yet.
      </div>
    <% else %>
      <%= f.input :send_email, hint: "Send out an e-mail to everybody subscribed." %>
    <% end %>
  <% end %>

  <%= f.section 'content_alarm' %>
  <%= f.section 'auto_published_at' %>
  <div id="scheduled_status" class="notification block"></div>
<% end %>

<%= form_block "Content" do %>
  <div id="aggregator" class="aggregator"></div>
  <%= f.input :slots_json, as: :hidden, input_html: { id: "slots_json" } %>
<% end %>

<% content_for :footer do %>
  <script>
    aggregator = new outpost.Aggregator(
      "#aggregator", "#slots_json",
      <%= render_json("api/private/v2/articles/collection", articles: record.articles) %>,
      {
        apiType: "private",
        view: {
          dropMinLimit: 1
        },
        params: {
          limit: 20,
          types: 'news,blogs,segments,shells,abstracts',
          token: "<%= Rails.application.config.api['kpcc']['private']['api_token'] %>",
          order: "updated_at", // Since Abstracts use the article's original publish date as its "public_datetime"
          sort_mode: "desc",
          with: { is_live: "1" }
        }
      }
    );
  </script>
<% end %>

<br /><br /><br /><br />
