<%= cache ["blogs","_entry",entry] do %>
<div class="entry content-block">
  <div class="row-fluid">
    <%= content_widget "social_sidebar", entry, audio_options: { context: entry.blog.slug } %>

    <div class="span18 mq-solo-span">
      <article>
        <header>
          <h1 class="story-headline"><%= link_to entry.headline, entry.public_path %></h1>
          <span class="byline">
            <%= render_byline entry %> <span class="pipe">|</span> <%= timestamp(entry.published_at) %>
          </span>
        </header>

        <div class="story-body">
          <div class="visible-reader"><%= content_widget "primary_audio", entry, context: entry.blog.slug %></div>

          <%= render_asset entry %>
          <%= entry.extended_teaser.html_safe %>
        </div>

        <footer>
        </footer>
      </article>
    </div> <!-- span18 -->
  </div> <!-- row fluid -->
</div> <!-- entry -->
<% end %>
