<% add_to_page_title @entry.feature.present? ? "#{@entry.feature.name}: #{@entry.headline}" : @entry.headline %>
<% content_for :opengraph do %><%= render_content @entry, "opengraph" %><% end %>
<% content_for :main_class, "o-article o-article--blog" %>

<% content_for :header do %>
  <section class="o-prologue o-prologue--secondary o-prologue--blog">
    <span class="o-prologue__title"><%= @entry.blog.try(:name) %></span>
    <span class="o-prologue__pipe">|</span>
    <span class="o-prologue__description"><%= @entry.blog.try(:teaser) %></span>
  </section>
<% end %>

<!-- LEFT ASIDE -->
<aside class="l-column--left l--centerize" style="order: -1;">
  <%= cell :article_audio, @article %>
  <%= cell :social_tools, @article, display: 'vert' %>
</aside>

<!-- HEADLINE -->
<%= cell :article_headline, @article %>

<!-- RIGHT ASIDES -->
<%= cell(:ad, slot: "a", class: "l-column--right", id: 'c-ad--a', attribution: false, order: -1).show do
  '<hr class="b-rule l-column--right" style="order: 5;" />'
end %>

<%= cell(:ad, slot: "b", class: "l-column--right", order: 999).show do
  '<hr class="b-rule l-column--right" style="order: 12;" />'
end %>

<%= cell :ad, slot: "c", class: "l-column--right", order: 1002 %>

<aside class="o-overview l-column--right" style="order: 999;" >
  <h6 class="o-overview__heading b-heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--bold">
    <a class="b-link b-link--callout" href="<%= @blog.public_url %>"><%= @blog.name %></a>
  </h6>
  <span class="o-overview__description"><%= @blog.description %></span>
</aside>

<%= cell :blog_hosts, @blog, class: "l-column--right", order: 999 %>

<%= cell :recent_content, @entry.sister_blog_entries, class: "l-column--right o-recent-content--blog-entry", blog: @blog.name, order: 1000 %>

<!-- ARTICLE BODY -->
<%= cell :article, @article, popular_blog: @popular_blog_entry, headline: false %>

<!-- MOAR STUFF -->
<%= cell :newsletter_appeal, nil, order: 998 %>

<hr class="o-article__rule--ending b-rule b-rule--primary-lightest b-rule--padded" style="order: 998;" />

<%= cell :related_links, @entry, order: 998 %>

<%= cell :social_tools, @article, display: 'horiz', order: 998 %>

<%= cell :previously, @entry.sister_blog_entries.first(1), blog: @blog.name, order: 998 %>

<!-- FOOTER CONTENT -->
<hr class="b-rule b-rule--secondary-alt b-rule--padded l-column--boundless" style="order: 1001;" />

<%= cell :comments, @article, order: 1001 %>

<%= cell :featured_blogs, @entry.sister_blog_entries.first(4), blog: @blog.name, class: "l-column--boundless", order: 1002 %>

<%= cell :popular_articles, @program, class: "l-column--boundless o-popular-stories--horiz", order: 1002 %>

<%= cell :epilogue, @article, class: "l-column--boundless", order: 1003%>

