<span class="story-status unstyled">
  <% if record.respond_to? :status_text %>
    <strong>Status</strong>

      <%= display_status(record.status, record) %>

      <% if record.respond_to?(:published_at) && record.respond_to?(:published?) && record.published? %>
        on <strong><%= format_date record.published_at, time: true %></strong>
      <% end %>

      <% if record.respond_to?(:alarm) && record.alarm.present? && record.alarm.fire_at.present? %>
        Alarm - <strong><%= format_date record.alarm.fire_at, time: true %></strong>
      <% end %>

  <% end %>
  &nbsp;

    <% if record.class.has_secretary? %>
      <a href="<%= secretary.history_path(record.class.route_key, record.id) %>" title="history">Last Updated: <strong><%= format_date record.updated_at, time: true %></strong></a>
    <% else %>
      Last Updated: <strong><%= format_date record.updated_at, time: true %></strong>
    <% end %>

</span>

<%= content_for :form_nav %>