<%= render partial: "outpost/resource/status", locals: {record: @record} %>
<br /><br />
<% add_to_page_title "Editing: #{@record.to_title}" %>
<% f = nil %>

<% page_wrapping_form([:outpost, @record], html: { multipart: @record.respond_to?(:audio) || @record.respond_to?(:image), class: "form-horizontal js-content-form" }) do |f| %>

  <%= render 'errors', f: f %>
  <%= render 'form_fields', record: @record, f: f %>
  <%= render 'extra_fields', f: f %>
  <%= render "outpost/shared/submit_row", record: @record %>

  <% content_for :footer do %>
    <script>outpost.Utilities.preventEnterFromSubmittingForm("#<%=f.options[:html][:id]%>");</script>
  <% end %>

  <% content_for :sidebar do %>
    <%= render "outpost/shared/form_nav" %>
    <hr>
    <div id="dock"></div>
    <h5>Currently Editing on This Page</h5>
    <div id="newsroom-edit_user-list" class="viewers"></div>
  <% end %>

<% end %>

<% content_for :footer do %>
  <script type="text/javascript">
    preview = new outpost.Preview({baseUrl: '<%= @record.admin_show_path %>'});

    newsroom = new scpr.Newsroom(
      "<%= @record.obj_key %>", // room ID
      <%= render_json('api/private/v2/admin_users/admin_user', admin_user: current_user) %>, // user info
      { "record": <%= j @record.to_json.html_safe %>,
        "el": "#newsroom-edit_user-list" }
    );
  </script>
<% end %>