<% content_for :main_class, "l-flatpage" %>

<% unless @flatpage.template == "none" %>
  <% add_to_page_title @flatpage.title %>

  <% content_for :opengraph do %>
    <meta property="og:description" content="<%= j @flatpage.description %>">
    <meta property="og:title" content="<%= j @flatpage.title %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= @flatpage.public_url %>"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" value="@kpcc">
    <meta name="twitter:url" value="<%= @flatpage.public_url %>">
    <meta name="twitter:title" value="<%= j @flatpage.title %>">
    <meta name="twitter:description" value="<%= j @flatpage.description %>">
    <% if @flatpage.try(:extra_metahead) %>
      <%= @flatpage.extra_metahead.html_safe %>
    <% else %>
      <meta property="og:image" content="<%=image_url('meta/facebook.jpg')%>" />
      <meta name="twitter:image" content="<%=image_url('meta/twitter.jpg')%>">
    <% end %>
  <% end %>

  <%= render "shared/ads/dfp_script_config" %>
  <% content_for :header, @flatpage.extra_head.html_safe %>
  <% content_for :footer, @flatpage.extra_tail.html_safe %>
  <%= cell :social_tools, @flatpage, display: 'vert', email: false %>
<% end %>

<% if @flatpage.template == "inherit" %>
  <%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
  <%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 998 %>
  <%= cell(:appeal, nil, order: 999).call(:breaking_news) %>
  <%= cell(:popular_articles, nil, order: 1000).call(:side_bar) %>
  <%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 1001 %>
<% end %>
<h1 class="o-flatpage__title o-flatpage--<%= @flatpage.template %>" style="order: 1"><%= @flatpage.title %></h1>
<%= cell :flatpage, @flatpage, order: 2, email: false %>

