<section class="segments">
  <h1>Recently on <cite><%= program.title %></cite></h1>
  <% cache ["featured-program-segments","program",program] do %>
    <div class="series clearfix">
      <% segments.first(14).each do |segment| %>
        <% cache ["featured-program-segments",segment] do %>
          <figure>
              <div class="photo ratio">
                <a href="<%= segment.public_path %>">
                  <div class="fill"></div>
                  <time datetime="<%= format_date(segment.published_at, with: "%F") %>"><span><%= format_date(segment.published_at, with: "%a") %></span> <%= format_date(segment.published_at, with: "%B %e") %></time>
                  <% if segment.audio.any? %>
                    <mark class="has-audio"><%= format_clip_duration segment.audio.first.duration %></mark>
                  <% end %>
                  <b class="img-contain"><img src="<%= segment.asset.full.url %>" alt="" /></b>
                </a>
              </div>
              <figcaption><a href="<%= segment.public_path %>"><%= segment.short_headline %></a></figcaption>
          </figure>
        <% end %>
      <% end %>

      <figure>
          <div class="photo ratio">
            <a href="/programs/<%= program.slug %>/featured?view=segments">
              <div class="fill"></div>
              <b class="img-contain"></b>
            </a>
          </div>
          <figcaption><a href="/programs/<%= program.slug %>/featured?view=segments">Browse through more of <%= program.title %></a></figcaption>
      </figure>

    </div><!--/ .series -->


    <aside class="podcast-appeal">
      <div class="inner">
        <div class="prose">
          <h1>Subscribe to <%= program.title %>’s podcast, and receive every new episode, automatically, as soon as it’s released. Listen on your own time, your own way.</h1>
          <ul class="clearfix">
            <li class="itunes"><a href="<%= program.get_link('podcast') %>"><span>Subscribe via iTunes</span></a></li>
            <li class="any"><a href="http://www.scpr.org/podcasts/<%= program.slug %>"><span>Any podcast app (XML)</span></a></li>
          </ul>
        </div>
      </div>
    </aside>
<% end %>

</section><!--/ .segments -->