<section class="episodes">
  <h2>Recent Episodes</h2>
  <nav>
    <ul>
      <% episodes.map(&:to_article).first(5).each do |episode| %>
        <li><a href="<%= episode.public_path %>">
          <time datetime="<%= format_date(episode.public_datetime, with:'%F') %>"><mark><%= format_date(episode.public_datetime, with: '%A') %></mark>, <%= format_date(episode.public_datetime, with: '%B %e, %Y') %></time>
          <span><%= episode.short_title %></span></a></li>
      <% end %>
    </ul>
  </nav>
  <footer>
    <a href="/programs/<%= program.slug %>/featured?view=episodes"><span>See <cite><%= program.title %></cite>&rsquo;s episode archive</span></a>
  </footer>
</section><!--/ .episodes -->