<% content_for :main_class, "o-article o-article--segment" %>

<% content_for :header do %>
  <section id="o-prologue--program__segment" class="o-prologue o-prologue--program">
    <a class="o-prologue__logo" href="/programs/<%= @program.try(:slug) %>">
      <% if asset_exist?("show-logos/#{@program.try(:slug)}.svg") %>
        <img src='<%= image_path "show-logos/#{@program.try(:slug)}.svg" %>' />
      <% else %>
        <h1><%= @program.try(:title) %></h1>
      <% end %>
    </a>
    <span class="o-prologue__description">
      <div class="o-prologue__teaser">
        <%= @program.try(:teaser) %>
      </div>
      <address>Hosted by <%= @program.try(:host) %></address>
      <div class="o-prologue__airtime">
        <div>Airs <%= @program.try(:airtime) %></div>
        <div class="o-prologue__social-icons">
        </div>
      </div>
    </span>
  </section>
<% end %>

<!-- LEFT ASIDE -->
<aside class="l-column--left l--centerize" style="order: -1;">
  <%= cell :article_audio, @article, preview: true, audio_context: 'outpost' %>
  <%= cell :social_tools, @article, display: 'vert' %>
</aside>

<!-- HEADLINE -->
<%= cell :article_headline, @segment, preview: true %>

<!-- RIGHT ASIDES -->
<%= cell(:ad, slot: "a", class: "l-column--right", id: "c-ad--a", attribution: false, order: -1).show do
  '<hr class="b-rule l-column--right" style="order: 5;" />'
end %>

<%= cell(:ad, slot: "b", class: "l-column--right", order: 1000).show do
  '<hr class="b-rule l-column--right" style="order: 12;" />'
end %>

<%= cell :recent_content, @program, class: "l-column--right", order: 1000 %>

<hr class="b-rule l-column--right" />

<%= cell :ad, slot: "c", class: "l-column--right", order: 1001 %>

<!-- CENTER CONTENT-->
<%= cell :article, @segment, type: 'story', headline: false, preview: true %>

<%= cell :newsletter_appeal, @article, order: 999 %>

<hr class="o-article__rule--ending b-rule b-rule--primary-lightest b-rule--padded" style="order: 999;" />

<%= cell :related_links, @segment, order: 999 %>

<%= cell :more_from_episode, @episode, order: 999 %>

<%= cell :social_tools, @article, display: 'horiz', order: 999 %>

<!-- FOOTER CONTENT -->
<hr class="o-article__rule--ending b-rule b-rule--secondary-alt b-rule--padded l-column--boundless" style="order: 1001;" />

<%= cell :featured_programs, @program, class: "l-column--boundless", order: 1001 %>

<%= cell :popular_articles, @program, class: "l-column--boundless o-popular-stories--horiz", order: 1001 %>

<%= cell :epilogue, @article, class: "l-column--boundless", order: 1001 %>
