<div class="appellation bound">
  <h1><%= article.headline %></h1>
  <p><span>by <b><%= render_byline article %></b></span> <%= smart_date_js article.published_at %></p>
</div><!--/ .appellation -->

<div class="report">
    <div class="inner bound clearfix">


        <article class="prose">

            <%= render_asset article, context:"segments" %>

            <%= content_widget "new/primary_audio", article, context: article.show.slug %>


            <%= render 'shared/new/social_share', article: article.get_article, cssClass: "pinned" %>


            <div class="prose-columns clearfix">

              <div class="primary">

              <%= content_widget "new/extra_audio", article, context: article.show.slug %>


              <div class="prose-body">
                  <%= render_with_inline_assets article.get_article %>
                  <% if article.joined_bylines[:contributing].present? %>
                      <footer class="contributor">
                          <p><%= render_contributing_byline article %></p>
                      </footer>
                  <% end %>
                  <%= pij_source(article) %>
              </div><!--/ .prose-body -->

              <% if article.try(:show).try(:newsletter_form_name) && !article.try(:show).try(:newsletter_form_name).empty? %>
                <%= render partial: 'shared/widgets/program_newsletter_subscribe', locals: {program: article.try(:show)} %>
              <% end %>

              <%= render 'shared/cwidgets/related_links', content: article.get_article %>

              <% if article.published_episode.present? %>
              <aside class="ancillary episode-contents">
                <header>
                  More from this episode
                  <cite>
                    <a href="<%= article.published_episode.public_path %>">
                      <%= @program.title %> for <%= article.published_episode.air_date.strftime("%B %d, %Y") %>
                    </a>
                  </cite>
                </header>
                <h1><%= link_to article.published_episode.headline, article.published_episode.public_path %></h1>
                <nav>
                  <% episode_article = article.episode.try(:get_article) %>
                  <ul>
                    <%= cache ["segment", "content", episode_article] do %>
                      <% episode_article.related_content.each do |content| %>
                        <li class="<%= ("selected" if article.id == content.id) %>">
                          <%= link_to content.short_title, content.public_path %>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </nav>
              </aside>
              <% end %>


            </div><!--/ .primary -->



            <div class="secondary">

              <%= render 'shared/new/social_share', article: article.get_article %>

              <div class="buddy-pairing clearfix">
                <%= content_widget 'new/comment_count', article %>
              </div>

            </div><!--/ .secondary -->


            </div><!--/ .prose-columns -->

        </article>
