<% article = @segment %>
<% content_for :body_class, 'interior single segment' %>

<div class="appellation bound">
  <h1><%= article.headline %></h1>
  <p><span>by <b><%= render_byline article %></b></span> <%= smart_date_js article.published_at %></p>
</div><!--/ .appellation -->

<div class="report">
    <div class="inner bound clearfix">


        <article class="prose">

            <%= render_asset article, context:"segments" %>

            <%= content_widget "new/primary_audio", article %>


            <%= render 'shared/new/social_share', article: article.to_article, cssClass: "pinned" %>


            <div class="prose-columns clearfix">

              <div class="primary">

              <%= content_widget "new/extra_audio", article %>


              <div class="prose-body">
                  <%= article.body.html_safe %>
                  <% if article.joined_bylines[:contributing].present? %>
                      <footer class="contributor">
                          <p><%= render_contributing_byline article %></p>
                      </footer>
                  <% end %>
                  <%= pij_source(article) %>
              </div><!--/ .prose-body -->

              <%= render 'shared/cwidgets/related_links', content:article %>

            </div><!--/ .primary -->



            <div class="secondary">

              <%= render 'shared/new/social_share', article: article.to_article %>

              <div class="buddy-pairing clearfix">
                <%= content_widget 'new/comment_count', article %>
              </div>

            </div><!--/ .secondary -->


            </div><!--/ .prose-columns -->

        </article>
