<% add_to_page_title @episode.headline %>
<% content_for :body_class, 'interior segment episode' %>

<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/program_content_titling' %>
<% end %>

<div class="appellation bound">
  <h1><%= @episode.headline %></h1>
</div>

<div class="report">
    <div class="inner bound clearfix">

      <article class="prose">
      
        <section class="episode-synopsis clearfix">
          <h1>
            <%= link_to @program.title, @program.public_path %>
            <span>for</span>
            <time datetime="<%= format_date(@episode.air_date, with: '%F') %>"><%= format_date(@episode.air_date, with: '%B %d, %Y') %></time>
          </h1>
          <div class="teaser"><p><%= @episode.teaser.html_safe %></p></div>
        </section>

        <% if audio = @episode.audio.first %>
          <%= content_widget "new/primary_audio", @episode %>
        <% end %>



        <section class="episode-enumeration">

          <h1>Segments From This Episode</h1>

          <article class="clearfix">
            <figure class="asset">
              <mark class="order">8</mark>
              <div class="ratio">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://a.scpr.org/i/fd515c088744a840b7039a1eee47d9ce/76554-eight.jpg" alt="" /></b>
              </div>
            </figure>
            <div class="exposition">
              <span class="author">Charles Solomon with John Rabe</span>
              <h1>Big Hero 6's big heroes: the artists who designed San Fransokyo</h1>
              <div class="precis">
                <p>John Rabe and organ builder Manuel Rosales take us inside the Disney Hall Organ, the iconic centerpiece of Frank Gehry's Walt Disney Concert Hall.</p>
                <aside class="meta">
                  <ul>
                    <li>comments 43</li>
                    <li>audio coming soon</li>
                  </li>
                </aside>
              </div>
              <footer class="legacy"><span>Originally published <time datetime="2012-11-06">11/6/2012</time></span></footer>
            </div><!--/ .exposition -->
          </article>
          
        </section><!--/ .episode-segments -->



        <!-- Rundown of Segments -->
        <section class="show-segments">
          <%= any_to_list? @segments, title: "Segments" do %>
            <%= cache ["segment-teasers", @segments.to_a] do %>
              <% @segments.each do |segment| %>
              <div class="teaser">
                <% if segment.assets.present? %>
                    <%= render_asset segment, display: 'small' %>
                    <%= timestamp(segment.published_at) %>
                <% else %>
                    <!-- Do something graceful if we don't have an image asset on a segment -->
                <% end %>

                <h2><%= link_to segment.short_headline, segment.public_path  %></h2>
                <p class="byline"><%= render_byline segment %></p>
                <%= segment.teaser.html_safe %>

                <aside class="decorator">
                  <%= content_widget "primary_audio", segment, context: segment.show.slug %>
                  <%= comment_count_for segment %>
                </aside>
              </div>
              <% end %>

            <% end %>
          <% end %>
        </section>

      </article>

<% cache ["show", "program-supportive", "v1", @episode] do %>
    <%= render "programs/kpcc/program_supportive" %>

  </div>
</div><!--/ .report -->


<!-- ///////////////////////////////////////////////////////////// -->
<!-- ////////////////  Post-Episode Bits GO HERE  //////////////// -->
<!-- ///////////////////////////////////////////////////////////// -->


<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<div class="placard-waystation"></div>
<% end %>

<% cache ["show", "featured-programs", "v16", @featured_programs] do %>
  <%= render 'programs/kpcc/featured_programs' %>
<% end %>

<% if @popular_articles %>
  <%= render 'shared/new/popular_articles',
      articles: @popular_articles.first(4),
      header: 'Popular Now on KPCC' %>
<% end %>

