<% add_to_page_title @episode.headline %>
<% content_for :body_class, 'interior segment episode' %>

<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/program_content_titling' %>
<% end %>

<div class="appellation bound">
  <h1><%= @episode.headline %></h1>
</div>

<div class="report">
    <div class="inner bound clearfix">

      <article class="prose">
      
        <section class="episode-synopsis clearfix">
          <h1>
            <%= link_to @program.title, @program.public_path %>
            <span>for</span>
            <time datetime="<%= format_date(@episode.air_date, with: '%F') %>"><%= format_date(@episode.air_date, with: '%B %d, %Y') %></time>
          </h1>
          <div class="teaser"><p><%= @episode.teaser.html_safe %></p></div>
        </section>

        <% if audio = @episode.audio.first %>
          <%= content_widget "new/primary_audio", @episode %>
        <% end %>



        <section class="episode-enumeration">

          <h1>Segments From This Episode</h1>


          <article class="clearfix">
            <a href="!!!!!!!!-FIRST-PERMALINK-TO-ARTICLE-!!!!!!!!">
              <figure class="asset">
                <mark class="order">1</mark>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://a.scpr.org/i/9c82976547867798f40cffbc3acc6d89/95709-eight.jpg" alt="" data-width="730" data-height="388" /></b>
                </div>
              </figure>
            </a>
            <div class="exposition">
              <a href="!!!!!!!!-SECOND-PERMALINK-TO-ARTICLE-!!!!!!!!">
                <span class="author">Charles Solomon with John Rabe</span>
                <h1>Big Hero 6's big heroes: the artists who designed San Fransokyo</h1>
              </a>
              <div class="precis">
                <p><a href="!!!!!!!!-THIRD-PERMALINK-TO-ARTICLE-!!!!!!!!">Charles Solomon talks about Disney's animated blockbuster "Big Hero 6" with two of the artists responsible for its look: Paul Felix and Scott Watanabe.</a></p>
                <aside class="meta">
                  <ul>
                    <li class="comments"><a href="#"><span>Comments:</span> <b>43</b></a></li>
                    <li class="comingsoon"><a href="#"><span>Audio status:</span> <b>Audio coming soon</b></a></li>
                  </li>
                </aside>
              </div>
              <footer class="legacy"><span>Originally published <time datetime="2012-11-06">11/6/2012</time></span></footer>
            </div><!--/ .exposition -->
          </article>


          <article class="clearfix">
            <a href="!!!!!!!!-FIRST-PERMALINK-TO-ARTICLE-!!!!!!!!">
              <figure class="asset">
                <mark class="order">2</mark>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://a.scpr.org/i/95f3ca2a702684f314162f3aebce9515/95383-eight.jpg" alt="" data-width="729" data-height="486" /></b>
                </div>
              </figure>
            </a>
            <div class="exposition">
              <a href="!!!!!!!!-SECOND-PERMALINK-TO-ARTICLE-!!!!!!!!">
                <span class="author">John Rabe</span>
                <h1>Inside the living, breathing Disney Hall organ as it turns 10</h1>
              </a>
              <div class="precis">
                <p><a href="!!!!!!!!-THIRD-PERMALINK-TO-ARTICLE-!!!!!!!!">John Rabe and organ builder Manuel Rosales take us inside the Disney Hall Organ, the iconic centerpiece of Frank Gehry's Walt Disney Concert Hall.</a></p>
                <aside class="meta">
                  <ul>
                    <li class="comments"><a href="#"><span>Comments:</span> <b>43</b></a></li>
                    <li class="play"><a href="#"><span>Play Clip:</span> <b>12:53</b></a></li>
                  </li>
                </aside>
              </div>
              <footer class="legacy"><span>Originally published <time datetime="2012-11-06">11/6/2012</time></span></footer>
            </div><!--/ .exposition -->
          </article>


        </section><!--/ .episode-segments -->



        <!-- Rundown of Segments -->
        <section class="show-segments">
          <%= any_to_list? @segments, title: "Segments" do %>
            <%= cache ["segment-teasers", @segments.to_a] do %>
              <% @segments.each do |segment| %>
              <div class="teaser">

                <% if segment.asset.present? %>
                <img src="<%= segment.asset.full.url %>" alt="" data-width="<%= segment.asset.full.width %>" data-height="<%= segment.asset.full.height %>" />
                <% end %>

                <%# if segment.assets.present? %>
                    <%#= render_asset segment, display: 'small' %>
                    <%#= timestamp(segment.published_at) %>
                <%# else %>
                    <!-- Do something graceful if we don't have an image asset on a segment -->
                <%# end %>

                <h2><%= link_to segment.short_headline, segment.public_path  %></h2>
                <p class="byline"><%= render_byline segment %></p>
                <%= segment.teaser.html_safe %>

                <aside class="decorator">
                  <%= content_widget "primary_audio", segment, context: segment.show.slug %>
                  <%= comment_count_for segment %>
                </aside>
              </div>
              <% end %>

            <% end %>
          <% end %>
        </section>

      </article>

<% cache ["show", "program-supportive", "v1", @episode] do %>
    <%= render "programs/kpcc/program_supportive" %>

  </div>
</div><!--/ .report -->


<!-- ///////////////////////////////////////////////////////////// -->
<!-- ////////////////  Post-Episode Bits GO HERE  //////////////// -->
<!-- ///////////////////////////////////////////////////////////// -->


<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<div class="placard-waystation"></div>
<% end %>

<% cache ["show", "featured-programs", "v16", @featured_programs] do %>
  <%= render 'programs/kpcc/featured_programs' %>
<% end %>

<% if @popular_articles %>
  <%= render 'shared/new/popular_articles',
      articles: @popular_articles.first(4),
      header: 'Popular Now on KPCC' %>
<% end %>

