<% add_to_page_title @episode.headline %>
<% content_for :body_class, 'interior segment episode' %>

<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/program_content_titling' %>
<% end %>

<div class="appellation bound">
  <h1><%= @episode.headline %></h1>
</div>

<div class="report">
    <div class="inner bound clearfix">

      <div class="prose">
      
        <section class="episode-synopsis clearfix">
          <h1>
            <%= link_to @program.title, @program.public_path %>
            <span>for</span>
            <time datetime="<%= format_date(@episode.air_date, with: '%F') %>"><%= format_date(@episode.air_date, with: '%B %d, %Y') %></time>
          </h1>
        </section>

        <% if audio = @episode.audio.first %>
          <%= content_widget "new/primary_audio", @episode, prompt: "Listen to this episode." %>
        <% end %>



        <section class="episode-enumeration">

          <h1>Segments From This Episode</h1>


          <article class="clearfix">
            <a href="!!!!!!!!-FIRST-PERMALINK-TO-ARTICLE-!!!!!!!!">
              <figure class="asset">
                <mark class="order">1</mark>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://a.scpr.org/i/9c82976547867798f40cffbc3acc6d89/95709-eight.jpg" alt="" data-width="730" data-height="388" /></b>
                </div>
              </figure>
            </a>
            <div class="exposition">
              <a href="!!!!!!!!-SECOND-PERMALINK-TO-ARTICLE-!!!!!!!!">
                <span class="author">Charles Solomon with John Rabe</span>
                <h1>Big Hero 6's big heroes: the artists who designed San Fransokyo</h1>
              </a>
              <div class="precis">
                <p><a href="!!!!!!!!-THIRD-PERMALINK-TO-ARTICLE-!!!!!!!!">Charles Solomon talks about Disney's animated blockbuster "Big Hero 6" with two of the artists responsible for its look: Paul Felix and Scott Watanabe.</a></p>
                <aside class="meta">
                  <ul>
                    <li class="comments"><a href="#"><span>Comments:</span> <b>43</b></a></li>
                    <li class="comingsoon"><a href="#"><span>Audio status:</span> <b>Audio coming soon</b></a></li>
                  </li>
                </aside>
              </div>
              <footer class="legacy"><span>Originally published <time datetime="2012-11-06">11/6/2012</time></span></footer>
            </div><!--/ .exposition -->
          </article>


          <article class="clearfix">
            <a href="!!!!!!!!-FIRST-PERMALINK-TO-ARTICLE-!!!!!!!!">
              <figure class="asset">
                <mark class="order">2</mark>
                <div class="ratio">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://a.scpr.org/i/95f3ca2a702684f314162f3aebce9515/95383-eight.jpg" alt="" data-width="729" data-height="486" /></b>
                </div>
              </figure>
            </a>
            <div class="exposition">
              <a href="!!!!!!!!-SECOND-PERMALINK-TO-ARTICLE-!!!!!!!!">
                <span class="author">John Rabe</span>
                <h1>Inside the living, breathing Disney Hall organ as it turns 10</h1>
              </a>
              <div class="precis">
                <p><a href="!!!!!!!!-THIRD-PERMALINK-TO-ARTICLE-!!!!!!!!">John Rabe and organ builder Manuel Rosales take us inside the Disney Hall Organ, the iconic centerpiece of Frank Gehry's Walt Disney Concert Hall.</a></p>
                <aside class="meta">
                  <ul>
                    <li class="comments"><a href="#"><span>Comments:</span> <b>43</b></a></li>
                    <li class="play"><a href="#"><span>Play Clip:</span> <b>12:53</b></a></li>
                  </li>
                </aside>
              </div>
              <footer class="legacy"><span>Originally published <time datetime="2012-11-06">11/6/2012</time></span></footer>
            </div><!--/ .exposition -->
          </article>




          <div style="background: lime; padding: 20px; box-sizing: border-box; text-align: center; margin-bottom: 50px;">Okay, that's enough for the static samples. Here are the dynamic segments.</div>




          <%= any_to_list? @segments, title: "Segments" do %>
            <%= cache ["segment-teasers", @segments.to_a] do %>
              <% @segments.each.with_index do |segment, index| %>
              <article class="clearfix">
                <a href="<%= segment.public_path %>">
                  <figure class="asset">
                    <mark class="order"><%= index + 1 %></mark>
                    <div class="ratio">
                      <div class="fill"></div>
                      <b class="img-contain">
                        <% if segment.asset.present? %>
                        <img src="<%= segment.asset.full.url %>" alt="" data-width="<%= segment.asset.full.width %>" data-height="<%= segment.asset.full.height %>" />
                        <% end %>
                      </b>
                    </div>
                  </figure>
                </a>
                <div class="exposition">
                  <a href="<%= segment.public_path %>">
                    <h1><%= segment.short_headline %></h1>
                  </a>
                  <div class="precis">
                    <p><a href="<%= segment.public_path %>"><%= segment.teaser.html_safe %></a></p>
                    <aside class="meta">
                      <ul>
                        <li class="comments"><a href="#"><span>Comments:</span> <b><%= comment_count_for segment %></b></a></li>
                        <li class="play"><%= content_widget "primary_audio", segment, context: segment.show.slug %></li>
                      </li>
                    </aside>
                  </div>
                  <%= timestamp_if_segment_is_legacy segment.published_at, @episode.air_date %>
                </div><!--/ .exposition -->
              </article>

              <% end %>
            <% end %>
          <% end %>

        </section><!--/ .episode-segments -->
      </div><!--/ .prose -->


<% cache ["show", "program-supportive", "v1", @episode] do %>
    <%= render "programs/kpcc/program_supportive" %>

  </div>
</div><!--/ .report -->




<div class="episode-postlude">
  <div class="inner bound clearfix">


    <section class="recents">
      <h1>Recent Episodes from <%= @program.title %></h1>
      <div class="articles clearfix">
        <% @episodes.map(&:to_article).each do |episode| %>
          <article>
            <a href="<%= episode.public_path %>">
              <h1><%= episode.short_title %></h1>
              <div class="brief">
                <% if episode.assets.present? %>
                  <b class="asset"><%= render_asset episode, display: 'thumbnail' %></b>
                <% end %>
                <div class="synopsis">
                  <time datetime="<%= format_date(episode.public_datetime, with:'%F') %>"><mark><%= format_date(episode.public_datetime, with: '%A') %></mark>, <%= format_date(episode.public_datetime, with: '%B %e, %Y') %></time>
                  <p><%= episode.teaser %></p>
                </div>
              </div>
            </a>
          </article>
        <% end %>
      </div><!--/ .articles -->
    </section><!--/ .recents -->

    
    <section class="archive-browser">
      <h1><span>Browse the <%= @program.title %> Archives</span></h1>
      <div class="columns">

        <!--
        ==========================================================
        Okay, here's what's up.
        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Liminal-Picker has a very temporary, ephemeral, cosmetic
        job to do: He only appears for tablet-and-wider users,
        and only passes choices on to *the actual form,* which
        is what handheld users see, and which fires off the
        actual, useful Ajax request.
        ==========================================================
        -->
        <aside class="liminal-picker" aria-hidden="true">
          <div class="years">
            <ul>
              <li><span>2015</span></li>
              <li class="selected"><span>2014</span></li>
              <li><span>2013</span></li>
              <li><span>2012</span></li>
              <li><span>2011</span></li>
              <li><span>2010</span></li>
              <li><span>2009</span></li>
              <li><span>2008</span></li>
            </ul>
          </div>
          <div class="months">
            <ul>
              <li class="selected"><span>December</span></li>
              <li><span>November</span></li>
              <li><span>October</span></li>
              <li><span>September</span></li>
              <li><span>August</span></li>
              <li><span>July</span></li>
              <li><span>June</span></li>
              <li><span>May</span></li>
              <li><span>April</span></li>
              <li><span>March</span></li>
              <li><span>February</span></li>
              <li><span>January</span></li>
            </ul>
          </div>
        </aside><!--/ .liminal-picker -->

        <div class="directory">
          <aside class="standard-picker">
            <form>
              <div class="fields clearfix">
                <div class="field years">
                  <select autocomplete="off">
                      <option>2015</option>
                      <option selected="selected">2014</option>
                      <option>2013</option>
                      <option>2012</option>
                      <option>2011</option>
                      <option>2010</option>
                      <option>2009</option>
                      <option>2008</option>
                  </select>
                </div>
                <div class="field months">
                  <select autocomplete="off">
                      <option selected="selected">December</option>
                      <option>November</option>
                      <option>October</option>
                      <option>September</option>
                      <option>August</option>
                      <option>July</option>
                      <option>June</option>
                      <option>May</option>
                      <option>April</option>
                      <option>March</option>
                      <option>February</option>
                      <option>January</option>
                  </select>
                </div>
              </div><!--/ .fields -->
            </form>
          </aside><!--/ .standard-picker -->
          <div class="results">
            <ul>
              <li><a href="#"><time datetime="2014-12-01">1</time> <span>Mechanics of the Sony hack, LA police get body cameras, Gena Rowlands new leading role</span></a></li>
              <li><a href="#"><time datetime="2014-12-02">2</time> <span>Americans' portrayal in North Korean films, privacy and security in an ever-connected world</span></a></li>
              <li><a href="#"><time datetime="2014-12-03">3</time> <span>Sony's management style, a history of politically controversial films, Robin Williams' last movie</span></a></li>
              <li><a href="#"><time datetime="2014-12-04">4</time> <span>Keeping your credit safe for the holidays, D'Angelo, Border Patrol seeks female agents</span></a></li>
              <li><a href="#"><time datetime="2014-12-07">7</time> <span>Black effigies at UC Berkeley, more NFL controversy, big changes before big birthdays</span></a></li>
              <li><a href="#"><time datetime="2014-12-08">8</time> <span>Ferguson decision aftermath, what US-Mexico border sounds like, Shazam app's effect on music industry</span></a></li>
              <li><a href="#"><time datetime="2014-12-09">9</time> <span>Uber revolt, war in cyberspace, gender imbalance in film</span></a></li>
              <li><a href="#"><time datetime="2014-12-10">10</time> <span>Immigration reform reactions and effects, Friday Flashback</span></a></li>
              <li><a href="#"><time datetime="2014-12-11">11</time> <span>Ferguson fears, Mexico president's mansion controversy, never wash your car again</span></a></li>
              <li><a href="#"><time datetime="2014-12-14">14</time> <span>America's hostage policy, 'gay wing' at LA County jail and Bill Cosby's special cancelled</span></a></li>
              <li><a href="#"><time datetime="2014-12-15">15</time> <span>NFL wives and domestic violence, hydrogen cars, 'Rebel music' explores indigenous communities' issues</span></a></li>
              <li><a href="#"><time datetime="2014-12-16">16</time> <span>Groundwater, Michael Brown audio tapes, the true story of 'Foxcatcher'</span></a></li>
              <li><a href="#"><time datetime="2014-12-17">17</time> <span>Obama's immigration executive order, LGBT veterans, black photographers</span></a></li>
              <li><a href="#"><time datetime="2014-12-18">18</time> <span>Latest in Ferguson, Hollywood war veterans, three-wheeled vehicles</span></a></li>
              <li><a href="#"><time datetime="2014-12-21">21</time> <span>US and China's global warming plan, female veterans challenges, the bad effects of sugar</span></a></li>
              <li><a href="#"><time datetime="2014-12-22">22</time> <span>Declining ranks at veterans clubs, do strawberries pose danger, new life for old 78 RPM recordings</span></a></li>
              <li><a href="#"><time datetime="2014-12-23">23</time> <span>Veterans' issues, poor track records of nursing homes and fall TV survivors</span></a></li>
              <li><a href="#"><time datetime="2014-12-24">24</time> <span>How Facebook can fight Ebola, Californians helping to rebuild in the Philippines, quidditch in real life</span></a></li>
              <li><a href="#"><time datetime="2014-12-25">25</time> <span>Congressional women, college 'success fees,' why we should care about net neutralit</span></a></li>
              <li><a href="#"><time datetime="2014-12-28">28</time> <span>Election reaction, Latino influence in politics, apps that save money and maybe your life</span></a></li>
              <li><a href="#"><time datetime="2014-12-29">29</time> <span>Campaigns and credit cards, Ebola doctor quarantines himself, Taylor Swift dumps Spotify</span></a></li>
              <li><a href="#"><time datetime="2014-12-30">30</time> <span>Elections, ancient homonid Lucy 40 years after her discovery, Joan Didion biopic</span></a></li>
            </ul>
            <aside class="show-full-results" aria-hidden="true">
              <button>Show full month results</button>
            </aside>
          </div><!--/ .results -->
        </div><!--/ .directory -->

      </div><!--/ .columns -->
      <div class="collateral">

        <aside class="placard">
            <div class="ad widget">
                <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
                <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
            </div>
        </aside>
      
      </div><!--/ .collateral -->
    </section><!--/ .archive-browser -->
  </div><!--/ .bound -->
</div><!--/ .episode-postlude -->




<!-- ///////////////////////////////////////////////////////////// -->
<!-- ////////////////  Post-Episode Bits GO HERE  //////////////// -->
<!-- ///////////////////////////////////////////////////////////// -->


<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<div class="placard-waystation"></div>
<% end %>

<% cache ["show", "featured-programs", "v16", @featured_programs] do %>
  <%= render 'programs/kpcc/featured_programs' %>
<% end %>

<% if @popular_articles %>
  <%= render 'shared/new/popular_articles',
      articles: @popular_articles.first(4),
      header: 'Popular Now on KPCC' %>
<% end %>
<script>
  scpr.Behaviors.loadBehaviors(['Single']);
</script>
