<% add_to_page_title @episode.headline %>
<% content_for :body_class, 'interior segment' %>

<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/program_content_titling' %>
<% end %>

<div class="report">
    <div class="inner bound clearfix">

      <article class="prose">
        
        <!-- Episode Summary -->
        <header>
          <h1><%= @episode.headline %></h1>
          <p><%= @program.title %> for <%= timestamp(@episode.air_date) %></p>
          <%= @episode.teaser.html_safe %>
        </header>

        <% if audio = @episode.audio.first %>
          <%= content_widget "new/primary_audio", @episode %>
        <% end %>

        <!-- Rundown of Segments -->
        <section class="show-segments">
          <%= any_to_list? @segments, title: "Segments" do %>
            <%= cache ["segment-teasers", @segments.to_a] do %>
              <% @segments.each do |segment| %>
              <div class="teaser">
                <% if segment.assets.present? %>
                    <%= render_asset segment, display: 'small' %>
                    <%= timestamp(segment.published_at) %>
                <% else %>
                    <!-- Do something graceful if we don't have an image asset on a segment -->
                <% end %>

                <h2><%= link_to segment.short_headline, segment.public_path  %></h2>
                <p class="byline"><%= render_byline segment %></p>
                <%= segment.teaser.html_safe %>

                <aside class="decorator">
                  <%= content_widget "primary_audio", segment, context: segment.show.slug %>
                  <%= comment_count_for segment %>
                </aside>
              </div>
              <% end %>

            <% end %>
          <% end %>
        </section>

      </article>

<% cache ["show", "program-supportive", "v1", @episode] do %>
    <%= render "programs/kpcc/program_supportive" %>

  </div>
</div><!--/ .report -->


<!-- ///////////////////////////////////////////////////////////// -->
<!-- ////////////////  Post-Episode Bits GO HERE  //////////////// -->
<!-- ///////////////////////////////////////////////////////////// -->


<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<div class="placard-waystation"></div>
<% end %>

<% cache ["show", "featured-programs", "v16", @featured_programs] do %>
  <%= render 'programs/kpcc/featured_programs' %>
<% end %>

<% if @popular_articles %>
  <%= render 'shared/new/popular_articles',
      articles: @popular_articles.first(4),
      header: 'Popular Now on KPCC' %>
<% end %>

