<% add_to_page_title @program.title %>
<% meta_tags(url: @program.public_url) %>
<% meta_tags(description: @program.description) %>
<% meta_tags(rss_feed: @program.get_link('rss')) %>
<% content_for :body_class, "program #{@program.slug}" %>
<% content_for :titling do %>
  <%= render :partial => 'shared/new/masthead/program_titling' %>
<% end %>

<%= cache ["featured-program", @program] do %>

<% if @featured_story.original_object.is_a?(ShowSegment) %>
  <%= render partial: "programs/kpcc/featured_segment", locals: {program: @program, featured_story: @featured_story} %>
<% else %>
  <%= render partial: "programs/kpcc/featured_story",   locals: {program: @program, featured_story: @featured_story} %>
<% end %>

<div class="neoteric">
  <div class="inner bound clearfix">
    <% render partial: "programs/kpcc/recent_segments", locals: {program: @program, segments: @segments} %>
    <div class="library">
      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
          <span class="appeal"><a href="/support/underwriting/">Become a KPCC sponsor</a></span>
        </div>
      </aside><!--/ .plug (B) -->
      <%= render partial: "programs/kpcc/recent_episodes", locals: {program: @program, episodes: @episodes} %>
      <%= render partial: "programs/kpcc/program_archive", locals: {program: @program} %>
    </div><!--/ .library -->
  </div><!--/ . inner -->
</div><!--/ .neoteric -->

<div class="interregnum">
  <div class="inner bound clearfix">
    <%= render partial: "programs/kpcc/team", locals: {program: @program} %>
    <div class="melange">
      <% if @program.quote.present? && @program.quote.article.present? %>
        <%= render partial: "programs/kpcc/program_quote", locals: {program: @program} %>
      <% end %>
      <div class="diptych clearfix">
        <% if @subfeatured_story.present? %>
          <%= render partial: "programs/kpcc/subfeatured_story", locals: {subfeatured_story: @subfeatured_story, program: @program} %>
        <% end %>
        <aside class="plug">
          <div class="ad widget">
            <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
            <span class="appeal"><a href="/support/underwriting/">Become a KPCC sponsor</a></span>
          </div>
        </aside><!--/ .plug (C) -->
      </div><!--/ .diptych -->
    </div><!--/ .melange -->
  </div><!--/ .inner -->
</div><!--/ .interregnum -->

<% if @featured_programs %>
    <%= render 'programs/kpcc/featured_programs' %>
<% end %>

<% end %><%# cache %>

<% if @popular_articles %>
    <%= render 'shared/new/popular_articles',
        articles: @popular_articles.first(4),
        header: 'Popular Now on KPCC' %>
<% end %>
