<% add_to_page_title @program.title %>
<% add_to_page_title @segment.headline %>
<% content_for :body_class, 'interior single segment' %>
<% content_for :opengraph do %><%= render_content @segment, "opengraph" %><% end %>
<%= render 'shared/ads/dfp_script_config', category: @segment.category %>

<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/program_content_titling' %>
<% end %>


<%= cache ["show", "article-content", "v14", @segment, @segment.published_episode] do %>
    <%= render "programs/kpcc/segment", article: @segment, full: true %>
<% end %>

<% cache ["show", "article-supportive", "v16", @segment] do %>
    <%= render "programs/kpcc/program_supportive" %>

  </div>
</div><!--/ .report -->

<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<div class="placard-waystation"></div>
<% end %>

<%= comments_for @segment, header: false %>


<%= render 'programs/kpcc/featured_programs' %>

<% if @popular_articles %>
  <%= render 'shared/new/popular_articles',
      articles: @popular_articles.first(4),
      header: 'Popular Now on KPCC' %>
<% end %>