<% content_for :main_class, "l-search" %>
<% add_to_page_title "Search" %>

<%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
<%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 6 %>
<%= cell(:appeal, nil, order: 7).call(:breaking_news) %>
<%= cell(:popular_articles, nil, order: 8).call(:side_bar) %>
<%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 9 %>
<div id="o-search__search-area" style="order: 1">
  <h3 class="o-search__search-area__heading b-heading b-heading--h3 b-heading--serif b-heading--bold">Search Results</h3>
  <gcse:search></gcse:search>
</div>
<%= cell :search %>
