<% add_to_page_title @issue.title %>

<% content_for :body_class, 'interior issues' %>
<% content_for :quadrant_header, 'Popular Now on KPCC' %>

<%= render 'shared/header/header' %>

<section class="prologue">
  <div class="inner bound">
      <h1 class="title">All Issues</h1>
      <aside class="share">
          <ul>
              <li><a href="#">Share on Facebook</a></li>
              <li><a href="#">Share on Twitter</a></li>
              <li><a href="#">Share on Google Plus</a></li>
              <li><a href="#">Share via Email</a></li>
          </ul>
      </aside>
  </div>
</section><!--/ .prologue -->

<div class="catalog">
    <div class="inner bound clearfix">

        <nav class="terms">
            <ul class="clearfix">
                <% @issues.each do |issue| %>
                  <%= issue_link issue, issue_path(issue.slug), @issue %>
                <% end %>
            </ul>
        </nav>

        <div class="showcase">

            <header class="preface">
              <h1><%= @issue.title %></h1>
                <div class="details clearfix">
                    <div class="brief">
                      <p><%= @issue.description %></p>
                    </div>
                    <aside class="timeline">
                      <h2>KPCC has published a total of <mark><%= @article_count %> articles</mark> on <%= @issue.title %></h2>
                      <% if @issue_articles.presence %>
                        <div class="range">
                            <dl class="began">
                            <dt><%= date_format(@issue_articles.last.public_datetime) %></dt>
                                <dd>Coverage began</dd>
                            </dl>
                            <dl class="latest">
                            <dt><%= date_format(@issue_articles.first.public_datetime) %></dt>
                                <dd>Latest coverage</dd>
                            </dl>
                        </div>
                      <% end %>
                    </aside>
                </div>
            </header>

            <section class="backlog">
                <% if @issue_articles.presence %>
                  <%= render partial: 'shared/waterfall_articles', collection: @issue_articles, as: 'article', locals: { issue_tag_exists: false } %>
                <% end %>

                <footer>
                  <%= link_to "Load more #{@issue.title} stories", issue_path(@issue.slug) %>
                </footer>
            </section><!--/ .backlog -->

        </div><!--/ .showcase -->

    </div>
</div><!--/ .catalog -->

<%= render 'shared/kpcc_ipad_ad' %>

<%= render partial: 'shared/quadrant', locals: { top_articles: @top_popular_articles, bottom_articles: @bottom_popular_articles } %>
