<% add_to_page_title @issue.title %>
<% meta_tags(url: @issue.public_url) %>
<% content_for :body_class, 'interior issues' %>


<%= cache ["issues/show", "meta", "v2", @issue] do %>

<header class="preface">
    <h1><%= @issue.title %></h1>
    <div class="details clearfix">
        <div class="brief">
            <p><%= @issue.description %></p>
        </div>
        <aside class="timeline">
            <h2>KPCC has published a total of <mark><%= @issue.articles.size %> articles</mark> on <%= @issue.title %></h2>

        <% if @issue.articles.present? %>
            <div class="range">
                <dl class="began">
                    <dt><%= format_date(@issue.articles.last.public_datetime, with: '%-d %^b %Y') %></dt>
                    <dd>Coverage began</dd>
                </dl>
                <dl class="latest">
                    <dt><%= format_date(@issue.articles.first.public_datetime, with: '%-d %^b %Y') %></dt>
                    <dd>Latest coverage</dd>
                </dl>
            </div>
        <% end %>

        </aside>
    </div> <!--/ .details -->
</header>

<% end %>


<section class="backlog">

<%= cache ["issues/show", "list", "v2", @paginated_articles.to_a] do %>
    <%= render 'shared/new/waterfall_articles', articles: @paginated_articles, display_header: false %>
<% end %>

<%= paginate @paginated_articles, theme: 'new', outer_window: 1 %>

</section><!--/ .backlog -->
