<% add_to_page_title @vertical.title %>
<% meta_tags(url: @vertical.public_url) %>
<% content_for :body_class, "landing #{@vertical.slug}" %>

<%= cache ["vertical", 'v1', @vertical] do %>

<% lead_article = @vertical.featured_articles.first %>

<% if lead_article %>
<%= render 'verticals/shared/headline', article: lead_article %>
<% end %>

<div class="welcome bound clearfix">

    <% if lead_article %>
        <%= render 'verticals/shared/lead', lead_article: lead_article%>
    <% end %>

    <div class="ataglance clearfix affiliated">
        <section class="latest">
            <header class="clearfix">
            <% if vertical_blog_articles.present? %>
                <h1>Latest from <%= @blog.name %></h1>
                <a href="<%=@blog.public_path%>">Visit <span>the</span> blog</a>
            <% end %>
            </header>

        <%= cache ["business", "latest-headlines", 'v1', vertical_blog_articles] do %>
            <%= render 'verticals/shared/headlines', articles: vertical_blog_articles %>
        <% end %>

        </section>
        <section class="latest affiliate">
            <header class="clearfix">
                <h1>Latest from Marketplace</h1>
                <a href="http://www.marketplace.org">More Marketplace</a>
            </header>

        <% articles = @marketplace_articles.first(2) %>
        <%= cache ["business", "latest-headlines", 'v1', ] do %>
            <%= render 'verticals/shared/headlines', articles: articles %>
        <% end %>

        </section>

    </div><!--/ .ataglance -->
</div><!--/ .welcome -->


<%= render 'verticals/shared/resources', vertical: @vertical, articles: Array(@vertical.featured_articles[1..4]) %>
<%= render 'verticals/shared/lunchbox', vertical: @vertical, quotes: @quotes, events: @events %>

<% articles = Array(vertical_articles) %>
<%# We add vertical.title to the cache key since that's the only vertical-specific
information we depend on inside of this cache block. %>
<%= cache ["vertical", "recent-coverage", 'v1', @vertical.title, articles] do %>
    <%= render 'shared/new/triptych', articles: Array(articles[0..2]), header: "Recent #{@vertical.title} Coverage" %>
    <%= render 'shared/new/kpcc_ipad_ad' %>
    <%= render 'shared/new/quadrant', vertical: @vertical, articles: Array(articles[3..6]), header: "" %>
    <%= render 'shared/new/waterfall', vertical: @vertical, articles: articles %>
<% end %> <%# cache %>

<% end %>
