<% add_to_page_title @category.title %>
<% meta_tags(url: @category.public_url) %>
<% content_for :body_class, "landing #{@category.slug}" %>

<%= cache ["vertical", 'v1', @category] do %>

<%= fallback_render 'lead', ["verticals", @category.slug.underscore] %>

<section class="headline">
<% lead_article = @category.featured_articles.first %>
<% if lead_article %>
    <h1 class="bound"><span><%= link_to lead_article.short_title, lead_article.public_path %></span></h1>
<% end %>
</section>

<div class="welcome bound clearfix">

    <% if lead_article %>
        <%= render 'verticals/shared/headline_content', lead_article: lead_article %>
    <% end %>

    <div class="ataglance clearfix affiliated">
        <section class="latest">
            <header class="clearfix">
            <% if @blog && vertical_blog_articles.present? %>
                <h1>Latest from <%= @blog.name %></h1>
                <a href="<%= @blog.public_path %>">
                    Visit <span>the</span> blog
                </a>
            <% end %>
            </header>

        <% articles = vertical_blog_articles %>
        <%= cache ["categories/show", "latest-headlines", 'v1', articles] do %>
            <%= render 'verticals/shared/headlines', articles: articles %>
        <% end %>

        </section>

    <% event = @events.first %>
    <%= cache ["categories/show", "latest-events", 'v1', event] do %>
        <section class="event">
            <header class="clearfix">
                <h1>Get Involved</h1>
                <a href="<%= events_path %>">
                    All <span>upcoming</span> events
                </a>
            </header>

        <% if event.present? %>
            <div class="details clearfix">
                <div class="vitals">
                    <h2><%= link_to event.headline, event.public_path %></h2>
                    <h3><%= event.location_name %></h3>
                    <h4><%= link_to 'More details', event.public_path %></h4>
                </div>
                <aside class="date">
                    <em><%= event.starts_at.day %></em>
                    <span><%= event.starts_at.strftime('%b') %></span>
                </aside>
            </div>
        <% end %>

        </section>
    <% end %>

        <aside class="crawford">
            <header>
                <h1><%= @category.title %> Events at KPCC</h1>
            </header>
            <p>KPCC hosts free events that open dialogue and deepen the understanding of vital issues affecting Southern California. <%= link_to 'See our in-studio events.', forum_events_path %></p>
        </aside>

    </div><!--/ .ataglance -->
</div><!--/ .welcome -->


<%= render 'verticals/shared/resources', category: @category, articles: Array(@category.featured_articles[1..4]) %>
<%= render 'verticals/shared/lunchbox', category: @category, quotes: @quotes, events: @events %>

<% articles = Array(vertical_articles) %>
<%= cache ["categories/show", "recent-coverage", 'v1', @category, articles] do %>
    <%= render 'shared/new/triptych', articles: Array(articles[0..2]), header: "Recent #{@category.title} Coverage" %>

    <%= content_for?(:middle_ad) ? content_for(:middle_ad) : render('shared/new/kpcc_ipad_ad') %>

    <%= render 'shared/new/quadrant', articles: Array(articles[3..6]), header: "" %>
    <%= render 'shared/new/waterfall', category: @category, articles: articles %>
<% end %> <%# cache %>

<% end %>
