<% add_to_page_title @vertical.try(:title) %>

<% content_for :header do %>
  <section class="o-prologue o-prologue--vertical">
    <span class="o-prologue__title"><%= @vertical.title %></span>
    <span class="o-prologue__pipe">|</span>
    <span class="o-prologue__description"><%= @vertical.description %></span>
  </section>
<% end %>
<% cache [@vertical, 'v2'] do %>
  <%= cell(:featured_story, @vertical.featured_articles.first, blog: @vertical.blog, order: 1).call(:vertical) %>
  <%= cell :resources, @vertical, order: 2 %>
  <%= cell :featured_interactive, @vertical.featured_articles[5], order: 4 %>
  <%= cell :featured_quote, @vertical.quote, order: 5 %>
  <%= cell :upcoming_events, @vertical, category_name: @vertical.category.try(:title), upcoming_events: @upcoming_events, past_events: @past_events, order: 6 %>
  <% if (@tags || []).any? %>
    <aside class="o-vertical-topics" style="order: 3">
      <% @tags.limit(3).each do |tag| %>
        <%= cell(:topic_cluster, tag).call(:vertical) %>
      <% end %>
    </aside>
  <% end %>
  <%= cell :story_list, @category_articles[0..2], class: "o-story-list--horiz o-recent-coverage", heading: "Recent #{@category.title} coverage", order: 7 %>
  <%= cell(:appeal, nil, order: 8).call(:ipad) %>
  <%= cell :story_list, @category_articles[3..6], class: "o-story-list--quad o-story-list--no-label", order: 9 %>
  <%= cell :host_list, @vertical, heading: "OUR REPORTERS", order: 11 %>
  <%= cell :story_list, @category_articles[7..-1], class: "o-story-list--vert o-story-list--nobg o-story-list--vertical-last", heading: "More #{@category.title}", order: 10 %>
  <%= cell :epilogue, @article, order: 1001 %>
<% end %>
