<aside class="membership">
    <div class="inner bound">
        <h1><a href="https://scprcontribute.publicradio.org/contribute.php">KPCC's <%= @category.try(:title) %> coverage is a Southern California resource provided by member-supported public radio. We can't do it without you.</a></h1>
        <h2><span>Your contributions power KPCC.</span> <a href="https://scprcontribute.publicradio.org/contribute.php">Give today.</a></h2>
        <h3 class="brand"><a href="http://kpcc.org" title="Southern California Public Radio">89.3 KPCC</a></h3>
    </div>
</aside><!--/ .membership -->

<footer class="epilogue">
    <header>
        <div class="inner bound">
            <h1><a href="http://scpr.org" title="Southern California Public Radio">89.3 KPCC</a></h1>
            <h2>
                <% if content_for? :footer_tagline %>
                    <%= content_for :footer_tagline %>
                <% else %>
                    <span>89.1 KUOR</span>
                    <span>90.3 KVLA</span>
                <% end %>
            </h2>
            <aside class="pledge">
                <p><span>Support the voices you trust!</span> <a href="https://scprcontribute.publicradio.org/contribute.php">Pledge Now</a></p>
            </aside>
        </div>
    </header>
    <div class="cols">
        <div class="inner bound clearfix">
            <div class="cols-pair primary clearfix">
                <nav class="sections">
                    <h1>Sections</h1>
                    <ul>
                        <li><a href="/local">Local</a></li>
                        <li><a href="/world">US &amp; World</a></li>
                        <li><a href="/politics">Politics</a></li>
                        <li><a href="/environment">Science</a></li>
                        <li><a href="/arts">Arts &amp; Entertainment</a></li>
                        <li><a href="/business">Business</a></li>
                        <li><a href="/crime">Crime &amp; Justice</a></li>
                        <li><a href="/education">Education</a></li>
                        <li><a href="/health">Health</a></li>
                        <li><a href="/archive/<%= Time.zone.now.yesterday.strftime("%Y/%m/%d") %>/?section=news">Archive</a></li>
                    </ul>
                </nav>
                <nav class="productions">
                    <h1>Programs</h1>
                    <ul>
                        <li><a href="/programs/take-two/">Take Two</a></li>
                        <li><a href="/programs/airtalk/">AirTalk</a></li>
                        <li><a href="/programs/offramp/">Off-Ramp</a></li>
                        <li><a href="/programs/the-frame/">The Frame</a></li>
                        <li><a href="/programs/">Programs A&ndash;Z</a></li>
                        <li><a href="/schedule/">Program Schedule</a></li>
                        <li><a href="/archive/<%= Time.zone.now.yesterday.strftime("%Y/%m/%d") %>/?section=programs">Program Archive</a></li>
                    </ul>
                    <h1>Events</h1>
                    <ul>
                        <li><a href="/events/kpcc-in-person">KPCC In Person</a></li>
                        <li><a href="/events/sponsored">Sponsored Events</a></li>
                    </ul>
                </nav>
            </div><!--/ .primary -->
            <div class="cols-pair secondary clearfix">
                <nav class="outreach">
                    <h1>Stay Connected</h1>
                    <ul class="social">
                        <li><a href="http://facebook.com/kpcc">Facebook</a></li>
                        <li><a href="http://twitter.com/kpcc">Twitter</a></li>
                        <li><a href="https://plus.google.com/108872361044769229886/">Google Plus</a></li>
                    </ul>
                    <ul>
                        <li><a href="/newsletters/">Newsletters</a></li>
                        <li><a href="/rss/">RSS</a></li>
                        <li><a href="/podcasts/">Podcasts</a></li>
                    </ul>
                    <aside class="mobile">
                      <a href="/ipad"><span>Get our new</span> <span><b>KPCC for iPad</b> app.</span></a>
                    </aside>
                </nav>
                <nav class="about">
                    <h1>About</h1>
                    <ul>
                        <li><a href="/about/">About KPCC</a></li>
                        <li><a href="/about/people/">Staff</a></li>
                        <li><a href="/contact/">Contact Us</a></li>
                        <li><a href="/about/faq/">Help / FAQ</a></li>
                        <li><a href="/web_site_feedback/">Feedback</a></li>
                        <li><a href="/about/jobs/">Careers &#64; KPCC</a></li>
                    </ul>
                    <div class="vcard location">
                        <h2 class="org"><b>89.3 KPCC</b> <span>Southern California Public Radio</span><h2>
                        <div class="adr">
                            <span class="street-address">474 S. Raymond Ave.</span><br />
                            <span class="locality">Pasadena</span>,
                            <span class="region">CA</span>
                            <span class="postal-code">91105</span>
                        </div>
                    </div>
                    <aside class="call">
                        <p>Call in: 866-893-5722</p>
                    </aside>
                </nav>
            </div><!--/ .secondary -->
        </div><!--/ .inner -->
    </div><!--/ .cols -->

    <%= content_for :footer_sponsors %>

    <div class="lastwords bound">
        <aside class="partners">
            <h1>Our Partners</h1>
            <ul class="clearfix">
                <li class="apm"><a href="http://publicradio.org">American Public Media</a></li>
                <li class="npr"><a href="http://npr.org">National Public Radio</a></li>
                <li class="bbc"><a href="http://bbc.co.uk">BBC</a></li>
                <li class="pri"><a href="http://pri.org">Public Radio International</a></li>
                <li class="nbc"><a href="http://nbclosangeles.com">NBC 4</a></li>
                <li class="pcc"><a href="http://pasadena.edu">Pasadena City College</a></li>
            </ul>
        </aside>
        <nav class="fineprint">
            <ul>
                <li><a href="/terms/">Terms &amp; Conditions</a></li>
                <li><a href="/privacy/">Privacy</a></li>
                <li><a href="/web_site_feedback/">Feedback</a></li>
                <li>&copy; <%= Time.zone.now.year %> <a href="http://scpr.org">Southern California Public Radio</a></li>
            </ul>
        </nav>
    </div>
</footer><!--/ .epilogue -->
