<section class="but-a-walking-shadow">
    <header><h1 class="bound">What's popular now on KPCC</h1></header>
    <nav class="bound clearfix">
        <% articles.each do |article| %>
            <%= link_to article.public_path, class: "track-event", data: {"ga-category" => "Article", "ga-action" => "Clickthrough", "ga-label" => "Popular Now Quadrant"} do %>
                <figure class="clearfix">
                    <div class="ratio">
                        <div class="fill"></div>
                        <b class="img-contain"><img src="<%= article.asset.small.url %>" width="<%= article.asset.small.width %>" height="<%= article.asset.small.height %>" /></b>
                    </div>
                    <figcaption>
                    <h2><%= article.short_title %></h2>
                        <%= smart_date_js article.public_datetime %>
                    </figcaption>
                </figure>
            <% end %>
        <% end %>
    </nav><!--/ .bound -->
</section><!--/ .but-a-walking-shadow -->
