<% article = article.to_article %>
<%= cache ["single/article", "asset-display", "v1", article] do %>
    <% present article do |article_presenter| %>
        <%= article_presenter.asset_display %>
    <% end %>
<% end %>
<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">

            <div class="marginal-tools clearfix">
                <% if article.audio.any? %>
                    <% audio = article.audio %>
                    <%= cache ["single/article", "story-audio", "v1", audio] do %>
                        <nav class="audio-queue">
                            <header>Listen to audio from this story</header>
                            <ul>
                            <% audio.each_with_index do |audio, index| %>
                                <li class="story-audio">
                                    <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>">
                                        <b><%= format_clip_duration audio.duration %></b>
                                        <span><%= "Clip #{index+1}" %></span>
                                    </a>
                                </li>
                            <% end %>
                            </ul>
                        </nav>
                    <% end %>
                <% end %>

                <%= cache ["single/article", "story-share", "v1", article] do %>
                    <aside class="share">
                        <header>Share <span>this story</span></header>
                        <ul>
                            <li class="email">
                                <a href="#" class="track-event email" data-ga-category="Article" data-ga-action="Share" data-ga-label="Email" data-key="<%= article.id %>">Share via Email</a></li>
                            <li class="twitter">
                                <a href="#" class="track-event twitter social_twit" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="<%= article.public_url %>" data-text="<%= u(article.short_title) %>">Share on Twitter</a></li>
                            <li class="facebook">
                                <a href="#" class="track-event facebook social_fb" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="<%= article.public_url %>">Share on Facebook</a></li>
                        </ul>
                    </aside>
                <% end %>
            </div><!--/ .marginal-tools -->

            <%= cache ["single/article", "article-body", "v1", article] do %>
                <div class="prose-body">

                    <% if article.original_object.assets.present? %>
                        <% if (article.original_object.asset_display == :photo_deemphasized) || (article.original_object.asset_display.blank? && !below_standard_ratio(width: article.asset.full.width, height: article.asset.full.height)) || (article.original_object.asset_display == :photo_emphasized && !below_standard_ratio(width: article.asset.full.width, height: article.asset.full.height))  %>
                        <figure class="asset-inset">
                        <b class="pic"><%= image_tag article.asset.full.url, alt: article.asset.caption %></b>
                            <figcaption>
                                <span>
                                <%= article.asset.caption %><mark> <%= article.asset.owner if article.asset.owner.present? %></mark>
                                </span>
                            </figcaption>
                        </figure>
                        <% end %>
                    <% end %>

                    <%= article.body.html_safe %>
                </div><!--/ .prose-body -->
            <% end %>

            <% related = article.original_object.related_content %>
            <% if related.present? %>
                <%= cache ["single/article", "related-content", "v1", article] do %>
                    <aside class="related">
                        <header><h1>Related Links</h1></header>
                        <nav>
                            <ul>
                                <% related.each do |article| %>
                                  <li class="<%= article.feature.try(:key) %>">
                                    <%= link_to article.public_path do %>
                                      <mark><%= article.short_title %></mark>
                                      <span><%= article.feature.try(:name) || "Article" %></span></a>
                                    <% end %>
                                  </li>
                                <% end %>
                            </ul>
                        </nav>
                    </aside><!--/ .related -->
                <% end %>
            <% end %>

            <%= cache ["single/article", "story-share", "v1", article] do %>
                <aside class="share">
                    <header>Share <span>this story</span></header>
                    <ul>
                        <li class="email">
                            <a href="#" class="track-event email" data-ga-category="Article" data-ga-action="Share" data-ga-label="Email" data-key="<%= article.id %>">Share via Email</a></li>
                        <li class="twitter">
                            <a href="#" class="track-event twitter social_twit" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="<%= article.public_url %>" data-text="<%= u(article.short_title) %>">Share on Twitter</a></li>
                        <li class="facebook">
                            <a href="#" class="track-event facebook social_fb" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="<%= article.public_url %>">Share on Facebook</a></li>
                    </ul>
                </aside>
            <% end %>

            <footer class="comments-jump">
                <a href="#comments">
                    <mark>Join the discussion.</mark>
                    <span>Tap here to jump to this article's comments.</span>
                </a>
            </footer>

            <!--
            <footer class="comments-trigger">
                <a href="#">This article currently has no comments. Click here to start the discussion.</a>
            </footer>
            -->

        </article>
        <section class="supportive">
            <aside class="placard">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
                </div>
            </aside>

            <aside class="placard">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
                    <p class="appeal"><a href="#">Become a KPCC Sponsor</a></p>
                </div>
            </aside>

            <% if tag = article.original_object.tags.first %>
                <% cache ["single/article", "more-issues", "v1", tag] do %>
                    <aside class="see-more issue">
                        <header>
                            <h1>More from this Issue</h1>
                            <h2 class="clearfix">
                                <span><%= link_to tag.title, tag.public_path %></span>
                                <mark><%= link_to 'See All', issues_path %></mark>
                            </h2>
                        </header>
                        <ul class="previews">
                            <% if tag_articles = tag.articles.first(3) %>
                                <% tag_articles.each do |article| %>
                                    <li>
                                    <%= link_to article.public_path do %>
                                        <figure class="ratio-pairing clearfix">
                                            <div class="ratio">
                                                <div class="fill"></div>
                                                <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                            </div><!--/ .ratio -->
                                            <figcaption>
                                                <%= smart_date_js article.public_datetime %>
                                                <mark><%= article.short_title %></mark>
                                            </figcaption>
                                        </figure><!--/ .ratio-pairing -->
                                    <% end %>
                                    </li>
                                <% end %>
                          <% end %>
                        </ul>
                    </aside>
                <% end %>
            <% elsif @category.present? %>
                <% cache ["single/article", "more-from-category", "v2", @category_articles, @category] do %>
                    <aside class="see-more issue">
                        <header>
                            <h1>More from this Category</h1>
                            <h2 class="clearfix">
                                <span><%= link_to @category.title, @category.public_path %></span>
                                <mark><%= link_to 'See All', @category.public_path %></mark>
                            </h2>
                        </header>
                        <ul class="previews">
                            <% if category_articles = @category_articles.first(3) %>
                                <% category_articles.each do |article| %>
                                    <li>
                                    <%= link_to article.public_path do %>
                                        <figure class="ratio-pairing clearfix">
                                            <div class="ratio">
                                                <div class="fill"></div>
                                                <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                            </div><!--/ .ratio -->
                                            <figcaption>
                                                <%= smart_date_js article.public_datetime %>
                                                <mark><%= article.short_title %></mark>
                                            </figcaption>
                                        </figure><!--/ .ratio-pairing -->
                                    <% end %>
                                    </li>
                                <% end %>
                          <% end %>
                        </ul>
                    </aside>
                <% end %>
            <% end %>
            <aside class="see-more">
                <header>
                    <h1>Popular now on KPCC</h1>
                </header>
                <ul class="previews">
                  <% if @popular_articles.present? %>
                    <% @popular_articles.first(3).each do |article| %>
                      <li>
                        <%= link_to article.public_path do %>
                              <figure class="ratio-pairing clearfix">
                                  <div class="ratio">
                                      <div class="fill"></div>
                                      <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                  </div><!--/ .ratio -->
                                  <figcaption>
                                      <%= smart_date_js article.public_datetime %>
                                      <mark><%= article.short_title %></mark>
                                  </figcaption>
                              </figure><!--/ .ratio-pairing -->
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </aside>
        </section>
    </div>
</div><!--/ .report -->

<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<%= comments_for article.original_object %>

    <div class="placard-waystation">
    </div>
