<% article = article.to_article %>
<% if article.original_object.asset_display == :slideshow %>
    <%= render 'shared/new/assets/slideshow', article: article %>
<% elsif article.original_object.asset_display == :video %>
    <%= render 'shared/new/assets/video', article: article %>
<% elsif article.original_object.asset_display == :hidden %>
    <%= render 'shared/new/assets/hidden', article: article %>
<% else %>
    <%= render 'shared/new/assets/photo', article: article %>
<% end %>
<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">
            <div class="marginal-tools clearfix">
                <% if article.audio.any? %>
                    <% audio = article.audio %>
                    <nav class="audio-queue">
                        <header>Listen to audio from this story</header>
                        <ul>
                        <% audio.each_with_index do |audio, index| %>
                            <li class="story-audio">
                                <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>">
                                    <b><%= format_clip_duration audio.duration %></b>
                                </a>
                                <span><%= "Clip #{index+1}" %></span>
                            </li>
                        <% end %>
                        </ul>
                    </nav>
                <% end %>
                <aside class="share">
                    <header>Share <span>this story</span></header>
                    <ul>
                        <li class="email"><a href="#">Share via Email</a></li>
                        <li class="twitter"><a href="#">Share on Twitter</a></li>
                        <li class="facebook"><a href="#">Share on Facebook</a></li>
                    </ul>
                </aside>
            </div><!--/ .marginal-tools -->
            <div class="prose-body">
                <% unless below_standard_ratio(width: article.asset.eight.width, height: article.asset.eight.height) %>
                <figure class="asset-inset">
                <b class="pic"><%= image_tag article.asset.eight.url, alt: article.asset.caption %></b>
                    <figcaption>
                    <span><%= article.asset.caption %><mark> <%= link_to article.asset.owner, '#' %></mark></span>
                    </figcaption>
                </figure>
                <% end %>

                <%= article.body.html_safe %>
            </div><!--/ .prose-body -->
            <%= raw Rails.cache.read("views/popular/#{@blog.slug}") %>

            <% related = article.original_object.related_content.first(2) %>
            <% if related.present? %>
            <aside class="related">
                <header><h1>Related Links</h1></header>
                <nav>
                    <ul>
                        <% related.each do |article| %>
                          <li class="<%= article.feature.try(:key) %>">
                            <%= link_to article.public_path do %>
                              <mark><%= article.short_title %></mark>
                              <span><%= article.feature.try(:name) || "Article" %></span></a>
                            <% end %>
                          </li>
                        <% end %>
                    </ul>
                </nav>
            </aside><!--/ .related -->
            <% end %>

            <aside class="share">
                <header>Share <span>this story</span></header>
                <ul>
                    <li class="email"><a href="#">Share via Email</a></li>
                    <li class="twitter"><a href="#">Share on Twitter</a></li>
                    <li class="facebook"><a href="#">Share on Facebook</a></li>
                </ul>
            </aside>

            <% if @previous_blog_entry.present? %>
                <aside class="previously">
                    <% previous_article = @previous_blog_entry.to_article %>
                    <header><h1>Previously in <%= @blog.name %></h1></header>
                    <nav>
                        <%= link_to previous_article.public_path do %>
                            <h2><%= previous_article.short_title %></h2>
                            <%= smart_date_js previous_article.public_datetime %>
                        <% end %>
                    </nav>
                </aside><!--/ .previously -->
            <% end %>

            <footer class="comments-jump">
                <a href="#comments">
                    <mark>Join the discussion.</mark>
                    <span>Tap here to jump to this article's comments.</span>
                </a>
            </footer>

            <!--
            <footer class="comments-trigger">
                <a href="#">This article currently has no comments. Click here to start the discussion.</a>
            </footer>
            -->

        </article>

        <section class="supportive">

            <aside class="placard">
                <div class="ad widget" id="oas_x01">
                    <a href="#" target="_blank">
                        <b class="intent-primary"><%= image_tag "sponsor-assets/position-a-block.jpg", alt: "" %></b>
                        <b class="intent-secondary"><%= image_tag "sponsor-assets/position-a-shallow.jpg", alt: "" %></b>
                    </a>
                    <p class="appeal"><a href="#">Become a KPCC Sponsor</a></p>
                </div>
            </aside>

            <aside class="about-this-blog">
                <header>
                    <h1><%= link_to @blog.name, @blog.public_path %></h1>
                </header>
                <div class="description">
                    <p><%= @blog.description %></p>
                </div>
                <div class="archives">
                    <h2>Browse the <%= @blog.name %> archive</h2>
                    <%= form_tag blog_process_archive_select_path(@blog.slug), id: "archive_date_select", class: "archive-date-select" do %>
                        <%= date_select 'archive', 'date',
                            :order      => [:month, :year],
                            :start_year => @blog.created_at.year,
                            :end_year   => Time.now.year %>
                        <%= submit_tag "Go", class: "btn" %>
                    <% end %>
                </div>
                <% if @blog.authors.present? %>
                <div class="hosts">
                    <h2>Your host<%= 's' unless @blog.authors.length == 1 %></h2>
                    <% @blog.authors.each do |author| %>
                        <figure class="clearfix">
                            <div class="photo ratio">
                                <%= link_to author.public_path do %>
                                    <div class="fill"></div>
                                    <% if author.headshot.present? %>
                                    <b class="img-contain"><%= author.headshot.eight.tag %></b>
                                    <% end %>
                                <% end %>
                            </div>
                            <figcaption>
                                <h3><%= link_to author.name, author.public_path %></h3>
                                <ul>
                                    <li class="portfolio"><%= link_to "All posts by #{author.name.split(" ").first()}", author.public_path %></li>
                                    <li class="twitter"><%= link_to "Follow @#{author.twitter_handle}", twitter_profile_url(author.twitter_handle) if author.twitter_handle.present? %></li>
                                    <li class="email"><%= link_to "Email #{author.name.split(" ").first()}", author.email %></li>
                                </ul>
                            </figcaption>
                        </figure>
                    <% end %>
                </div>
                <% end %>
            </aside>


            <aside class="see-more">
                <header>
                    <h1>Recently on <%= @blog.name %></h1>
                </header>
                <ul class="previews">
                    <% @blog.entries.published.first(3).each do |entry| %>
                        <% blog_article = entry.to_article %>
                        <li>
                            <%= link_to blog_article.public_path do %>
                                <figure class="ratio-pairing clearfix">
                                    <div class="ratio">
                                        <div class="fill"></div>
                                        <b class="img-contain"><%= image_tag blog_article.asset.lsquare.url, alt: blog_article.asset.caption %></b>
                                    </div><!--/ .ratio -->
                                    <figcaption>
                                        <%= smart_date_js blog_article.public_datetime %>
                                        <mark><%= blog_article.short_title %></mark>
                                    </figcaption>
                                </figure><!--/ .ratio-pairing -->
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </aside>

            <aside class="placard">
                <div class="ad widget" id="oas_x02">
                    <a href="#" target="_blank">
                        <b class="intent-primary"><%= image_tag "sponsor-assets/position-b-block.jpg", alt: "" %></b>
                        <b class="intent-secondary"><%= image_tag "sponsor-assets/position-b-shallow.jpg", alt: "" %></b>
                    </a>
                    <p class="appeal"><a href="#">Become a KPCC Sponsor</a></p>
                </div>
            </aside>

        </section>

    </div>
</div><!--/ .report -->

<div style="padding-bottom: 30px; border-bottom: 1px solid rgba(0,0,0,0.2); margin-bottom: 25px;">
    <div style="background: #295b7b; padding: 60px 0;">
        <p style="text-align: center; color: white; font-size: 1.2em; margin-bottom: 20px;" class="bound">EITHER THE EXCLUSIVE-SPONSOR RESPONSIVE-AD <em style="font-style: italic; font-size: 1.7em;">OR </em> THE ONE-TIME-DONATION MEMBERSHIP-PLUG GOES HERE</p>
        <p style="text-align: center; color: rgba(255,255,255,0.7); font-size: 0.6em;" class="bound">(OR IT JUST COLLAPSES IF WE DON'T WANT TO RUN EITHER OF THEM)</p>
    </div>
</div>
<%= comments_for article.original_object %>

    <div class="placard-waystation">
    </div>

<section class="blog-sampler">
   <header><h1 class="bound"><span>Enjoy reading <%= @blog.name %>?</span> <span>You might like KPCC’s other blogs.</span></h1></header>
    <div class="highlights bound clearfix">
        <% @other_blogs.each do |blog| %>
        <% blog_article = blog.entries.published.first.to_article %>
        <article>
            <header>
                <%= link_to blog_article.public_path do %>
                    <h2><%= blog_article.short_title %></h2>
                    <%= smart_date_js blog_article.public_datetime %>
                <% end %>
            </header>
            <aside class="clearfix">
                <div class="about">
                    <h3><%= link_to blog.name, blog.public_path %></h3>
                    <p><%= blog.teaser %></p>
                </div>
                <b class="photo"><%= image_tag blog_article.asset.eight.url, alt: blog_article.asset.caption %></b>
            </aside>
        </article>
        <% end %>
    </div><!--/ .highlights -->
    <footer class="bound"><a href="/blogs/">See all of our blogs &amp; news coverage</a></footer>
</section><!--/ .sampler -->

<% if @popular_articles %>
    <%= render 'shared/new/popular_articles',
        articles: @popular_articles.first(4),
        header: 'Popular Now on KPCC' %>
<% end %>

