<% article = article.get_article %>

<%= render_asset article.original_object, context:"news", fallback:true %>

<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">
            <div class="marginal-tools clearfix">
                <% if article.audio.any? %>
                    <% audio = article.audio %>
                    <nav class="audio-queue track-event" data-ga-category="Article" data-ga-action="Load" data-ga-label="Player" data-non-interaction="1">
                        <header><h1>Audio from this story</h1></header>
                        <ul>
                        <% audio.each_with_index do |audio, index| %>
                            <li class="story-audio" data-ga-category="Article" data-ga-action="Play" data-ga-label="Player">
                                <a href="<%= raw url_with_params audio.url, via: 'website', context: 'news' %>" class="play-btn audio-toggler track-event" data-ga-category="Article" data-ga-action="Play" data-ga-label="Player" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>">
                                    <b><%= format_clip_duration audio.duration %></b>
                                    <span><%= index == 0 ? "Listen" : "Extra Audio" %></span>
                                </a>
                            </li>
                        <% end %>
                        </ul>
                    </nav>
                <% end %>

                <%= render 'shared/new/social_share', article: article, cssClass: "share" %>
            </div><!--/ .marginal-tools -->

            <div class="prose-body">

                <% if should_inline_top_asset_for(article.original_object) %>
                  <%= render_asset article, context:"news", display:"inline" %>
                <% end %>

                <%= render_with_inline_assets article %>
                <% if article.original_object.joined_bylines[:contributing].present? %>
                    <footer class="contributor">
                        <p><%= render_contributing_byline article.original_object %></p>
                    </footer>
                <% end %>
                <%= pij_source(article.original_object) %>
            </div><!--/ .prose-body -->

            <%= render 'shared/cwidgets/related_links', content: article %>

            <div class="article-conclusion-sharing">
              <%= render 'shared/new/social_share', article: article, cssClass: "share" %>
            </div>

            <footer class="comments-jump">
                <a href="#comments">
                    <mark>Join the discussion.</mark>
                    <span>Tap here to jump to this article's comments.</span>
                </a>
            </footer>

            <!--
            <footer class="comments-trigger">
                <a href="#">This article currently has no comments. Click here to start the discussion.</a>
            </footer>
            -->

        </article>
