<% article = article.to_article %>

<% if below_standard_ratio(width: article.asset.eight.width, height: article.asset.eight.height) %>
    <section class="prologue">
        <div class="grating">
            <div class="inner bound clearfix">
                <div class="prose">
                    <h1 class="title"><span><%= article.short_title %></span></h1>
                    <aside class="byline">
                        <h2 class="author">by <%= render_byline article.original_object %></h2>
                        <%= smart_date_js article.public_datetime %>
                    </aside>
                    <aside class="caption">
                        <button>Show caption</button>
                        <p><%= article.asset.caption %><mark class="credit"><%= link_to article.asset.owner, '#' %></mark></p>
                    </aside>
                </div><!--/ .prose -->
                <div class="asset">
                    <div class="ratio">
                        <div class="fill"></div>
                        <b class="img-contain">
                            <%= image_tag article.asset.eight.url %>
                        </b>
                    </div><!--/ .ratio -->
                </div><!--/ .asset -->
            </div>
        </div>
        <div class="ephemera"><%= image_tag article.asset.full.url %></div>
    </section><!--/ .prologue -->
<% else %>
    <section class="prologue austere">
        <div class="grating">
            <div class="inner bound clearfix">
                <div class="prose">
                    <h1 class="title"><span><%= article.short_title %></span></h1>
                    <aside class="byline">
                        <h2 class="author">by <%= render_byline article.original_object %></h2>
                        <%= smart_date_js article.public_datetime %>
                    </aside>
                </div>
            </div><!--/ .prose -->
        </div>
    </section><!--/ .prologue -->
<% end %>

<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">
            <div class="marginal-tools clearfix">
                <% if article.audio.any? %>
                    <% audio = article.audio %>
                    <nav class="audio-queue">
                        <header>Listen to audio from this story</header>
                        <ul>
                        <% audio.each_with_index do |audio, index| %>
                            <li>
                                <mark data-clip="<%= audio.url %>">
                                    <b><%= format_clip_duration audio.duration %></b>
                                    <span><%= "Clip #{index+1}" %></span>
                                </mark>
                            </li>
                        <% end %>
                        </ul>
                    </nav>
                <% end %>
                <aside class="share">
                    <header>Share <span>this story</span></header>
                    <ul>
                        <li class="email"><a href="#">Share via Email</a></li>
                        <li class="twitter"><a href="#">Share on Twitter</a></li>
                        <li class="facebook"><a href="#">Share on Facebook</a></li>
                    </ul>
                </aside>
            </div><!--/ .marginal-tools -->
            <div class="prose-body">
                <% unless below_standard_ratio(width: article.asset.eight.width, height: article.asset.eight.height) %>
                <figure class="asset-inset">
                <b class="pic"><%= image_tag article.asset.eight.url, alt: article.asset.caption %></b>
                    <figcaption>
                    <span><%= article.asset.caption %><mark> <%= link_to article.asset.owner, '#' %></mark></span>
                    </figcaption>
                </figure>
                <% end %>

                <%= article.body.html_safe %>
            </div><!--/ .prose-body -->

            <% related = article.original_object.related_content.first(2) %>
            <% if related.present? %>
            <aside class="related">
                <header><h1>Related Links</h1></header>
                <nav>
                    <ul>
                        <% related.each do |article| %>
                          <li class="<%= article.feature.try(:key) %>">
                            <%= link_to article.public_path do %>
                              <mark><%= article.short_title %></mark>
                              <span><%= article.feature.try(:name) || "Article" %></span></a>
                            <% end %>
                          </li>
                        <% end %>
                    </ul>
                </nav>
            </aside><!--/ .related -->
            <% end %>

            <aside class="share">
                <header>Share <span>this story</span></header>
                <ul>
                    <li class="email"><a href="#">Share via Email</a></li>
                    <li class="twitter"><a href="#">Share on Twitter</a></li>
                    <li class="facebook"><a href="#">Share on Facebook</a></li>
                </ul>
            </aside>

            <footer class="comments-jump">
                <a href="#comments">
                    <mark>Join the discussion.</mark>
                    <span>Tap here to jump to this article's comments.</span>
                </a>
            </footer>

            <!--
            <footer class="comments-trigger">
                <a href="#">This article currently has no comments. Click here to start the discussion.</a>
            </footer>
            -->

        </article>
        <section class="supportive">
            <aside class="placard">
                <div class="ad widget" id="oas_x01">
                    <a href="#" target="_blank">
                        <b class="intent-primary"><%= image_tag("sponsor-assets/position-a-block.jpg") %></b>
                        <b class="intent-secondary"><%= image_tag("sponsor-assets/position-a-shallow.jpg") %></b>
                    </a>
                    <p class="appeal"><a href="#">Become a KPCC Sponsor</a></p>
                </div>
            </aside>

            <% if issue = article.original_object.issues.first %>
                <% cache ["single/article", "more-issues", "v1", issue] do %>
                    <aside class="see-more issue">
                        <header>
                            <h1>More from this Issue</h1>
                            <h2 class="clearfix">
                                <span><%= link_to issue.title, issue.public_path %></span>
                                <mark><%= link_to 'See All', issues_path %></mark>
                            </h2>
                        </header>
                        <ul class="previews">
                            <% if issue_articles = issue.articles.first(3) %>
                                <% issue_articles.each do |article| %>
                                    <li>
                                    <%= link_to article.public_path do %>
                                        <figure class="ratio-pairing clearfix">
                                            <div class="ratio">
                                                <div class="fill"></div>
                                                <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                            </div><!--/ .ratio -->
                                            <figcaption>
                                                <%= smart_date_js article.public_datetime %>
                                                <mark><%= article.short_title %></mark>
                                            </figcaption>
                                        </figure><!--/ .ratio-pairing -->
                                    <% end %>
                                    </li>
                                <% end %>
                          <% end %>
                        </ul>
                    </aside>
                <% end %>
            <% else %>
                <% cache ["single/article", "more-from-category", "v1", @category] do %>
                    <aside class="see-more issue">
                        <header>
                            <h1>More from this Category</h1>
                            <h2 class="clearfix">
                                <span><%= link_to @category.title, @category.public_path %></span>
                                <mark><%= link_to 'See All', @category.public_path %></mark>
                            </h2>
                        </header>
                        <ul class="previews">
                            <% if category_articles = @category_articles.first(3) %>
                                <% category_articles.each do |article| %>
                                    <li>
                                    <%= link_to article.public_path do %>
                                        <figure class="ratio-pairing clearfix">
                                            <div class="ratio">
                                                <div class="fill"></div>
                                                <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                            </div><!--/ .ratio -->
                                            <figcaption>
                                                <%= smart_date_js article.public_datetime %>
                                                <mark><%= article.short_title %></mark>
                                            </figcaption>
                                        </figure><!--/ .ratio-pairing -->
                                    <% end %>
                                    </li>
                                <% end %>
                          <% end %>
                        </ul>
                    </aside>
                <% end %>
            <% end %>
            <aside class="see-more">
                <header>
                    <h1>Popular now on KPCC</h1>
                </header>
                <ul class="previews">
                  <% if @popular_articles.present? %>
                    <% @popular_articles.first(3).each do |article| %>
                      <li>
                        <%= link_to article.public_path do %>
                              <figure class="ratio-pairing clearfix">
                                  <div class="ratio">
                                      <div class="fill"></div>
                                      <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                  </div><!--/ .ratio -->
                                  <figcaption>
                                      <%= smart_date_js article.public_datetime %>
                                      <mark><%= article.short_title %></mark>
                                  </figcaption>
                              </figure><!--/ .ratio-pairing -->
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </aside>
        </section>
    </div>
</div><!--/ .report -->

<div style="padding-bottom: 30px; border-bottom: 1px solid rgba(0,0,0,0.2); margin-bottom: 25px;">
    <div style="background: #295b7b; padding: 60px 0;">
        <p style="text-align: center; color: white; font-size: 1.2em; margin-bottom: 20px;" class="bound">EITHER THE EXCLUSIVE-SPONSOR RESPONSIVE-AD <em style="font-style: italic; font-size: 1.7em;">OR </em> THE ONE-TIME-DONATION MEMBERSHIP-PLUG GOES HERE</p>
        <p style="text-align: center; color: rgba(255,255,255,0.7); font-size: 0.6em;" class="bound">(OR IT JUST COLLAPSES IF WE DON'T WANT TO RUN EITHER OF THEM)</p>
    </div>
</div>
<%= comments_for article.original_object %>

    <div class="placard-waystation">
    </div>

<% if @vertical.present? %>
<%= render 'shared/new/triptych', category: @category, articles: @category_articles[0..2], header: "More from #{@category.title}" %>
    <% if @popular_articles && is_blog %>
    <%= render 'shared/new/quadrant',
    articles: @popular_articles.first(3),
    header: 'Popular Now on KPCC' %>
    <% end %>
    <% if @category_articles.present? %>
    <div class="townhall">
        <div class="inner bound clearfix">
            <div class="primary clearfix">
                <section class="backlog">
                    <h1>More <%= @category.title %></h1>
                    <%= render 'shared/new/waterfall_articles', articles: @category_articles[3..-1], issue_tag_exists: true %>

                    <footer>
                        <%= link_to "More #{@category.title} News", @category.public_path %>
                    </footer>

                </section><!--/ .backlog -->

                <div class="supportive">
                    <section>
                        <% if @vertical.present? %>
                        <% if @vertical.issues.present? %>
                        <h1>Issues We're Tracking</h1>
                            <% main_issue = @vertical.issues.first %>
                            <h2 class="special"><%= main_issue.title %></h2>
                                <nav>
                                    <ul>
                                        <%= render 'shared/new/single_page_issue_list', articles: main_issue.articles.first(2) %>
                                    </ul>
                                </nav>
                                <% if other_issues = @vertical.issues[1..2] %>
                                    <% other_issues.each do |issue| %>
                                        <h2><%= issue.title %></h2>
                                        <nav>
                                            <ul>
                                                <%= render 'shared/new/single_page_issue_list', articles: issue.articles.first(2) %>
                                            </ul>
                                    </nav>
                                    <% end %>
                                <% end %>
                        <footer>
                          <%= link_to 'See all issues', issues_path %>
                        </footer>
                        <% end %>
                        <% end %>
                    </section>
                    <section>

                        <% bios = @vertical.reporters if @vertical.present? %>
                        <% if bios.present? %>
                        <h1>Our Reporters</h1>
                        <div class="rollcall clearfix">
                            <% bios.each do |reporter| %>
                                <figure class="reporter clearfix">
                                    <div class="ratio">
                                        <%= link_to reporter.public_path, title: reporter.name do %>
                                            <div class="fill"></div>
                                            <b class="img-contain"><%= reporter.headshot.small.tag %></b>
                                        <% end %>
                                    </div>
                                    <figcaption>
                                        <mark><%= link_to reporter.name, reporter.public_path, title: reporter.name %></mark>
                                        <ul class="clearfix">
                                            <li><%= mail_to reporter.email, 'Email', title: "Email #{reporter.name}" %></li>
                                            <% if reporter.twitter_handle.present? %>
                                            <li><%= link_to "Twitter", twitter_profile_url(reporter.twitter_handle), target: "_blank", title: "Follow #{reporter.first_name} on Twitter" %></li>
                                            <% end %>
                                        </ul>
                                    </figcaption>
                                </figure>
                            <% end %>
                        </div>
                        <% end %>
                    </section>
                </div><!--/ .supportive -->

             </div><!--/ .primary -->

             <div class="tourguide">
                 <aside>
                     <h1>Welcome to <span>KPCC's Represent.</span></h1>
                     <p>We’re a Southern-California-focused team of KPCC reporters who are passionate about bringing you the latest, best, curabitur cursus tincidunt nulla faucibus consectetur. Nullam sed libero id nulla facilisis vehicula non quis nulla. Proin gravida pharetra mattis. Sed vitae mauris sapien, ut eleifend felis. Duis quis augue diam.</p>
                </aside>
                <aside>
                    <h1>Represent Resources</h1>
                    <h2>Quick primers on civic life in California.</h2>
                    <p>All of us at KPCC believe that civic life in Southern California should be understandable, relevant, and libero ante, aliquam congue mattis id, blandit quis risus. Sed iaculis tellus accumsan ipsum porta ultricies.</p>
                    <nav class="resources clearfix">
                        <% if @featured_articles.present? %>
                        <% @featured_articles[1..4].each do |article| %>
                            <figure class="clearfix">
                                <div class="ratio">
                                    <%= link_to article.public_path, title: article.short_title do %>
                                        <div class="fill"></div>
                                        <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                    <% end %>
                                </div>
                                <figcaption>
                                    <%= link_to article.short_title, article.public_path %>
                                </figcaption>
                            </figure>
                        <% end %>
                        <% end %>
                    </nav>
                    <footer>
                        <p>Represent Resources is made possible with support from <a href="#">The Robert Day School</a>.</p>
                    </footer>
                </aside>
                <aside>
                    <h1>Get involved.</h1>
                    <% events = @events[0..2] %>
                    <%= cache ["articles/show", "upcoming-events", "v1", events] do %>
                        <ul class="events">
                            <% Array(events).each do |event| %>
                              <li>
                                    <figure class="clearfix">
                                      <%= content_tag :time, datetime: event.starts_at.strftime('%F') do %>
                                        <b><%= event.starts_at.day %></b>
                                        <span><mark><%= event.starts_at.strftime('%b') %></mark> <%= event.starts_at.strftime('%Y') %></span>
                                      <% end %>
                                        <figcaption>
                                          <b><%= event.headline %></b>
                                          <%= link_to 'More information', event.public_path %>
                                        </figcaption>
                                    </figure>
                              </li>
                             <% end %>
                         </ul>
                     <% end %>
                </aside>
             </div><!--/ .tourguide -->

         </div>
     </div><!--/ .townhall -->
 <% end %>
<% end %>



