<% article = article.to_article %>
<%= cache ["single/article", "asset-display", article] do %>
    <% present article do |article_presenter| %>
        <%= article_presenter.asset_display %>
    <% end %>
<% end %>
<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">

            <div class="marginal-tools clearfix">
                <% if article.audio.any? %>
                    <% audio = article.audio %>
                    <%= cache ["single/article", "story-audio", "v1", audio] do %>
                        <nav class="audio-queue">
                            <header>Listen to audio from this story</header>
                            <ul>
                            <% audio.each_with_index do |audio, index| %>
                                <li class="story-audio">
                                    <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>">
                                        <b><%= format_clip_duration audio.duration %></b>
                                        <span><%= "Clip #{index+1}" %></span>
                                    </a>
                                </li>
                            <% end %>
                            </ul>
                        </nav>
                    <% end %>
                <% end %>

                <%= cache ["single/article", "story-share", article] do %>
                    <%= render 'shared/new/social_share', article: article %>
                <% end %>
            </div><!--/ .marginal-tools -->

            <div class="prose-body">
                <%= cache ["single/article", "article-body-asset", article] do %>
                    <% if article.original_object.assets.present? %>
                        <% present article do |article_presenter| %>
                            <%= article_presenter.inline_asset %>
                        <% end %>
                    <% end %>
                <% end %>

                <% cache ["single/article", "article-body", article] do %>
                    <%= article.body.html_safe %>
                <% end %>
            </div><!--/ .prose-body -->

            <%= cache ["single/article", "related-content", article] do %>
                <% present article do |article_presenter| %>
                    <%= article_presenter.related_links %>
                <% end %>
            <% end %>

            <%= cache ["single/article", "story-share", article] do %>
                <%= render 'shared/new/social_share', article: article %>
            <% end %>

            <footer class="comments-jump">
                <a href="#comments">
                    <mark>Join the discussion.</mark>
                    <span>Tap here to jump to this article's comments.</span>
                </a>
            </footer>

            <!--
            <footer class="comments-trigger">
                <a href="#">This article currently has no comments. Click here to start the discussion.</a>
            </footer>
            -->

        </article>
        <section class="supportive">
            <aside class="placard">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
                </div>
            </aside>

            <aside class="placard">
                <div class="ad widget">
                    <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
                    <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
                </div>
            </aside>

            <% if tag = article.original_object.tags.first %>
                <% cache ["single/article", "more-issues", tag] do %>
                    <aside class="see-more issue">
                        <header>
                            <h1>More from this Issue</h1>
                            <h2 class="clearfix">
                                <span><%= link_to tag.title, tag.public_path %></span>
                                <mark><%= link_to 'See All', issues_path %></mark>
                            </h2>
                        </header>
                        <ul class="previews">
                            <% if tag_articles = tag.articles.first(3) %>
                                <% cache ["single/article", "tag-articles", tag_articles] do %>
                                    <% tag_articles.each do |article| %>
                                        <li>
                                        <%= link_to article.public_path do %>
                                            <figure class="ratio-pairing clearfix">
                                                <div class="ratio">
                                                    <div class="fill"></div>
                                                    <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                                </div><!--/ .ratio -->
                                                <figcaption>
                                                    <%= smart_date_js article.public_datetime %>
                                                    <mark><%= article.short_title %></mark>
                                                </figcaption>
                                            </figure><!--/ .ratio-pairing -->
                                        <% end %>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </ul>
                    </aside>
                <% end %>
            <% elsif @category.present? %>
                <% cache ["single/article", "more-from-category", @category] do %>
                    <aside class="see-more issue">
                        <header>
                            <h1>More from this Category</h1>
                            <h2 class="clearfix">
                                <span><%= link_to @category.title, @category.public_path %></span>
                                <mark><%= link_to 'See All', @category.public_path %></mark>
                            </h2>
                        </header>
                        <ul class="previews">
                            <% if category_articles = @category_articles.first(3) %>
                                <% cache ["single/article", "category-articles", category_articles] do %>
                                    <% category_articles.each do |article| %>
                                        <li>
                                        <%= link_to article.public_path do %>
                                            <figure class="ratio-pairing clearfix">
                                                <div class="ratio">
                                                    <div class="fill"></div>
                                                    <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                                </div><!--/ .ratio -->
                                                <figcaption>
                                                    <%= smart_date_js article.public_datetime %>
                                                    <mark><%= article.short_title %></mark>
                                                </figcaption>
                                            </figure><!--/ .ratio-pairing -->
                                        <% end %>
                                        </li>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </ul>
                    </aside>
                <% end %>
            <% end %>
            <aside class="see-more">
                <header>
                    <h1>Popular now on KPCC</h1>
                </header>
                <ul class="previews">
                  <% if @popular_articles.present? %>
                    <% @popular_articles.first(3).each do |article| %>
                      <li>
                        <%= link_to article.public_path do %>
                              <figure class="ratio-pairing clearfix">
                                  <div class="ratio">
                                      <div class="fill"></div>
                                      <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                  </div><!--/ .ratio -->
                                  <figcaption>
                                      <%= smart_date_js article.public_datetime %>
                                      <mark><%= article.short_title %></mark>
                                  </figcaption>
                              </figure><!--/ .ratio-pairing -->
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </aside>
        </section>
    </div>
</div><!--/ .report -->

<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<%= comments_for article.original_object %>

    <div class="placard-waystation">
    </div>
