<% article = article.to_article %>

<div class="report">
    <div class="inner bound clearfix">
        

        <article class="prose">


            <figure class="lead-asset">
              <b><img src="http://placekitten.com/1000/750" alt="" /></b>
              <figcaption class="clearfix">
                <span class="brief">Midnight Mission Managing Director Clancy Imislund started working at the shelter and recovery center in 1974.</span>
                <span class="credit">Kevin Ferguson/KPCC</span>
              </figcaption>
            </figure>



<!--
====================================================================================================================================================================================
<div class="marginal-tools clearfix">
    <% if article.audio.any? %>
        <% audio = article.audio %>
        <nav class="audio-queue track-event" data-ga-category="Article" data-ga-action="Load" data-ga-label="Player" data-non-interaction="1">
            <header>Audio from this story</header>
            <ul>
            <% audio.each_with_index do |audio, index| %>
                <li class="story-audio track-event" data-ga-category="Article" data-ga-action="Play" data-ga-label="Player">
                    <a href="<%= audio.url %>" class="play-btn audio-toggler track-event" data-ga-category="Article" data-ga-action="Play" data-ga-label="Player" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>">
                        <b><%= format_clip_duration audio.duration %></b>
                        <span><%= index == 0 ? "Listen" : "Extra Audio" %></span>
                    </a>
                </li>
            <% end %>
            </ul>
        </nav>
    <% end %>

    <%= render 'shared/new/social_share', article: article %>
</div>
====================================================================================================================================================================================
-->

            
            <aside class="audio-actuator">
              <a href="#">
                <mark class="flourish"><b>This story includes audio.</b></mark>
                <div><span class="prompt">Listen to this story</span> <span class="duration">6 min 53 sec</span></div>
              </a>
            </aside>


            <div class="prose-columns clearfix">

              <div class="primary">

              <div class="prose-body">
                  <%= article.body.html_safe %>
                  <% if article.original_object.joined_bylines[:contributing].present? %>
                      <footer class="contributor">
                          <p><%= render_contributing_byline article.original_object %></p>
                      </footer>
                  <% end %>
              </div><!--/ .prose-body -->


              <!--
              <% present article do |article_presenter| %>
                  <%= article_presenter.related_links %>
              <% end %>
              -->



              <aside class="ancillary related-links">
                <header>Related links</header>
                <nav>
                  <ul>
                    <li><a href="#">As downtown LA grows, so does urgency to fix Skid Row</a></li>
                    <li><a href="#">LA's homeless: Skid Row's epic clean-up by the numbers</a></li>
                    <li><a href="#">LA homeless: Extra $214M to coordinate services, programs</a></li>
                  </ul>
                </nav>
              </aside>


              <aside class="ancillary episode-contents">
                <header>More from this episode <cite>Off-Ramp for October 27, 2014</cite></header>
                <h1>The "lost" sounds of a long-gone amusement park</h1>
                <nav>
                  <ul>
                    <li><a href="#">Dive into a synchronized swimming renaissance with Aqualillies</a></li>
                    <li><a href="#">LA City Archive: How LA prepped for nuclear war in the 1950s</a></li>
                    <li><a href="#">Here's why we're putting a GPS tracker in a mattress (updated)</a></li>
                    <li><a href="#">Los Angeles had America's first Wrigley Field</a></li>
                    <li><a href="#">PHOTOS: New Woodland Hills homeowners' bonus room: a fully stocked fallout shelter</a></li>
                    <li class="selected"><a href="#">He went from sleeping on Skid Row to running the Midnight Mission</a></li>
                    <li><a href="#">PHOTOS: Why Alvin Kaufman built a fallout shelter in his Woodland Hills back yard</a></li>
                    <li><a href="#">RIP David Weidman, 93. Prolific printmaker, found new fame in Mad Men</a></li>
                    <li><a href="#">Grant Morrison explores 52 universes in DC Comics' 'Multiversity'</a></li>
                    <li><a href="#">The mysterious mannequins of North Hollywood Toyota</a></li>
                  </ul>
                </nav>
              </aside>



              <!--
              <aside class="other-segments" id="other-segments">
                  <h6>More from this <%= @segment.episodes.present? ? "Episode" : "Program" %></h6>
                  <ul>
                      <% @segment.sister_segments.each do |segment| %>
                      <li><%= link_to segment.short_headline, segment.public_path %></li>
                      <% end %>
                  </ul>
              </aside>
              -->

            </div><!--/ .primary -->
            


            <div class="secondary">

              <aside class="disseminate">
                <h1>Share</h1>
                <ul>
                  <li><a href="#">Email</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
                </ul>
              </aside>

              <aside class="comments-plug">
                <h1>Comments</h1>
                <figure>
                  <mark>18</mark>
                  <figcaption><a href="#">Join the discussion</a></figcaption>
                </figure>
              </aside>

              <aside class="taxonomy">
                <h1>Part of a series</h1>
                <ul>
                  <li><a href="#">Tuesday Reviewsdays</a></li>
                  <li><a href="#">A possible second tag</a></li>
                </ul>
              </aside>

            </div><!--/ .secondary -->


            </div><!--/ .prose-columns -->




            <%#= render 'shared/new/social_share', article: article %>

            <!--
            <footer class="comments-jump">
                <a href="#comments">
                    <mark>Join the discussion.</mark>
                    <span>Tap here to jump to this article's comments.</span>
                </a>
            </footer>
            -->

            <!--
            <footer class="comments-trigger">
                <a href="#">This article currently has no comments. Click here to start the discussion.</a>
            </footer>
            -->

        </article>
