<div class="appellation bound">
  <h1><%= article.headline %></h1>
  <p>by <%= render_byline article %>. <%= smart_date_js article.published_at %>.</p>
</div><!--/ .appellation -->

<div class="report">
    <div class="inner bound clearfix">


        <article class="prose">

            <%= render_asset article, context:"segments" %>

            <%= content_widget "new/primary_audio", article %>


            <%= render 'shared/new/social_share', article: article.to_article, cssClass: "pinned" %>


            <div class="prose-columns clearfix">

              <div class="primary">

              <%= content_widget "new/extra_audio", article %>


              <div class="prose-body">
                  <%= article.body.html_safe %>
                  <% if article.joined_bylines[:contributing].present? %>
                      <footer class="contributor">
                          <p><%= render_contributing_byline article.original_object %></p>
                      </footer>
                  <% end %>
              </div><!--/ .prose-body -->


              <% present article.to_article do |article_presenter| %>
                  <%= article_presenter.related_links %>
              <% end %>


              <% if article.episode.present? %>
              <aside class="ancillary episode-contents">
                <header>
                  More from this <%= article.episode.present? ? "episode" : "program" %>
                  <cite>
                    <a href="<%= article.episode.public_path %>">
                      <%= @program.title %> for <%= article.episode.air_date.strftime("%B %d, %Y") %>
                    </a>
                  </cite>
                </header>
                <h1><%= link_to article.episode.headline, article.episode.public_path %></h1>
                <nav>
                  <ul>
                    <% article.episode_segments.each do |segment| %>
                      <li class="<%= ("selected" if article.id == segment.id) %>">
                        <%= link_to segment.short_headline, segment.public_path %>
                      </li>
                    <% end %>
                  </ul>
                </nav>
              </aside>
              <% end %>


            </div><!--/ .primary -->



            <div class="secondary">

              <%= render 'shared/new/social_share', article: article.to_article %>

              <div class="buddy-pairing clearfix">
                <%= content_widget 'new/comment_count', article %>
              </div>

            </div><!--/ .secondary -->


            </div><!--/ .prose-columns -->

        </article>
