<% article = article.to_article %>
<% if article.asset.present? %>
<section class="prologue">
    <div class="grating">
        <div class="inner bound clearfix">
            <div class="prose">
                <h1 class="title"><%= article.short_title %></h1>
                <aside class="byline">
                    <h2 class="author">by <%= render_byline article.original_object %></h2>
                    <%= smart_date_js article.public_datetime %>
                </aside>
                <aside class="share">
                    <ul>
                        <li><a href="#">Share on Facebook</a></li>
                        <li><a href="#">Share on Twitter</a></li>
                        <li><a href="#">Share on Google Plus</a></li>
                        <li><a href="#">Share via Email</a></li>
                    </ul>
                </aside>
                <aside class="caption">
                    <p><%= article.asset.caption %><mark class="credit"><%= link_to article.asset.owner, '#' %></mark></p>
                </aside>
            </div><!--/ .prose -->
            <div class="asset">
                <div class="ratio">
                    <div class="fill"></div>
                    <b class="img-contain">
                      <%= image_tag article.asset.eight.url %>
                    </b>
                </div><!--/ .ratio -->
            </div><!--/ .asset -->
        </div>
    </div>
    <div class="ephemera"><%= image_tag article.asset.full.url %></div>
</section><!--/ .prologue -->
<% end %>

<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">
            <%= article.body.html_safe %>
            <% related = article.original_object.related_content.first(2) %>
            <% if related.present? %>
            <aside class="related">
                <header><h1>Related Links</h1></header>
                <nav>
                    <ul>
                        <% related.each do |article| %>
                          <li class="<%= article.feature.try(:key) %>">
                            <%= link_to article.public_path do %>
                              <mark><%= article.short_title %></mark>
                              <span><%= article.feature.try(:name) || "Article" %></span></a>
                            <% end %>
                          </li>
                        <% end %>
                    </ul>
                </nav>
            </aside>
            <% end %>
          </article>
        <section class="supportive">
            <% if audio = article.audio.first %>
            <aside class="audio">
                <header>
                    <h1>Play this article's audio</h1>
                </header>
                    <div class="audio-trigger">
                        <button value="activate"><%= link_to 'Play audio', audio.url, class: "play-btn audio-toggler" %></button>
                        <ul class="meta">
                            <li class="duration"><%= format_duration audio.duration %></li>
                            <li class="link"><%= link_to 'Download', audio.url %></li>
                        </ul>
                  </div>
            </aside>
            <% end %>
            <% if issue = article.original_object.issues.first %>
            <aside class="see-more issue">
                <header>
                    <h1>More from this Issue</h1>
                    <h2 class="clearfix">
                        <span><%= link_to issue.title, issue.public_path %></span>
                        <mark><%= link_to 'See All', issues_path %></mark>
                    </h2>
                </header>
                <ul class="previews">
                  <% if issue_articles = issue.articles.first(3) %>
                    <% issue_articles.each do |article| %>
                      <li>
                        <%= link_to article.public_path do %>
                            <figure class="ratio-pairing clearfix">
                                <div class="ratio">
                                    <div class="fill"></div>
                                    <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                </div><!--/ .ratio -->
                                <figcaption>
                                    <%= smart_date_js article.public_datetime %>
                                    <mark><%= article.short_title %></mark>
                                </figcaption>
                            </figure><!--/ .ratio-pairing -->
                        <% end %>
                        </li>
                    <% end %>
                  <% end %>
                </ul>
            </aside>
          <% end %>
            <aside class="see-more kpcc">
                <header>
                    <h1>Popular now on KPCC</h1>
                </header>
                <ul class="previews">
                  <% if @popular_articles.present? %>
                    <% @popular_articles.first(3).each do |article| %>
                      <li>
                        <%= link_to article.public_path do %>
                              <figure class="ratio-pairing clearfix">
                                  <div class="ratio">
                                      <div class="fill"></div>
                                      <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                  </div><!--/ .ratio -->
                                  <figcaption>
                                      <%= smart_date_js article.public_datetime %>
                                      <mark><%= article.short_title %></mark>
                                  </figcaption>
                              </figure><!--/ .ratio-pairing -->
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </aside>
        </section>
    </div>
</div><!--/ .report -->

<%= render 'shared/new/kpcc_ipad_ad' %>
<% if @category.present? %>
<%= render 'shared/new/triptych', category: @category, articles: @category_articles[0..2] %>
<% elsif @popular_articles %>
<%= render 'shared/new/quadrant',
    articles: @popular_articles.first(3),
    header: 'Popular Now on KPCC' %>
<% end %>
<% if @category_articles.present? %>
<div class="townhall">
    <div class="inner bound clearfix">
        <div class="primary clearfix">
            <section class="backlog">
                <h1>More <%= @category.title %></h1>
                <%= render 'shared/new/waterfall_articles', articles: @category_articles[3..-1], issue_tag_exists: true %>

                <footer>
                    <%= link_to "More #{@category.title} News", @category.public_path %>
                </footer>

            </section><!--/ .backlog -->

            <div class="supportive">
                <section>
                    <% if @category.issues.present? %>
                    <h1>Issues We're Tracking</h1>
                        <% main_issue = @category.issues.first %>
                        <h2 class="special"><%= main_issue.title %></h2>
                            <nav>
                                <ul>
                                    <%= render 'shared/new/single_page_issue_list', articles: main_issue.articles.first(2) %>
                                </ul>
                            </nav>
                            <% if other_issues = @category.issues[1..2] %>
                                <% other_issues.each do |issue| %>
                                    <h2><%= issue.title %></h2>
                                    <nav>
                                        <ul>
                                            <%= render 'shared/new/single_page_issue_list', articles: issue.articles.first(2) %>
                                        </ul>
                                </nav>
                                <% end %>
                            <% end %>
                    <footer>
                      <%= link_to 'See all issues', issues_path %>
                    </footer>
                    <% end %>
                </section>
                <section>
                    <h1>Our Reporters</h1>
                    <div class="rollcall clearfix">
                        <% if @category.bios.present? %>
                        <% @category.bios.each do |reporter| %>
                            <figure class="reporter clearfix">
                                <div class="ratio">
                                    <%= link_to reporter.public_path, title: reporter.name do %>
                                        <div class="fill"></div>
                                        <b class="img-contain"><%= reporter.headshot.small.tag %></b>
                                    <% end %>
                                </div>
                                <figcaption>
                                    <mark><%= link_to reporter.name, reporter.public_path, title: reporter.name %></mark>
                                    <ul class="clearfix">
                                        <li><%= mail_to reporter.email, 'Email', title: "Email #{reporter.name}" %></li>
                                        <% if reporter.twitter_handle.present? %>
                                        <li><%= link_to "Twitter", twitter_profile_url(reporter.twitter_handle), target: "_blank", title: "Follow #{reporter.first_name} on Twitter" %></li>
                                        <% end %>
                                    </ul>
                                </figcaption>
                            </figure>
                        <% end %>
                        <% end %>
                    </div>
                </section>
            </div><!--/ .supportive -->

         </div><!--/ .primary -->

         <div class="tourguide">
             <aside>
                 <h1>Welcome to <span>KPCC's Represent.</span></h1>
                 <p>We’re a Southern-California-focused team of KPCC reporters who are passionate about bringing you the latest, best, curabitur cursus tincidunt nulla faucibus consectetur. Nullam sed libero id nulla facilisis vehicula non quis nulla. Proin gravida pharetra mattis. Sed vitae mauris sapien, ut eleifend felis. Duis quis augue diam.</p>
            </aside>
            <aside>
                <h1>Represent Resources</h1>
                <h2>Quick primers on civic life in California.</h2>
                <p>All of us at KPCC believe that civic life in Southern California should be understandable, relevant, and libero ante, aliquam congue mattis id, blandit quis risus. Sed iaculis tellus accumsan ipsum porta ultricies.</p>
                <nav class="resources clearfix">
                    <% if @category.featured_articles.present? %>
                    <% @category.featured_articles[1..4].each do |article| %>
                        <figure class="clearfix">
                            <div class="ratio">
                                <%= link_to article.public_path, title: article.short_title do %>
                                    <div class="fill"></div>
                                    <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                <% end %>
                            </div>
                            <figcaption>
                                <%= link_to article.short_title, article.public_path %>
                            </figcaption>
                        </figure>
                    <% end %>
                    <% end %>
                </nav>
                <footer>
                    <p>Represent Resources is made possible with support from <a href="#">The Robert Day School</a>.</p>
                </footer>
            </aside>
            <aside>
                <h1>Get involved.</h1>
                <ul class="events">
                    <% @events[0..2].each do |event| %>
                      <li>
                            <figure class="clearfix">
                              <%= content_tag :time, datetime: event.public_datetime.strftime('%F') do %>
                                <b><%= event.public_datetime.day %></b>
                                <span><mark><%= event.public_datetime.strftime('%b') %></mark> <%= event.public_datetime.strftime('%Y') %></span>
                              <% end %>
                                <figcaption>
                                  <b><%= event.short_title %></b>
                                  <%= link_to 'More information', event.public_path %>
                                </figcaption>
                            </figure>
                      </li>
                     <% end %>
                </ul>
            </aside>
         </div><!--/ .tourguide -->

     </div>
 </div><!--/ .townhall -->
<% end %>





