<%= content_for(:body_class, "single") %>

<% article = @entry.to_article %>
<%= render_asset article.original_object, context:"news", fallback:true %>

<div class="report">
    <div class="inner bound clearfix">
        <article class="prose">

            <div class="marginal-tools clearfix">
                <% if article.audio.any? %>
                    <% audio = article.audio %>
                    <nav class="audio-queue">
                        <header>Listen to audio from this story</header>
                        <ul>
                        <% audio.each_with_index do |audio, index| %>
                            <li class="story-audio">
                                <a href="<%= audio.url %>" class="play-btn audio-toggler" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>">
                                    <b><%= format_clip_duration audio.duration %></b>
                                    <span><%= "Clip #{index+1}" %></span>
                                </a>
                            </li>
                        <% end %>
                        </ul>
                    </nav>
                    <% end %>

            </div><!--/ .marginal-tools -->

                <div class="prose-body">

                    <% if should_inline_asset_for(article.original_object) %>
                      <%= render_asset article, context:"news", display:"inline" %>
                    <% end %>

                    <%= render_inline_assets article %>
                    <% if article.original_object.joined_bylines[:contributing].present? %>
                        <footer class="contributor">
                            <p><%= render_contributing_byline article.original_object %></p>
                        </footer>
                    <% end %>
                </div><!--/ .prose-body -->

            <%= render 'shared/cwidgets/related_links', content:article.original_object %>

        </article>
      </div>
</div><!--/ .report -->
