<% cssClass ||= "" %>

<aside class="buddy disseminate <%= cssClass %> clearfix" aria-hidden="true">
    <h1>Share</h1>
    <ul class="clearfix">
        <li class="email">
            <a href="#" class="track-event email" data-ga-category="Article" data-ga-action="Share" data-ga-label="Email" data-key="<%= article.id %>"><span>Share via Email</span><mark>email</mark></a>
        </li>
        <li class="twitter social_twit" data-url="<%= article.public_url %>">
            <a href="#" class="track-event twitter" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="<%= article.public_url %>" data-text="<%= u(article.short_title) %>"><span>Share on Twitter</span><mark class="count"></mark></a>
        </li>
        <li class="facebook social_fb" data-url="<%= article.public_url %>">
            <a href="#" class="track-event facebook" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="<%= article.public_url %>"><span>Share on Facebook</span><mark class="count"></mark></a>
            
        </li>
    </ul>
</aside>

