<aside class="share">
    <header>Share <span>this story</span></header>
    <ul class="clearfix">
        <li class="email">
            <a href="#" class="track-event email" data-ga-category="Article" data-ga-action="Share" data-ga-label="Email" data-key="<%= article.id %>">Share via Email</a>
        </li>
        <li class="twitter social_twit" data-url="<%= article.public_url %>">
            <a href="#" class="track-event twitter" data-ga-category="Article" data-ga-action="Share" data-ga-label="Twitter" data-url="<%= article.public_url %>" data-text="<%= u(article.short_title) %>">Share on Twitter</a>
            <span class="count"></span>
        </li>
        <li class="facebook social_fb" data-url="<%= article.public_url %>">
            <a href="#" class="track-event facebook" data-ga-category="Article" data-ga-action="Share" data-ga-label="Facebook" data-url="<%= article.public_url %>">Share on Facebook</a>
            <span class="count"></span>
        </li>
    </ul>
</aside>

