<%# articles must be an array of Articles %>

<section class="triptych">
    <div class="inner bound">
        <header><h1><%= header %></h1></header>

        <div class="rail clearfix">

        <% articles.each do |article| %>
            <article class="clearfix">
                <div class="graphic">
                    <div class="ratio">

                    <% if tag = (article.tags & @vertical.tags).first %>
                        <a href="<%=issue_path(tag.slug)%>" class='issue'>
                          <span><%= tag.title %></span>
                        </a>
                    <% end %>

                        <div class="fill"></div>
                        <b class="img-contain"><%= image_tag article.asset.eight.url %></b>
                    </div><!--/ .ratio -->

                    <aside class="byline<%=' special' if article.feature.present?%>">
                        <p>
                            <b class="author"><%= render_byline(article.original_object) %></b>
                            <%= smart_date_js article.public_datetime, tag: 'span' %>
                        </p>

                    <%- if article.feature.present? %>
                        <mark class="trait <%= article.feature.key %>"><%= article.feature.name %></mark>
                    <% end %>

                    </aside>
                </div> <!--/ .graphic -->

                <header>
                    <h1><%= link_to article.short_title, article.public_path %></h1>
                    <h2><%= article.teaser %></h2>
                </header>
            </article>
        <% end %>

        </div> <!--/ .rail -->
    </div> <!--/ .inner -->
</section><!--/ .triptych -->
