<%# articles must be an array of Articles %>

<% articles.each do |article| %>

<article class="clearfix">
    <div class="graphic">
        <div class="ratio">

    <% if display_header %>
        <% if tag = article.tags.first %>
            <span class="issue"><%= link_to tag.title, issue_path(tag.slug) %></span>
        <% end  %>
    <% end %>

            <div class="fill"></div>
            <b class="img-contain"><%= image_tag article.asset.small.url, alt: '' %></b>

        </div><!--/ .ratio -->
    </div><!--/ .graphic -->

    <div class="prose">
        <h1><%= link_to article.short_title, article.public_path %></h1>

        <aside class="byline">
            <p>
                <b class="author"><%= render_byline article.original_object %></b>
                <%= smart_date_js article.public_datetime, tag: 'span' %>
            </p>

        <% if article.feature.present? %>
            <mark class="trait <%= article.feature.key %>"><%= article.feature.name %></mark>
        <% end %>

        </aside>

        <p class="teaser"><%= article.teaser %></p>
    </div><!--/ .prose -->
</article>

<% end %>
