<div class="waterfall">
    <div class="inner bound clearfix">

        <section class="backlog">
            <h1>More <%= vertical.title %></h1>
                <%= cache ["categories/show", "waterfall-articles", 'v1', articles] do %>
                    <%= render 'shared/new/waterfall_articles', articles: Array(articles[7..-1]), display_header: true %>
                <% end %>
        </section><!--/ .backlog -->

    <% bios = vertical.reporters %>
    <% if bios.present? %>
        <div class="secondary">

        <%= cache ["categories/show", "bios", 'v1', bios.to_a] do %>
            <section class="reporters">
                <h1>Our Reporters</h1>
                <div class="clearfix">

                <% bios.each do |bio| %>
                    <figure class="ratio-pairing">
                        
                        <div class="ratio">
                            <div class="fill"></div>
                            <b class="img-contain">
                                <% if bio.asset_id? %>
                                <a href="<%=bio.public_path%>"><img src="<%= bio.headshot.small.url %>"></a>
                                <% end %>
                            </b>
                        </div><!--/ .ratio -->
                        <figcaption>
                            <h1><%= link_to bio.name, bio.public_path %></h1>
                            <ul class="clearfix">

                            <% if bio.email.present? %>
                                <li><%= link_to 'Email', "mailto:#{bio.email}", class: 'email', title: "Email #{bio.first_name}" %></li>
                            <% end %>

                            <% if bio.twitter_handle.present? %>
                                <li><%= link_to "Twitter", twitter_profile_url(bio.twitter_handle), target: "_blank", class: "twitter", title: "#{bio.first_name} on Twitter" %></li>
                            <% end %>

                            </ul>
                        </figcaption>
                    </figure>
                <% end %>

                </div>
            </section><!--/ .reporters -->
        <% end %>

        </div><!--/ .secondary -->
    <% end %>

    </div>
</div><!--/ .waterfall -->
