<div class="waterfall">
    <div class="inner bound clearfix">

        <section class="backlog">
            <h1>More <%= @category.title %></h1>
                <%= cache ["categories/show", "waterfall-articles", cache_version, articles] do %>
                    <%= render 'shared/new/waterfall_articles', articles: Array(articles[7..-1]), issue_tag_exists: true %>
                <% end %>
        </section><!--/ .backlog -->

    <% bios = @category.bios %>
    <% if bios.present? %>
        <div class="secondary">

        <%= cache ["categories/show", "bios", cache_version, bios.to_a] do %>
            <section class="reporters">
                <h1>Our Reporters</h1>
                <div class="clearfix">

                <%- bios.each do |bio| %>
                    <figure class="ratio-pairing">
                        <div class="ratio">
                            <div class="fill"></div>
                            <b class="img-contain"><a href="<%=bio.public_path%>"><img src="<%= bio.headshot.small.url %>"></a></b>
                        </div><!--/ .ratio -->
                        <figcaption>
                            <h1><%= link_to bio.name, bio.public_path %></h1>
                            <ul class="clearfix">

                            <% if bio.email.present? %>
                                <li><%= link_to 'Email', "mailto:#{bio.email}", class: 'email', title: "Email #{bio.first_name}" %></li>
                            <% end %>

                            <% if bio.twitter_handle.present? %>
                                <li><%= link_to "Twitter", twitter_profile_url(bio.twitter_handle), target: "_blank", class: "twitter", title: "#{bio.first_name} on Twitter" %></li>
                            <% end %>

                            </ul>
                        </figcaption>
                    </figure>
                <% end %>

                </div>
            </section><!--/ .reporters -->
        <% end %>

        <% if cached_tweets = Rails.cache.fetch("verticals/#{@category.slug}/twitter_feed") %>
            <section class="tweets">
                <h1>In Brief</h1>
                <ul>
                    <%= cached_tweets %>
                </ul>
            </section><!--/ .tweets -->
        <% end %>

        </div><!--/ .secondary -->
    <% end %>

    </div>
</div><!--/ .waterfall -->
