<aside class="o-program-overview o-content-cluster <%= @options[:class] %>" <%= order %> >
  <h6 class="o-program-overview__heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--medium">
    About <%= title %>
  </h6>
  <%= airtime %>
  <div class="o-content-cluster__description b-heading--book"><%= description %></div>
  <ul class="o-content-cluster__share-links c-list">
    <%= facebook_link %>
    <%= podcast_link %>
    <%= rss_link %>
    <%= email_link %>
  </ul>
</aside>