<% add_to_page_title @segment.headline %>
<% content_for :body_class, 'interior single segment' %>
<% content_for :opengraph do %><%= render_content @segment, "opengraph" %><% end %>
<%= render 'shared/ads/dfp_script_config', category: @segment.category %>

<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/program_content_titling' %>
<% end %>


<div class="appellation bound">
  <h1>Midnight Mission centennial: How this man went from homeless to managing a shelter</h1>
  <p>Byline goes here. Pubdate.</p>
</div><!--/ .appellation -->



<%= cache ["show", "article-content", "v13", @segment] do %>
    <%= render "shared/new/single_segment", article: @segment, full: true %>
<% end %>

<% cache ["show", "article-supportive", "v16", @segment] do %>
    <section class="supportive">
        <aside class="placard">
            <div class="ad widget">
                <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
            </div>
        </aside>

        <aside class="placard">
            <div class="ad widget">
                <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
                <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
            </div>
        </aside>

        <aside class="see-more">
            <header>
                <h1>Recently on Off-Ramp</h1>
            </header>
        </aside>



        <aside class="ill-come-up-with-something">
          <p>ABOUT OFF-RAMP</p>
          <p>Off-Ramp is a lively weekly look at Southern California through the eyes and ears of radio veteran John Rabe. News, arts, home, life — covering everything that makes life here exciting, enjoyable, and interesting.</p>
          <time>Saturday noon to 1:00 P.M. and Sunday 6:00 to 7:00 P.M.</time>
          <ul>
            <li><a href="#">Off-Ramp’s website</a></li>
            <li><a href="#">Follow Off-Ramp on Twitter</a></li>
            <li><a href="#">Like Off-Ramp on Facebook</a></li>
            <li><a href="#">Subscribe to Off-Ramp’s podcast on iTunes</a></li>
            <li><a href="#">Subscribe to Off-Ramp via RSS</a></li>
          </ul>
        </aside>


        </section>
    </div>
</div><!--/ .report -->

<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<%= comments_for @story %>

<div class="placard-waystation"></div>
<% end %>

<%= comments_for @segment, header: false %>

<% if @featured_programs %>
    <%= render 'programs/kpcc/new/featured_programs' %>
<% end %>

<% if @popular_articles %>
    <%= render 'shared/new/popular_articles',
        articles: @popular_articles.first(4),
        header: 'Popular Now on KPCC' %>
<% end %>