<% add_to_page_title @program.title %>
<% meta_tags(url: @program.public_url) %>
<% content_for :body_class, "program #{@program.slug}" %>





<section class="exordium curated-segment" style="display: none;">
  <header class="bound">
    <h1><a href="#">Gov. Brown, legislators reach deal to boost CA film tax credit</a></h1>
  </header>
  <div class="content clearfix bound">
    <article class="featured clearfix">
      <figure class="photo ratio">
        <a href="#">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
        </a>
      </figure>
      <div class="summary">
        <aside class="prompt byline">
          <h2>Tuesday, August 26, 2014</h2>
          <h3>by John Horn</h3>
        </aside>
        <div class="description">
          <p>$330 million isn't the $400 million many supporters were hoping for, but it's still more than triple what California now offers to film and TV productions.</p>
        </div>
        <footer>
          <a href="#">Keep reading</a>
        </footer>
      </div>
    </article>
    <div class="supporting clearfix">
      <section class="segments">
        <h2>Our Latest Episode <span>August 27, 2014</span></h2>
        <a href="#" class="latest">
          <figure>
            <div class="ratio">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://placekitten.com/600/400" alt="" /></b>
            </div>
            <figcaption>High-speed rails, ride-share carpooling, and how bears avoid diabetes</figcaption>
          </figure>
        </a>
        <nav>
          <ul>
            <li><a href="#">U.S. still struggling with high-speed rail</a></li>
            <li><a href="#">Uber, Lyft and Sidecar go after the carpooling crowd</a></li>
            <li><a href="#">After-school programs offering arts instruction to students</a></li>
          </ul>
        </nav>
        <footer>        
          <a href="#">
            <figure>
              <mark>See all from August 27</mark>
              <figcaption><span>12</span> more stories</figcaption>
            </figure>
          </a>
        </footer>
      </section>
      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside><!--/ .plug (A) -->
    </div><!--/ .supporting -->
  </div><!--/ .content -->
</section><!--/ .exordium -->





<section class="exordium curated-episode" style="display: block;">
  <header class="bound">
    <h1><a href="#">High-speed rails, ride-share carpooling, and how bears avoid diabetes</a></h1>
  </header>
  <div class="content clearfix bound">
    <article class="featured clearfix">
      <figure class="photo ratio">
        <a href="#">
          <div class="fill"></div>
          <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
        </a>
      </figure>
      <div class="summary">
        <aside class="prompt listen">
          <h1><cite>The Frame</cite> for Thursday, August 7, 2014</h1>
          <mark class="play">
            <a href="#"><!-- This'll invariably need some jPlayer class(es). -->
              <b>Listen to Episode</b>
              <span>1:58:17</span>
            </a>
          </mark>
        </aside>
        <aside class="download">
          <a href="#"><span>Download episode</span> <i>64 MB</i></a>
        </aside>
        <div class="description">
          <p>Today, we talk about how high-speed rails are a reality in other countries, but have yet to get on track in the U.S. We discuss the ride-sharing industry's foray into carpooling. We also talk diabetes-free grizzly bears, our weekly State of Affairs and a lot more.</p>
        </div>
        <footer>
          <a href="#">See full episode</a>
        </footer>
      </div>
    </article>
    <div class="supporting clearfix">
      <section class="segments">
        <h2>Also in this episode</h2>
        <nav>
          <ul>
            <li><a href="#">U.S. still struggling with high-speed rail</a></li>
            <li><a href="#">Uber, Lyft and Sidecar go after the carpooling crowd</a></li>
            <li><a href="#">After-school programs offering arts instruction to students</a></li>
            <li><a href="#">Brake for whales: ships to slow in blue whale habitat</a></li>
            <li><a href="#">What does it mean to "go green" on a fixed income?</a></li>
            <li><a href="#">Court finds pair of Khmer Rouge leaders guilty</a></li>
            <li><a href="#">Vaquita porpoise near extinction in Mexico</a></li>
            <li><a href="#">Why don't obese bears get diabetes?</a></li>
          </ul>
        </nav>
        <footer>        
          <a href="#">
            <figure>
              <mark>See all from August 7</mark>
              <figcaption><span>8</span> more stories</figcaption>
            </figure>
          </a>
        </footer>
      </section>
      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside><!--/ .plug (A) -->
    </div><!--/ .supporting -->
  </div><!--/ .content -->
</section><!--/ .exordium -->




<div class="neoteric">
  <div class="inner bound clearfix">

    <section class="segments">
      <h1>Recently on <cite>The Frame</cite></h1>
      <div class="series clearfix">

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Napa recovers after the earthquake</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <b class="img-contain"><img src="http://placekitten.com/400/850/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Lawyer for Michael Brown family becomes central figure in civil rights cases</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Predicting earthquakes</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Iranian-American judge barred from hearing cases with Iranian nationals</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">UC researchers study why protests turn violent</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">California prisons and mentally ill inmates</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">State lawmakers have until the end of week to tackle bills</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">American rice farmers look to China as the next big market</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Small Washington town takes center stage in marijuana ban lawsuit</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">a;ldfjasdfj</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">flakdjf</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">kdfgrt</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">blblblb aaaa</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <time datetime="2014-08-06"><span>Wed</span> August 6</time>
                <mark class="has-audio">8:25</mark>
                <b class="img-contain"><img src="http://placekitten.com/350/350/" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">moooooo</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <b class="img-contain"></b>
              </a>
            </div>
            <figcaption><a href="#">Browse through more of The Frame</a></figcaption>
        </figure>

      </div><!--/ .series -->
    </section><!--/ .segments -->

    <div class="library">
      <section class="episodes">
        <h2>Recent Episodes</h2>
        <nav>
          <ul>
            <li><a href="#">
              <time datetime="2014-08-26"><mark>Tuesday</mark>, August 26, 2014</time>
              <span>Michael Brown investigations, early jail releases, Arctic Monkeys and more</span></a></li>
            <li><a href="#">
              <time datetime="2014-08-25"><mark>Monday</mark>, August 25, 2014</time>
              <span>Missouri shooting, a look at DACA, and social media superstars</span></a></li>
            <li><a href="#">
              <time datetime="2014-08-22"><mark>Friday</mark>, August 22, 2014</time>
              <span>Police officers and shoot policy, fighting wildfires with tech, South American cholos and more</a></li>
            <li><a href="#">
              <time datetime="2014-08-21"><mark>Thursday</mark>, August 21, 2014</time>
              <span>Immigration, depression, sports talk and Lauren Bacall</span></a></li>
            <li><a href="#">
              <time datetime="2014-08-19"><mark>Wednesday</mark>, August 19, 2014</time>
              <span>Northern Iraq, remembering Robin Williams, and examining Ebola</span></a></li>
          </ul>
        </nav>
        <footer>
          <a href="#"><span>See <cite>The Frame</cite>&rsquo;s episode archive</span></a>
        </footer>
      </section><!--/ .episodes -->

      <aside class="plug">
        <div class="ad widget">
          <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
          <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
        </div>
      </aside><!--/ .plug (B) -->

      <section class="archive">
        <h2>Find a specific episode from The Frame’s archive</h2>
        <div class="flux-capacitor">
          <form accept-charset="UTF-8" action="/programs/offramp/archive" class="archive-date-select" id="archive_date_select" method="post">
            <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input name="authenticity_token" type="hidden" value="Hv3qnrajp8wwM5yr16aOZvA+r1JCrnBLq+lRXQVHrc0=" />
            </div>

            <div class="fields clearfix">

              <div class="field month">
                <label for="archive_date_2i">Month</label>
                <select id="archive_date_2i" name="archive[date(2i)]">
                  <option value="1">January</option><option value="2">February</option><option value="3">March</option>
                  <option value="4">April</option><option value="5">May</option><option value="6">June</option>
                  <option value="7">July</option><option value="8">August</option><option selected="selected" value="9">September</option>
                  <option value="10">October</option><option value="11">November</option><option value="12">December</option>
                </select>
              </div><!--/ .field.month -->
              
              <div class="field day">
                <label for="archive_date_3i">Day</label>
                <select id="archive_date_3i" name="archive[date(3i)]">
                  <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option selected="selected" value="5">5</option><option value="6">6</option><option value="7">7</option>
                  <option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                  <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option>
                  <option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option>
                  <option value="29">29</option><option value="30">30</option><option value="31">31</option>
                </select>
              </div><!--/ .field.day -->
              
              <div class="field year">
                <label for="archive_date_1i">Year</label>
                <select id="archive_date_1i" name="archive[date(1i)]">
                  <option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option>
                  <option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option>
                  <option value="2012">2012</option><option value="2013">2013</option><option selected="selected" value="2014">2014</option>
                </select>
              </div><!--/ .field.year -->

            </div><!--/ .fields -->
            
            <div class="commit clearfix">
              <input class="btn" name="commit" type="submit" value="Search" />
            </div>

          </form>
        </div><!--/ .flux-capacitor -->
      </section><!--/ .archive -->
    </div><!--/ .library -->

  </div><!--/ . inner -->
</div><!--/ .neoteric -->



<div class="interregnum">
  <div class="inner bound clearfix">
    <section class="team">
      <h1>Meet <cite>The Frame</cite>&rsquo;s team</h1>
      <div class="roster clearfix">

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://a.scpr.org/i/d5a750cd551d7eb670d37eef22549ff4/38886-small.jpg" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Adolfo Guzman Lopez</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://a.scpr.org/i/d5a750cd551d7eb670d37eef22549ff4/38886-small.jpg" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Mary Plummer</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://a.scpr.org/i/d5a750cd551d7eb670d37eef22549ff4/38886-small.jpg" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Deepa Fernandes</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://a.scpr.org/i/d5a750cd551d7eb670d37eef22549ff4/38886-small.jpg" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Evelyn Larrubia</a></figcaption>
        </figure>

        <figure>
            <div class="photo ratio">
              <a href="#">
                <div class="fill"></div>
                <b class="img-contain"><img src="http://a.scpr.org/i/d5a750cd551d7eb670d37eef22549ff4/38886-small.jpg" alt="" /></b>
              </a>
            </div>
            <figcaption><a href="#">Annie Gilbertson</a></figcaption>
        </figure>


      </div>
    </section><!--/ .team -->
    <div class="melange">
      <aside class="quote">
        <a href="#">
          <blockquote>
            <p>We need to restore integrity in government instead of providing opportunities for bribery, extortion, or unfair business practices.</p>
            <footer>
              <span><mark>Jeremy,</mark> caller from Santa Monica</span>
              <cite>from our <b>August 7, 2014 episode</b></cite>
            </footer>
          </blockquote>
        </a>
      </aside><!--/ .quote -->
      <div class="diptych clearfix">
        <section class="exemplary">
          <h1>New to <cite>The Frame</cite>? We suggest starting with this episode.</h1>
          <article>
            <h2><a href="#">LAUSD cancels iPad contract, earthquake insurance, biggest winners at 2014 Emmys and more</a></h2>
            <div class="content clearfix">
              <figure class="photo ratio">
                <a href="#">
                  <div class="fill"></div>
                  <b class="img-contain"><img src="http://placekitten.com/400/400/" alt="" /></b>
                </a>
              </figure>
              <div class="prose">
                <h3><time datetime="2014-08-26">August 26th, 2014</time></h3>
                <p>Superintendent John Deasy pulls the plug on the $1 billion iPad program, but the bidding process continues. Plus, Mexico's President Enrique Peña Nieto is in town and meeting with Gov. Jerry Brown, we'll have more on their meeting. Then, we look at what one cemetery is doing to be more water-friendly amidst concerns of the drought and 'Breaking Bad' sweeps several Emmys Awards.</p>
              </div>
            </div>
          </article>
        </section><!--/ .exemplary -->
        <aside class="plug">
          <div class="ad widget">
            <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
            <span class="appeal"><a href="#">Become a KPCC sponsor</a></span>
          </div>
        </aside><!--/ .plug (C) -->
      </div><!--/ .diptych -->
    </div><!--/ .melange -->
  </div><!--/ .inner -->
</div><!--/ .interregnum -->






<section class="other-programs">
  <header><h1 class="bound">Enjoy <cite>The Frame</cite>? Try KPCC’s other programs.</h1></header>
  <div class="inner bound">
    <div class="troupe clearfix">

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><a href="#"><img src="http://placekitten.com/300/250/" alt="" /></a></b>
        </figure>
        <a href="#"><!-- THIS should be a link to the show's landing page, NOT a permalink to its latest episode. (See below for that.) -->
          <h1>Take Two</h1>
          <h2>With Alex Cohen &amp; A Mart&iacute;nez</h2>
          <h3>Weekdays 9&ndash;11 AM</h3>
          <p>Capturing the spirit of the West in a conversational, informal, witty style.</p>
        </a>
        <a href="#"><!-- ...but THIS should be a link to this particular episode's permalink. -->
          <dl>
            <dt><mark>Latest</mark> <time datetime="2014-08-27">Aug. 27</time></dt>
            <dd>Immigration courts, psychiatric drugs in foster care, Central America drought and more</dd>
          </dl>
        </a>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><a href="#"><img src="http://placekitten.com/300/250/" alt="" /></a></b>
        </figure>
        <a href="#"><!-- THIS should be a link to the show's landing page, NOT a permalink to its latest episode. (See below for that.) -->
          <h1>AirTalk</h1>
          <h2>With Larry Mantle</h2>
          <h3>Weekdays 11 AM&ndash;1 PM</h3>
          <p>Lively and in-depth discussions of city news, politics, science, the arts, entertainment, and more.</p>
        </a>
        <a href="#"><!-- ...but THIS should be a link to this particular episode's permalink. -->
          <dl>
            <dt><mark>Latest</mark> <time datetime="2014-08-27">Aug. 27</time></dt>
            <dd>AirTalk for August 27, 2014</dd>
          </dl>
        </a>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><a href="#"><img src="http://placekitten.com/300/250/" alt="" /></a></b>
        </figure>
        <a href="#"><!-- THIS should be a link to the show's landing page, NOT a permalink to its latest episode. (See below for that.) -->
          <h1>Off-Ramp</h1>
          <h2>With John Rabe</h2>
          <h3>Saturday 12&ndash;1 PM / Sunday 6&ndash;7 PM</h3>
          <p>News, arts, home, life &mdash; covering everything that makes life here exciting, enjoyable, and interesting.</p>
        </a>
        <a href="#"><!-- ...but THIS should be a link to this particular episode's permalink. -->
          <dl>
            <dt><mark>Latest</mark> <time datetime="2014-08-23">Aug. 23</time></dt>
            <dd>Just play the hits, please. Off-Ramp's musical special for August 23, 2014</dd>
          </dl>
        </a>
      </article>

      <article>
        <figure class="photo ratio">
          <div class="fill"></div>
          <b class="img-contain"><a href="#"><img src="http://placekitten.com/300/250/" alt="" /></a></b>
        </figure>
        <a href="#"><!-- THIS should be a link to the show's landing page, NOT a permalink to its latest episode. (See below for that.) -->
          <h1>FilmWeek</h1>
          <h2>With Larry Mantle</h2>
          <h3>Friday 12&ndash;1 PM</h3>
          <p>Reviews of the week's new movies, interviews with filmmakers, and discussions on the industry.</p>
        </a>
        <a href="#"><!-- ...but THIS should be a link to this particular episode's permalink. -->
          <dl>
            <dt><mark>Latest</mark> <time datetime="2014-08-22">Aug. 22</time></dt>
            <dd>'Sin City', 'To Be Takei' and more</dd>
          </dl>
        </a>
      </article>
    
    </div>
    <footer><a href="#">See all of our programs</a></footer>
  </div>
</section><!--/ .other-programs -->








<!--
//////////////////////////////////////////////////////////////////////////

HEY JEREMY

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

I'm statically including this next part purely for my own in-browser testing.
In the real world, there's *nothing* unique/new about this; it's an
exact copy-paste of what's in /shared/new/_popular_articles, so you
can just non-redundantly-include that like we're already doing elsewhere.

//////////////////////////////////////////////////////////////////////////-->
<section class="but-a-walking-shadow">
<header><h1 class="bound">What's popular now on KPCC</h1></header>
<nav class="bound clearfix">
  <a class="track-event" data-ga-action="Clickthrough" data-ga-category="Article" data-ga-label="Popular Now Quadrant" href="/blogs/education/2014/08/29/17214/la-schools-ipads-officials-on-bid-committee-got-fr/">
      <figure class="clearfix">
          <div class="ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/a952a1845208c2f6431030da129dd6ad/72283-small.jpg" width="450" height="300" /></b>
          </div>
          <figcaption>
          <h2>LA schools iPads: Top officials got free tablets, resort trips</h2>
              <time class=" smart smarttime" data-unixtime="1409313606"></time>
          </figcaption>
      </figure>
</a>            <a class="track-event" data-ga-action="Clickthrough" data-ga-category="Article" data-ga-label="Popular Now Quadrant" href="/news/2014/08/28/46326/high-surf-day-3-of-big-waves-expected-in-southern/">
      <figure class="clearfix">
          <div class="ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/47122ec88c41e31e173f7006893df99b/91065-small.jpg" width="450" height="300" /></b>
          </div>
          <figcaption>
          <h2>High surf: Day 3 of big waves expected, watch drone video</h2>
              <time class=" smart smarttime" data-unixtime="1409270880"></time>
          </figcaption>
      </figure>
</a>            <a class="track-event" data-ga-action="Clickthrough" data-ga-category="Article" data-ga-label="Popular Now Quadrant" href="/news/2014/08/28/46348/california-legislature-passes-yes-means-yes-sexual/">
      <figure class="clearfix">
          <div class="ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/75619b4b4d334fcb495cf77452f64095/89780-small.jpg" width="450" height="338" /></b>
          </div>
          <figcaption>
          <h2>California Legislature passes &#39;yes means yes&#39; consent bill </h2>
              <time class=" smart smarttime" data-unixtime="1409270642"></time>
          </figcaption>
      </figure>
</a>            <a class="track-event" data-ga-action="Clickthrough" data-ga-category="Article" data-ga-label="Popular Now Quadrant" href="/news/2014/08/28/46345/assembly-approves-california-statewide-ban-on-plas/">
      <figure class="clearfix">
          <div class="ratio">
              <div class="fill"></div>
              <b class="img-contain"><img src="http://a.scpr.org/i/8fb76a535708677de54ef22b40ad2e89/90951-small.jpg" width="450" height="300" /></b>
          </div>
          <figcaption>
          <h2>Assembly approves California statewide ban on plastic bags</h2>
              <time class=" smart smarttime" data-unixtime="1409266258"></time>
          </figcaption>
      </figure>
</a>    </nav><!--/ .bound -->
</section><!--/ .but-a-walking-shadow -->






<!-- <h1>Show: <%= @program.slug %></h1> -->