<% add_to_page_title @tag.title %>
<% content_for :main_class, "l-category" %>

<% content_for :opengraph do %>

  <%= cache ["opengraph", "v1", @tag] do %>

    <meta property="og:title" content="Topic: <%= h(@tag.title) %>">
    <meta property="og:type" content="<%= @OG_TYPE || "website" %>">
    <meta property="og:url" content="http://www.scpr.org/topics/<%= @tag.slug %>"/>
    <meta property="og:image" content="http://scpr.org<%=image_path('kpcc-twitter-logo.png')%>" />

    <link rel="image_src" href="http://scpr.org<%=image_path('kpcc-twitter-logo.png')%>" />
    <meta name="twitter:image" content="http://scpr.org<%=image_path('kpcc-twitter-logo.png')%>">

  <% end %>

<% end %>

<% content_for :header do %>
  <section class="o-prologue o-prologue--vertical  o-prologue--category">
    <span class="o-prologue__title"><%= @tag.title %></span>
    <span class="o-prologue__pipe">|</span>
  </section>
<% end %>

<%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
<%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 5 %>
<%= cell(:appeal, @tag, order: 6).call(:breaking_news) %>
<%= cell(:popular_articles, @tag, order: 7).call(:side_bar) %>
<%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 8 %>
<%= cell(:featured_story, @articles[0], order: 1).call(:category_view) %>
<%= cell :story_list, @articles[1..8], class: "o-story-list--vert o-story-list--nobg", asset_aspect: "widescreen", order: 3 %>
<%= paginate @articles, inner_window: 9 %>
<%= cell :epilogue, nil, class: "l-column--boundless", order: 9 %>
