<%= render 'outpost/resource/errors', f: f %>

<div class="audio-fields well" id="audio-fields-<%=index%>">
  <div class="row">
    <div class="span4">
      <div class="details" id="audio-details-<%=index%>">
        <%= f.input :description, input_html: { class: "tiny thin" } %>
        <%= f.input :byline, input_html: { class: "thin" } %>
        <%= f.input :position, input_html: { class: "thin" } %>
      </div>
    </div> <!-- span -->
    <div class="span4">
      <div class="audio-info">

        <% if f.object.persisted? %>
          <div class="existing-audio" id="audio-existing-<%=index%>">
            <!-- existing audio -->
            <% if f.object.published? %>
              <h5 class="alert alert-success">Audio is Live</h5>
              <%= link_to f.object.url, f.object.url, target: "_blank" %>
            <% else %>
              <h5 class="alert alert-info">Awaiting Audio</h5>
              <%= f.object.url %>
            <% end %>
          </div>

          <div class="audio-delete pull-right">
            <%= f.input :_destroy, as: :boolean, label: false, inline_label: "Delete?", wrapper_html: { class: "inline destroy-bool" } %>
          </div> <!-- audio-delete -->

        <% else %>
          <div class="new-audio">
            <!-- new audio -->
            <ul class="nav nav-tabs">
              <li class="<%= "active" if f.object.errors.blank? || (f.object.errors[:enco_number] || f.object.errors[:enco_date] || f.object.errors[:base]).present? %>">
                <a href="#audio-removed-feature-<%=index%>" data-toggle="tab">Enco</a>
              </li>
              <li class="<%= "active" if f.object.errors[:mp3].present? %>"><a href="#audio-removed-feature-<%=index%>" data-toggle="tab">Upload</a></li>
              <li class="<%= "active" if f.object.errors[:url].present? %>"><a href="#audio-new-direct-<%=index%>" data-toggle="tab">Resound / URL</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane <%= "active" if f.object.errors.blank? || (f.object.errors[:enco_number] || f.object.errors[:enco_date] || f.object.errors[:base]).present? %>" id="audio-removed-feature-<%=index%>">
                <div class="alert alert-info">
                  <div>This feature has been removed. Please use the Resound tab.</div>
                  <br />
                  <div><a href="https://resound.gitbooks.io/resound-store-manage/content/">Click here for a guide on using Resound</a></div>
                  <br />
                  <div>If you have any questions, reach out to the Product team at the #kpcc-web-ops Slack channel.</div>
                </div>
              </div> <!-- removed feature message -->

              <div class="tab-pane <%= "active" if f.object.errors[:url].present? %>" id="audio-new-direct-<%=index%>">
                <a onclick="resound.open();">Resound Store (opens in a new tab)</a>
                <%= f.input :url, hint: "e.g. http://npr.org/audio/your_cool_audio.mp3", input_html: { class: "span3", id: "audioUrl" },
                            wrapper_html: { class: "vertical"} %>
                <div><a href="https://resound.gitbooks.io/resound-store-manage/content/">Click here for a guide on using Resound</a></div>
              </div> <!-- path -->
            </div> <!-- tab-content -->
          </div> <!-- new-audio -->
        <% end %>
      </div> <!-- audio-info -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- audio-fields -->
<% content_for :footer do %>
    <script type="text/javascript">
      resound = new Resound();
    </script>
<% end %>