<% current_month = Time.now.strftime("%B") %>
<section class="archive-browser">
  <h1><span>Browse the <%= program.title %> Archives</span></h1>
  <div class="columns">

    <!--
    ==========================================================
    Okay, here's what's up.
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Liminal-Picker has a very temporary, ephemeral, cosmetic
    job to do: He only appears for tablet-and-wider users,
    and only passes choices on to *the actual form,* which
    is what handheld users see, and which fires off the
    actual, useful Ajax request.
    ==========================================================
    -->
    <aside class="liminal-picker" aria-hidden="true">
      <div class="years">
        <ul>
          <% years.each.with_index do |year, index| %>
            <% if index.zero? %>
              <li class="selected"><span><%= year %></span></li>
            <% else %>
              <li><span><%= year %></span></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="months">
        <ul>
          <% months.each.with_index do |month, index| %>
            <% if month == current_month %>
              <li class="selected"><span><%= month %></span></li>
            <% else %>
              <li><span><%= month %></span></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </aside><!--/ .liminal-picker -->

    <div class="directory">
      <aside class="standard-picker">
        <form>
          <div class="fields clearfix">
            <div class="field years">
              <select autocomplete="off">
                <% years.each.with_index do |year, index| %>
                  <% if index.zero? %>
                    <option selected="selected"><%= year %></option>
                  <% else %>
                    <option><%= year %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
            <div class="field months">
              <select autocomplete="off">
                <% months.each.with_index do |month, index| %>
                  <% if month == current_month %>
                    <option selected="selected"><%= month %></option>
                  <% else %>
                    <option><%= month %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div><!--/ .fields -->
        </form>
      </aside><!--/ .standard-picker -->
      <div class="results">
        <ul></ul>
        <aside class="show-full-results" aria-hidden="true">
          <button>Show full month results</button>
        </aside>
      </div><!--/ .results -->
    </div><!--/ .directory -->

  </div><!--/ .columns -->
  <div class="collateral">

    <aside class="placard">
        <div class="ad widget">
            <%= render "shared/ads/dfp", ad_key: 'slot_c' %>
            <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
        </div>
    </aside>
  
  </div><!--/ .collateral -->
</section><!--/ .archive-browser -->



<script id="episodeView" type="text/template">
  <li><a href="<%%= public_url %>"><time datetime="<%%= published_at %>"><%%= day() %></time> <span><%%= title %></span></a></li>
</script>
