<aside class="o-content-cluster o-category-cluster <%= @options[:class] %>" <%= order %> >
  <h6 class="o-content-cluster__heading b-heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--medium">
    MORE FROM THIS CATEGORY
  </h6>
  <a class="o-category-cluster__category-link b-heading link link--callout b-heading--uppercase b-heading--medium" href="<%= public_path %>"><%= title %></a>
  <%= cell(:content_cluster, content, category: @options[:category], label: @options[:label], cache_key: model.try(:cache_key)) %>
</aside>