<% content.each do |tweet| %>
  <% original_tweet = tweet.retweet.present? ? tweet.retweet : tweet %>
  <li>
    <div>
      <figure>
        <figcaption>
          <h1><%= link_to original_tweet.user.name, "https://twitter.com/#{original_tweet.user.screen_name}" %></h1>
          <time datetime="<%= format_date tweet.created_at, with: "%m-%d-%y" %>">
            <%= link_to smart_date_js(original_tweet.created_at, "twitter-format" => true), "https://twitter.com/#{original_tweet.user.screen_name}/status/#{original_tweet.id}" %>
          </time>
        </figcaption>
        <blockquote>
          <p><%= auto_link(original_tweet.text).html_safe %></p>
        </blockquote>
      </figure>
      <b class="pic">
        <%= link_to image_tag(original_tweet.user.profile_image_url), "https://twitter.com/#{original_tweet.user.screen_name}", alt: original_tweet.user.name %>
      </b>
    </div>
  </li>
<% end %>
