<% add_to_page_title "Programs" %>
<% content_for :main_class, "l-programs" %>

<%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
<%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 3 %>
<%= cell(:appeal, @featured_programs, order: 4).call(:breaking_news) %>
<%= cell(:popular_articles, @featured_programs, order: 5).call(:side_bar) %>
<%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 6 %>
<%= cell(:program_list, @featured_programs, order: 1).call(:featured) %>
<div class="o-program-list__full-list" style="order: 2">
  <%= cell :program_list, @kpcc_programs, title: "KPCC Programs", order: 4 %>
  <%= cell :program_list, @external_programs, title: "Other Programs", order: 6 %>
</div>
