<% if audio = article.audio.first %>

  <% url = url_with_params(audio.url, context: options[:context], via: 'website') %>

  <aside class="story-audio <%= options[:cssClass] %>">
    <div class="inner-container clearfix">
      <div class="audio-content">
        <h4>Listen Now</h4>
      </div>
      <a href="<%= url %>" class="play-btn audio-toggler" title="<%= h(article.short_title) %>" data-duration="<%= audio.duration %>"></a>
      <span class="duration"><span class="bracket">[</span><%= format_duration audio.duration %><span class="bracket">]</span></span>
      <ul class="audio-tools">
        <li>
          <a href="<%= url %>">Download</a>
        </li>
      </ul>
    </div>
  </aside>
<% end %>
