<%= form_block "Source" do %>
  <%= f.association :show, collection: KpccProgram.select_collection %>
  <%= f.input :air_date, input_html: { class: "thin" } %>
<% end %>

<%= form_block "Details" do %>
  <%= f.input :headline, input_html: { class: "wide" } %>
  <%= f.input :teaser, input_html: { class: "tiny" }, wrapper_html: { class: "field-counter", data: { target: 145, fuzziness: 20 } } %>

  <div class="alert alert-info">The body is optional and unnecessary for segmented programs. Segmented programs include Airtalk, Take Two, etc. Non-segmented programs, such as Filmweek or Loh Down on Science, should use this field.</div>
  <%= f.input :body, input_html: { class: "cke-editor-restrictive" } %>
  <%= f.pmp_checkbox %>
<% end %>

<%= form_block "Segments" do %>
  <div class="pull-right">
    <%= modal_toggle title: "Info", id: "segment-aggregator-help-modal" do %>
      This content builder only shows Segments, of ANY publishing status (except "Killed"), ordered by the LAST UPDATED timestamp (descending).
    <% end %>
  </div>

  <div class="alert alert-info">Segments are optional and only necessary if your program is split into segments for web (Airtalk, Take Two, etc.). Non-segmented programs, such as Filmweek and Loh Down on Science, should leave this section empty.</div>
  <div id="segmented-aggregator" class="aggregator"></div>
  <%= f.input :rundowns_json, as: :hidden, input_html: { id: "rundowns_json" } %>

  <% content_for :footer do %>
    <script id="rundowns-aggregator">
      aggregator = new outpost.Aggregator(
        {
          el: "#segmented-aggregator",
          inputEl: "#rundowns_json",
          collection: <%= render_json('api/private/v2/articles/collection', articles: record.content.map(&:get_article)) %>,
          apiType: "private",
          params: {
            limit: 20,
            token: "<%= Rails.configuration.x.api.kpcc.private.api_token %>",
            types: 'segments,news,shells,blogs,episodes,abstracts,events,pij_queries',
            order: "updated_at", // Don't use published_at - we're finding unpublished content too.
            sort_mode: "desc",
            with: {
              published: [true,false] // True or False.
              //status: <%= ShowSegment.status_ids(:live, :pending, :awaiting_rework, :awaiting_edits, :draft).to_json %>
            }
          }
        });
    </script>
  <% end %>
<% end %>

<%= f.section "publishing" %>
<%= f.section "assets" %>
<%= f.section "audio" %>
<%= f.section "podcast_ad_placements" %>
<%= f.section 'related_links' %>
<%= f.section 'related_content' %>
