<section class="curated clearfix">
    <div class="photo">
        <figure class="ratio-pairing">

        <%= link_to lead_article.public_path do %>
            <div class="ratio">
                <div class="fill"></div>
                <b class="img-contain"><%= image_tag(lead_article.asset.eight.url, alt:'') %></b>
            </div><!--/ .ratio -->
            <figcaption>
                <p><%= lead_article.asset.caption %></p>
                <mark class="credit"><%= lead_article.asset.owner %></mark>
            </figcaption>
        <% end %>

        </figure><!--/ .ratio-pairing -->
    </div><!--/ .photo -->

    <div class="supportive">
        <h1 class="tease"><%= link_to lead_article.teaser, lead_article.public_path %></h1>
        <h2 class="byline"><%= render_byline lead_article.original_object %></h2>

        <aside class="more">

    <% issue = lead_article.issues.first %>
    <% related = lead_article.original_object.related_content.first(2) if lead_article.original_object.respond_to?(:related_content) %>
    <%= cache ["categories/show", "more-featured", 'v1', issue, related] do %>
        <% if issue %>
            <h3>More from <%= link_to issue.title, issue.public_path %></h3>
            <ul>
            <% issue_articles = issue.articles - Array(lead_article) %>
            <% issue_articles.first(2).each do |article| %>
                <li><%= link_to article.short_title, article.public_path %></li>
            <% end %>

            </ul>

        <% elsif related.present? %>
            <%# Bug: There is nothing in here that is breaking the
            category cache, so if one of the related articles gets
            their headline or something changed, it's possible that
            it won't get updated on this page right away. We could
            fix this by touching all related articles when an article
            is saved, but I'm not sure this is worth the overhead. %>
            <h3>Related</h3>
            <ul>

            <% related.each do |article| %>
                <li><%= link_to article.short_title, article.public_path %></li>
            <% end %>

            </ul>

        <% end %>
    <% end %>

        </aside><!--/ .more -->

    </div><!--/ .supporting -->
</section><!--/ .curated -->
