<figure class="reporter clearfix">
  <div class="ratio">
      <%= link_to reporter.public_path, title: reporter.name do %>
          <div class="fill"></div>
          <b class="img-contain"><%= reporter.headshot.small.tag %></b>
      <% end %>
  </div>
  <figcaption>
  <mark><%= link_to reporter.name, reporter.public_path, title: reporter.name %></mark>
      <ul class="clearfix">
        <li><%= mail_to reporter.email, 'Email', title: "Email #{reporter.name}" %></li>
        <% if reporter.twitter_handle.present? %>
          <li><%= link_to "Twitter", twitter_profile_url(reporter.twitter_handle), target: "_blank", title: "Follow #{reporter.first_name} on Twitter" %></li>
        <% end %>
      </ul>
  </figcaption>
</figure>
