<section class="triptych">
    <div class="inner bound">
      <header><h1>Recent <%= category.title %> Coverage</h1></header>
        <div class="rail clearfix">
          <% if articles.presence %>
            <%- articles.each do |recent_article| %>
              <%- article = recent_article.original_object %>
              <article class="clearfix">
                      <div class="graphic">
                          <div class="ratio">
                            <%- unless article.issues.empty? || recent_article.related_issue.empty? %>
                              <%= link_to issue_path(recent_article.related_issue.first.slug), class: 'issue' do %>
                                <span><%= recent_article.related_issue.first.title %></span>
                              <% end %>
                            <% end %>
                              <div class="fill"></div>
                              <b class="img-contain"><%= image_tag recent_article.asset.eight.url %></b>
                            </div><!--/ .ratio -->
                            <%- aside_classes = "byline" %>
                            <%- aside_classes << " special" if article.feature_type.present? %>
                            <%= content_tag :aside, class: aside_classes do %>
                              <p>
                              <b class="author"><%= link_to render_byline article %></a></b>
                              <span><%= new_smart_date_js recent_article.public_datetime, tag: 'span' %></span>
                              </p>
                              <%- if article.feature_type.present? %>
                                <%= content_tag(:mark, article.feature_type_name, class: "trait #{article.feature_type_name.downcase}") %>
                              <% end %>
                            <% end %>
                      </div>
                      <header>
                        <h1><%= link_to recent_article.short_title, recent_article.public_path %></h1>
                        <h2><%= recent_article.teaser %></h2>
                      </header>
              </article>
            <% end %>
          <% end %>
        </div>
    </div>
</section><!--/ .triptych -->


