<%= stylesheet_link_tag 'application' %>

<section id="jp_container_1" class="o-audio-player__interface jp-audio">
  <div class="c-audio-player__button">
    <a href="javascript:;" class="jp-pause">
      <?xml version="1.0" encoding="UTF-8"?>
      <svg viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="listen-live-pause">
          <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Listen-Live" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g transform="translate(-27.000000, -72.000000)" id="Group-2">
                <g transform="translate(27.000000, 72.000000)">
                  <g class="outer-ring">
                    <path d="M4.89637127,39.1637764 C5.11603632,38.0842236 4.41710207,37.0246625 3.33874636,36.808752 C2.25240284,36.5888431 1.2020045,37.2885532 0.986333358,38.368106 C-1.02659729,48.2600083 0.0317888617,59.0315462 4.80051743,68.8794667 C5.27579272,69.8710559 6.46597791,70.290882 7.46844933,69.8070824 C8.45893901,69.3232828 8.87430566,68.1277781 8.39104254,67.1361888 C4.09758927,58.2758592 3.01923356,48.4239404 4.89637127,39.1637764 L4.89637127,39.1637764 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M5.64323245,29.9276025 C6.62573431,30.4034054 7.82790123,29.9955743 8.30717043,28.9919901 C12.452849,20.3395743 19.4342038,13.1705441 27.9691895,8.8043528 C28.9516914,8.30056149 29.3391006,7.09706004 28.8398619,6.11346749 C28.3366292,5.12987495 27.1344623,4.74203561 26.1519604,5.24182857 C16.8421562,10.0038559 9.22576974,17.8246161 4.7086575,27.2607072 C4.2293883,28.2522965 4.64874885,29.4517996 5.64323245,29.9276025 L5.64323245,29.9276025 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M90.5417778,37.1526095 C90.8133637,38.2201673 91.8917194,38.867899 92.9660812,38.6000099 C94.0364491,38.3281226 94.6834625,37.2405731 94.4118767,36.169017 C91.8517803,26.0532075 85.91683,16.8850054 77.6973632,10.3637068 C76.8346786,9.67199337 75.576597,9.81993209 74.8936384,10.6875727 C74.2066858,11.5552133 74.3544605,12.8066948 75.2171451,13.4944099 C82.7536533,19.4759321 88.1933587,27.8764522 90.5417778,37.1526095 L90.5417778,37.1526095 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M38.0378367,5.12187826 C47.3795922,2.96277267 57.3404038,3.93836853 66.0631033,7.89672878 C66.3306953,8.01667909 66.610269,8.0726559 66.8858488,8.0726559 C67.6446917,8.0726559 68.3715833,7.64083478 68.7070717,6.9011412 C69.1623775,5.89755694 68.7190535,4.71004886 67.7125881,4.25423768 C58.1990945,-0.0599751553 47.3396531,-1.12353458 37.1432008,1.22349317 C36.068839,1.47139048 35.3978621,2.54694493 35.6454846,3.62249938 C35.893107,4.69805383 36.955487,5.36977557 38.0378367,5.12187826 L38.0378367,5.12187826 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M75.3609258,82.3538849 C67.7685029,88.4273689 58.618455,91.7459942 48.8932841,91.9499097 C47.7909649,91.9699014 46.9123047,92.8855222 46.9362682,93.989065 C46.9602317,95.0846112 47.8468797,95.9482534 48.9332232,95.9482534 L48.9731623,95.9482534 C59.5849812,95.7243462 69.5737502,92.1018468 77.8531257,85.4765913 C78.7158103,84.7888762 78.8555971,83.5293979 78.1686446,82.6657557 C77.4816921,81.8061118 76.2196165,81.6621714 75.3609258,82.3538849 L75.3609258,82.3538849 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M38.2175626,90.8783536 C28.8997705,88.7672282 20.3687787,83.5373946 14.2061755,76.1484555 C13.4992535,75.3008066 12.2411718,75.1848547 11.3944629,75.8965598 C10.547754,76.6042667 10.4359245,77.8637449 11.1428466,78.7113938 C17.8645971,86.7680563 27.1664136,92.4736928 37.3389024,94.7807371 C38.3653373,95.024636 39.4756443,94.3809027 39.7272606,93.2693631 C39.9668952,92.1938087 39.2919244,91.1262509 38.2175626,90.8783536 L38.2175626,90.8783536 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M95.8736477,47.7922021 C95.8736477,46.6886592 94.9790119,45.8849921 93.8766927,45.8849921 C92.7743735,45.8849921 91.8797377,46.872583 91.8797377,47.9761259 C91.8797377,57.7240878 88.760494,66.9562634 82.8614889,74.6810634 C82.190512,75.5567006 82.3582562,76.8081822 83.2329225,77.4799039 C84.1275583,78.167619 85.3736583,77.9756986 86.0326534,77.108058 C92.7304405,68.3436886 96.0294102,57.7440795 95.8736477,47.7922021 L95.8736477,47.7922021 Z" id="Shape" fill="#31ABD4"></path>
                  </g>
                  <g id="pause-button">
                    <path d="M47.775456,15.8241758 C30.1583189,15.8241758 15.8241758,30.1742313 15.8241758,47.8109253 C15.8241758,65.4476193 30.1583189,79.7976748 47.775456,79.7976748 C65.3925931,79.7976748 79.7267362,65.4476193 79.7267362,47.8109253 C79.7267362,30.1742313 65.3925931,15.8241758 47.775456,15.8241758 L47.775456,15.8241758 Z" id="Shape" fill="#31ABD4"></path>
                    <path d="M31.7669896,33.3369592 C31.7669896,32.437626 32.4961237,31.7077324 33.394521,31.7077324 L43.1597095,31.7077324 C44.0581069,31.7077324 44.7872409,32.437626 44.7872409,33.3369592 L44.7872409,62.6630408 C44.7872409,63.562374 44.0581069,64.2922676 43.1597095,64.2922676 L33.394521,64.2922676 C32.4961237,64.2922676 31.7669896,63.562374 31.7669896,62.6630408 L31.7669896,33.3369592 Z" id="Path" fill="#FFFFFF"></path>
                    <path d="M51.2973666,62.6630408 L51.2973666,33.3369592 C51.2973666,32.437626 52.0265006,31.7077324 52.924898,31.7077324 L62.6900865,31.7077324 C63.5884838,31.7077324 64.3176179,32.437626 64.3176179,33.3369592 L64.3176179,62.6630408 C64.3176179,63.562374 63.5884838,64.2922676 62.6900865,64.2922676 L52.924898,64.2922676 C52.0265006,64.2922676 51.2973666,63.562374 51.2973666,62.6630408 Z" id="Path" fill="#FFFFFF"></path>
                  </g>
                </g>
              </g>
          </g>
      </svg>
    </a>
    <a href="javascript:;" class="jp-play">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" viewBox="0 0 82 82" version="1.1" id="listen-live-play" inkscape:version="0.91 r13725" sodipodi:docname="listen-live-play.svg">
      <metadata id="metadata32">
        <rdf:rdf>
          <cc:work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type>
            <dc:title>Group 33</dc:title>
          </cc:work>
        </rdf:rdf>
      </metadata>
      <sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1440" inkscape:window-height="855" id="namedview30" showgrid="false" inkscape:zoom="5.5813043" inkscape:cx="12.47526" inkscape:cy="49.255509" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Group-32"></sodipodi:namedview>
      <!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch -->
      <desc id="desc6">Created with Sketch.</desc>
      <defs id="defs8"></defs>
      <g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage---Top-Races" transform="translate(-109.000000, -292.000000)">
          <g id="Group-33" transform="translate(109.000000, 292.000000)">
            <g id="Group-32" fill="#31ABD4">
              <g class="outer-ring">
                <path id="Shape" d="m 4.361168,33.303 c 0.18744,-0.918 -0.40896,-1.819 -1.32912,-2.0026 -0.926976,-0.187 -1.82328,0.408 -2.007312,1.326 -1.717632,8.4116 -0.814512,17.5712 3.25464,25.9454 0.405552,0.8432 1.421136,1.2002 2.276544,0.7888 0.845184,-0.4114 1.199616,-1.428 0.787248,-2.2712 -3.6636,-7.5344 -4.58376,-15.912 -2.982,-23.7864 l 0,0 z" inkscape:connector-curvature="0"></path>
                <path id="path16" d="M 4.998464,25.449 C 5.836832,25.8536 6.86264,25.5068 7.2716,24.6534 10.809104,17.2958 16.766288,11.1996 24.049184,7.4868 24.887552,7.0584 25.218128,6.035 24.792128,5.1986 24.36272,4.3622 23.336912,4.0324 22.498544,4.4574 14.554496,8.5068 8.05544,15.1572 4.200992,23.1812 c -0.40896,0.8432 -0.05112,1.8632 0.797472,2.2678 l 0,0 z" inkscape:connector-curvature="0"></path>
                <path id="path18" d="m 77.44232,31.5928 c 0.231744,0.9078 1.151904,1.4586 2.068656,1.2308 0.913344,-0.2312 1.46544,-1.156 1.233696,-2.0672 C 78.560144,22.1544 73.495856,14.3582 66.482192,8.8128 65.746064,8.2246 64.672544,8.3504 64.089776,9.0882 63.5036,9.826 63.629696,10.8902 64.365824,11.475 70.79672,16.5614 75.438416,23.7048 77.44232,31.5928 l 0,0 z" inkscape:connector-curvature="0"></path>
                <path id="path20" d="m 32.640752,4.3554 c 7.971312,-1.836 16.470864,-1.0064 23.913936,2.3596 0.228336,0.102 0.466896,0.1496 0.702048,0.1496 0.64752,0 1.267776,-0.3672 1.554048,-0.9962 C 59.199296,5.015 58.821008,4.0052 57.962192,3.6176 49.844336,-0.051 40.577984,-0.9554 31.87736,1.0404 c -0.916752,0.2108 -1.489296,1.1254 -1.278,2.04 0.211296,0.9146 1.117824,1.4858 2.041392,1.275 l 0,0 z" inkscape:connector-curvature="0"></path>
                <path id="path22" d="m 64.488512,70.0298 c -6.478608,5.1646 -14.286336,7.9866 -22.584816,8.16 -0.940608,0.017 -1.690368,0.7956 -1.66992,1.734 0.02045,0.9316 0.777024,1.666 1.704,1.666 l 0.03408,0 c 9.055056,-0.1904 17.578464,-3.2708 24.643248,-8.9046 0.736128,-0.5848 0.855408,-1.6558 0.269232,-2.3902 -0.586176,-0.731 -1.663104,-0.8534 -2.395824,-0.2652 l 0,0 z" inkscape:connector-curvature="0"></path>
                <path id="path24" d="M 32.794112,77.2786 C 24.843248,75.4834 17.56376,71.0362 12.305216,64.753 11.702,64.0322 10.62848,63.9336 9.905984,64.5388 c -0.722496,0.6018 -0.81792,1.6728 -0.214704,2.3936 5.735664,6.851 13.672896,11.7028 22.353072,13.6646 0.875856,0.2074 1.82328,-0.34 2.037984,-1.2852 0.20448,-0.9146 -0.371472,-1.8224 -1.288224,-2.0332 l 0,0 z" inkscape:connector-curvature="0"></path>
                <path id="path26" d="m 81.992,40.6402 c 0,-0.9384 -0.763392,-1.6218 -1.704,-1.6218 -0.940608,0 -1.704,0.8398 -1.704,1.7782 0,8.2892 -2.661648,16.1398 -7.695264,22.7086 -0.572544,0.7446 -0.429408,1.8088 0.316944,2.38 0.763392,0.5848 1.826688,0.4216 2.389008,-0.3162 5.715216,-7.4528 8.530224,-16.4662 8.397312,-24.9288 l 0,0 z" inkscape:connector-curvature="0"></path>
              </g>
              <g id="play-button">
                <polygon points="29.539374,57.062548 59.608491,42.669346 58.013323,36.516373 29.77846,24.918827 " id="Path-3" style="fill:#ffffff"></polygon>
                <path id="path28" d="M 41.096,13.6 C 26.063312,13.6 13.832,25.8026 13.832,40.8 13.832,55.7974 26.063312,68 41.096,68 56.128688,68 68.36,55.7974 68.36,40.8 68.36,25.8026 56.128688,13.6 41.096,13.6 l 0,0 z m 14.334048,28.696 -22.046352,11.9 C 32.245424,54.8046 30.872,53.9852 30.872,52.7 l 0,-23.8 c 0,-1.2784 1.376832,-2.108 2.515104,-1.496 l 22.046352,11.9 c 1.185984,0.6392 1.189392,2.346 -0.0034,2.992 l 0,0 z" inkscape:connector-curvature="0"></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
    </a>
    <div class="c-volume-control">
      <a href="javascript:;" class="jp-mute">
        <svg width="12px" height="13px">
          <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-volume--unmute"/>
        </svg>
      </a>
      <a href="javascript:;" class="jp-unmute">
        <svg width="12px" height="13px">
          <use class="" xlink:href="/static/images/scpr-sprite.svg#icon_line-volume--mute"/>
        </svg>
      </a>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
    </div>
  </div>
  <div class="o-listen-live__meta-data">
    <span class="o-listen-live__on-now__timeslot">ON NOW | <%= model.try(:first).try(:starts_at).try(:strftime, '%l') %> - <%= model.try(:first).try(:ends_at).try(:strftime, '%l %p') %></span>
    <h4 class="o-listen-live__on-now__header b-heading--h4 b-heading--serif"><%= link_to model.try(:first).try(:title), model.try(:first).try(:public_url), target: :_blank %></h4>
    <span class="o-listen-live__up-next__timeslot">UP NEXT | <%= model.try(:second).try(:starts_at).try(:strftime, '%l') %> - <%= model.try(:second).try(:ends_at).try(:strftime, '%l %p.') %></span> <span class="o-listen-live__up-next__title"><%= link_to model.try(:second).try(:title), model.try(:second).try(:public_url), target: :_blank %></span>
    <div class="o-listen-live__links">
      <span class="o-listen-live__links-preface">More ways to listen:</span>
      <a href="http://www.scpr.org/iphone/" target="_blank">KPCC iPhone app</a>
      <span class="pipe">|</span>
      <a href="http://live.scpr.org/listen.pls">MP3/Apple Podcasts</a>
      <span class="pipe">|</span>
      <a href="mms://kpcclive1.publicradio.org">Windows Media</a>
    </div>
  </div>
</section>

<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="live_ad"></div>
<a id="live_ad_sponsor-appeal" target="_blank" class="c-ad__attribution" href="/support/underwriting/">Become a KPCC Sponsor</a>

<script>
  llPlayer = new scpr.ListenLive.CurrentGen({
    schedule:   <%= model.map(&:listen_live_json).to_json.html_safe %>,
    nielsen_enabled: <%= Rails.application.secrets.api['nielsen']['enabled'] %>
  })

  $("#llcontent a").attr("target","_blank");
</script>