<!-- CHANGE MONTH TO "11" BEFORE DEPLOYING TO PRODUCTION -->
<% if Time.now < Time.new(2014, 10, 4, 20) %>

<!-- BEGIN Voter Guide Promo -->
<div class="my-ballot">
  <header>
      <h4><a href="http://www.scpr.org/vote">2014 Voter Guide: Create your personalized ballot <span>Get Started</span></a</h4>
  </header>
</div>
<!-- END Voter Guide Promo -->

<% else %>

<% cache "homepage-election-results1", expires_in: 10.minutes do %>

<% hashed = DataPoint.to_hash(@points) %>

<!-- BEGIN Homepage Elections Results -->
<div class="hero-election">
  <div class="row-fluid">
    <header class="span24 election-header">
      <h1>2014 General Election Results</h1>
    </header>
  </div>

  <div class="row-fluid">
    <section class="span24">
      <div class="header-well clearfix">
        <h2 class="callout center-contents"><a href="/elections/2014/general/">View full election results</a></h2>
      </div>
    </section>
  </div>

  <div class="results">
    <article class="results-block">


      <!-- CA Governor -->
      <div class="results-block">
        <header>
          <h2>California Governor</h2>

          <aside>(<%=hashed["sos_feed:percent_reporting"]%>% Reporting)</aside>
        </header>

        <div class="clearfix">
          <% election_sort_tmp(@points, "state.governor").first(2).each do |dp| %>
          <section class="initiative local condensed">
            <div class="title">
              <h3><%=dp.title%></h3>
            </div>

            <div class="result relative">
              <div class="yes "><strong><%=dp.data_value%><b class="percentage">%</b></strong></div>
            </div>
          </section>
          <% end %>
        </div>
      </div>


      <!-- LA County Serriff -->
      <div class="results-block">
        <header>
          <h2>LA County Sheriff</h2>

          <aside>(<%=hashed["local.lac_sheriff:reporting"]%>% Reporting)</aside>
        </header>

        <div class="clearfix">
          <% election_sort_tmp(@points, "local.lac_sheriff").first(2).each do |dp| %>
          <section class="initiative local condensed">
            <div class="title">
              <h3><%=dp.title%></h3>
            </div>

            <div class="result relative">
              <div class="yes "><strong><%=dp.data_value%><b class="percentage">%</b></strong></div>
            </div>
          </section>
          <% end %>
        </div>
      </div>


      <!-- LA County Sup, 3rd District -->
      <div class="results-block">
        <header>
          <h2>LA County Supv., 3rd Dist.</h2>

          <aside>(<%=hashed["local.lac_supervisor-d3:reporting"]%>% Reporting)</aside>
        </header>

        <div class="clearfix">
          <% election_sort_tmp(@points, "local.lac_supervisor-d3").first(2).each do |dp| %>
          <section class="initiative local condensed">
            <div class="title">
              <h3><%=dp.title%></h3>
            </div>

            <div class="result relative">
              <div class="yes "><strong><%=dp.data_value%><b class="percentage">%</b></strong></div>
            </div>
          </section>
          <% end %>
        </div>
      </div>


      <!-- House Rep District 33 -->
      <div class="results-block">
        <header>
          <h2>U.S. Representative 33rd District</h2>

          <aside>(<%=hashed["sos_feed:percent_reporting"]%>% Reporting)</aside>
        </header>

        <div class="clearfix">
          <% election_sort_tmp(@points, "house.d33").first(2).each do |dp| %>
          <section class="initiative local condensed">
            <div class="title">
              <h3><%=dp.title%></h3>
            </div>

            <div class="result relative">
              <div class="yes "><strong><%=dp.data_value%><b class="percentage">%</b></strong></div>
            </div>
          </section>
          <% end %>
        </div>
      </div>


      <!-- House Rep District 26 -->
      <div class="results-block">
        <header>
          <h2>U.S. Representative 26th District</h2>

          <aside>(<%=hashed["sos_feed:percent_reporting"]%>% Reporting)</aside>
        </header>

        <div class="clearfix">
          <% election_sort_tmp(@points, "house.d26").first(2).each do |dp| %>
          <section class="initiative local condensed">
            <div class="title">
              <h3><%=dp.title%></h3>
            </div>

            <div class="result relative">
              <div class="yes "><strong><%=dp.data_value%><b class="percentage">%</b></strong></div>
            </div>
          </section>
          <% end %>
        </div>
      </div>


      <!-- Prop 1 -->
      <div class="results-block">
        <header>
          <h2>Proposition 1</h2>

          <aside>(<%=hashed["state.prop-1:reporting"]%>% Reporting)</aside>
        </header>

        <div class="clearfix">
          <% election_sort_tmp(@points, "state.prop-1").first(2).each do |dp| %>
          <section class="initiative local condensed">
            <div class="title">
              <h3><%=dp.title%></h3>
            </div>

            <div class="result relative">
              <div class="yes "><strong><%=dp.data_value%><b class="percentage">%</b></strong></div>
            </div>
          </section>
          <% end %>
        </div>
      </div>


    </article>
  </div>
</div>
<!-- END Homepage Elections Results -->

<% end %>
<% end %>



<% if @homepage %>
  <%=
    begin
      render @homepage.base, homepage: @homepage
    rescue ActionView::MissingTemplate => e
      if Rails.env == "production"
        render "default", homepage: @homepage
      else
        raise e
      end
    end
  %>
<% end %>

<% if @featured_comment %>
  <div class="join-conversation-container home">
    <%= render 'shared/featured_comment/home', comment: @featured_comment %>
  </div>
<% end %>

<div class="more-content">
  <div class="row-fluid">
    <div id="most-popular" class="span12">
      <h6>Most Popular</h6>
      <div class="tab-content">
        <div class="tab-pane active popular" id="pop_tab1" data-vr-zone="Most Popular">
          <%= raw Rails.cache.read("views/popular/viewed") %>
        </div>
      </div>
    </div>

    <div class="span12">
      <%= render "events/forum_events" %>
    </div>
  </div>
</div>

<% content_for :missed_it do %>
  <% if @homepage && @homepage.missed_it_bucket.present? %>
    <div class="more-news missed-it-bucket content-carousel">
      <h6 class="more-news-title">
        In Case You Missed It
        <div class="pager-nav">
          <a class="prev track-event" data-ga-category="Homepage" data-ga-action="In Cast You Missed It" data-ga-label="Nav Previous"></a>
          <a class="next track-event" data-ga-category="Homepage" data-ga-action="In Cast You Missed It" data-ga-label="Nav Next"></a>
        </div>
      </h6>
      <div class="carousel" data-current-page="1" data-vr-zone="In Case You Missed It"></div>
    </div> <!-- missed-it-bucket -->

    <% content_for :footer do %>
      <script>var carousel = new scpr.ContentCarousel({dataUrl: "<%= homepage_missed_it_content_path(@homepage.id) %>"});</script>
    <% end %>
  <% end %>
<% end %>

<% content_for :lower do %>
  <%= raw Rails.cache.read("home/sections") %>
<% end %>
