<% title ||= "" %>
<% cssClass ||= "" %>
<% direction ||= :asc %>
<h2><%= title %></h2>
<% if params["list"] == "kpcc-in-person" %>
  <% message = "We'll have more KPCC In Person events scheduled soon. Subscribe to our newsletter and get notified about the next one, straight from your inbox!" %>
<% else %>
  <% message = "We'll have more events scheduled soon. Subscribe to our newsletter and get notified about the next one, straight from your inbox!" %>
<% end %>
<%= any_to_list? events, title: title, message: message do %>
<section class="events-list <%= cssClass %>">

<% Event.sorted(events, direction).each do |event| %>
  <% present event do |p| %>
      <div class="cbase event teaser">
      <div class="row-fluid">
        <% if event.assets.present? %>
          <div class="span6">
            <a href="<%= event.public_path %>">
              <%= render_asset event, display: 'small' %>
            </a>
          </div>
          <div class="span18">
        <% else %>
          <div class="span24">
        <% end %>

          <div class="event-details">
            <div class="row-fluid">
              <div class="span24">
                <%= p.date_link %>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span24">
                <% if event.location_name.present? %>
                  <span class="event-location<%= " forum" if event.is_kpcc_in_person_event? %>"><%= event.location_name %></span>
                <% end %>
              </div>
            </div> <!-- row fluid -->
            <h1 class="story-title"><%= link_to event.headline, event.public_path %></h1>
            <p><%= event.teaser.html_safe %> <%= link_to "More", event.public_path %></p>
          </div> <!-- event-details -->
        </div> <!-- span -->
      </div> <!-- row fluid -->
    </div>
  <% end %>
<% end %>

</section>
<% end %>
<%= paginate events %>
<hr />
<%= render partial: "shared/widgets/events_subscribe", locals: {klass: "events-newsletter-centered"} %>
