<% content_for :main_class, "l-kpcc-in-person" %>
<% add_to_page_title "KPCC In Person" %>

<% content_for :header do %>
<section class="o-prologue o-prologue--in-person">
  <a class="o-prologue__logo" href="/events/kpcc-in-person">
    <object data='<%= image_path "event-headers/kpcc-in-person-logo.svg" %>' type="image/svg+xml">
      <%= @landing_page.try(:title) %>
    </object>
  </a>
  <span class="o-prologue__description">
    <div class="o-prologue__teaser">
      <%= @landing_page.try(:description) %>
    </div>
    <span class="o-prologue__pipe">|</span>
    <div class="o-prologue__social-icons">
      <a class="o-prologue__social-icon" href="https://www.facebook.com/KPCCInPerson">
        <svg class="b-icon b-icon--size-sm b-icon--left">
          <use class="b-icon--color-link" xlink:href="/static/images/scpr-sprite.svg#icon_line-facebook" />
        </svg>
      </a>
      <a class="o-prologue__social-icon" href="https://twitter.com/KPCCInPerson">
        <svg class="b-icon b-icon--size-sm b-icon--left">
          <use class="b-icon--color-link" xlink:href="/static/images/scpr-sprite.svg#icon_line-twitter" />
        </svg>
      </a>
    </div>
  </span>
</section>
<% end %>

<%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
<%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 7 %>
<%= cell(:recent_content, @past_events, order: 995).call(:events) %>
<%= cell(:appeal, @all_upcoming_events, class: "o-appeal--in-person_side-bar", order: 996).call(:in_person_newsletter) %>
<%= cell :highlighted_events, @featured_events, order: 1 %>
<hr id="tabs" class="b-rule b-rule--primary-lightest b-rule--padded" style="order: 2" />
<section class="o-upcoming-events" style="order: 3">
  <%= cell(:upcoming_events_list).call(:tabs) %>
  <%= cell :upcoming_events_list, @kpcc_in_person_events, class: "o-story-list--two-col o-story-list--nobg", asset_aspect: "square", tab: "list" %>
  <%= cell :upcoming_events_list, @all_upcoming_events, class: "o-story-list--two-col o-story-list--nobg", asset_aspect: "square", tab: "upcoming" %>
  <%= cell :upcoming_events_list, @sponsored_events, class: "o-story-list--two-col o-story-list--nobg", asset_aspect: "square", tab: "sponsored" %>
  <div class="o-upcoming-events-list__pagination o-upcoming-events-list__tab-list">
    <%= paginate @kpcc_in_person_events, params: {subtype: 'list'} %>
  </div>
  <div class="o-upcoming-events-list__pagination o-upcoming-events-list__tab-upcoming">
    <%= paginate @all_upcoming_events, params: {subtype: 'upcoming'} %>
  </div>
  <div class="o-upcoming-events-list__pagination o-upcoming-events-list__tab-sponsored">
    <%= paginate @sponsored_events, params: {subtype: 'sponsored'} %>
  </div>
</section>
<%= cell :in_person_appeal, nil, order: 4 %>
<%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 997 %>
<%= cell :meet_the_team, @team, team_heading: 'Meet the KPCC In Person Team', order: 5 %>
<%= cell :in_person_map, nil, order: 6 %>
<%= cell :popular_articles, @upcoming_events, class: "o-popular-stories--horiz", order: 1001 %>
<%= cell :epilogue, nil, order: 1002 %>

<script type="text/javascript">
  $(document).ready(function() {
    function getUrlParameter(name, url) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(window.location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    }

    var page = getUrlParameter('page');
    var subType = '<%= @subtype_param %>';

    if (page && subType) {
      window.location = '#tabs'
    }

    if (subType) {
      $('#o-upcoming-events-list__input-' + subType).click();
      window.location = '#tabs'
    }
  });
</script>
