<script src="//cdn.optimizely.com/js/1611751335.js"></script>
<% add_to_page_title @story.feature.present? ? "#{@story.feature.name}: #{@story.headline}" : @story.headline %>
<% content_for :opengraph do %><%= render_content @story, "opengraph" %><% end %>
<%= render 'shared/ads/dfp_script_config', category: @category %>
<% content_for :membership_copy, @category.present? ? @category.title : 'Lorem Ipsum' %>
<% content_for :body_class, 'interior single' %>
<% content_for :titling do %>
    <%= render :partial => 'shared/new/masthead/news_titling' %>
<% end %>

<%= cache ["show", "article-content", "v18", @story] do %>
  <%= render "shared/new/single", article: @story, full: true %>
<% end %>

<% cache ["show", "article-supportive", "v16", @story] do %>
    <section class="supportive">
        <aside class="placard">
            <div class="ad widget">
                <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
            </div>
        </aside>

        <aside class="placard">
            <div class="ad widget">
                <%= render "shared/ads/dfp", ad_key: 'slot_b' %>
                <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
            </div>
        </aside>

        <% if tag = @story.tags.first %>
            <aside class="see-more topic">
                <header>
                    <h1>More from this Topic</h1>
                    <h2 class="clearfix">
                        <span><%= link_to tag.title, topic_path(tag.slug) %></span>
                    </h2>
                </header>
                <ul class="previews">
                    <% if tag_articles = tag.articles.first(3) %>
                        <% tag_articles.each do |article| %>
                            <li>
                            <%= link_to article.public_path, class: "track-event", data: {"ga-category" => "Article", "ga-action" => "Clickthrough", "ga-label" => "More Sidebar Topic"} do %>
                                <figure class="ratio-pairing clearfix">
                                    <div class="ratio">
                                        <div class="fill"></div>
                                        <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                    </div><!--/ .ratio -->
                                    <figcaption>
                                        <%= smart_date_js article.public_datetime %>
                                        <mark><%= article.short_title %></mark>
                                    </figcaption>
                                </figure><!--/ .ratio-pairing -->
                            <% end %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </aside>
        <% elsif @category.present? %>
            <%
            content = @category.content(@content_params)
            category_articles = content.map { |a| a.to_article }
            %>

            <aside class="see-more topic">
                <header>
                    <h1>More from this Category</h1>
                    <h2 class="clearfix">
                        <span><%= link_to @category.title, @category.public_path %></span>
                        <mark><%= link_to 'See All', @category.public_path %></mark>
                    </h2>
                </header>
                <ul class="previews">
                    <% category_articles.first(3).each do |article| %>
                        <li>
                        <%= link_to article.public_path, class: "track-event", data: {"ga-category" => "Article", "ga-action" => "Clickthrough", "ga-label" => "More Sidebar Category"} do %>
                            <figure class="ratio-pairing clearfix">
                                <div class="ratio">
                                    <div class="fill"></div>
                                    <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                </div><!--/ .ratio -->
                                <figcaption>
                                    <%= smart_date_js article.public_datetime %>
                                    <mark><%= article.short_title %></mark>
                                </figcaption>
                            </figure><!--/ .ratio-pairing -->
                        <% end %>
                        </li>
                    <% end %>
                </ul>
            </aside>
        <% end %>
            <aside class="see-more">
                <header>
                    <h1>Popular now on KPCC</h1>
                </header>
                <ul class="previews">
                  <% if @popular_articles.present? %>
                    <% @popular_articles.first(3).each do |article| %>
                      <li>
                        <%= link_to article.public_path, class: "track-event", data: {"ga-category" => "Article", "ga-action" => "Clickthrough", "ga-label" => "Popular Now Sidebar"} do %>
                              <figure class="ratio-pairing clearfix">
                                  <div class="ratio">
                                      <div class="fill"></div>
                                      <b class="img-contain"><%= image_tag article.asset.lsquare.url %></b>
                                  </div><!--/ .ratio -->
                                  <figcaption>
                                      <%= smart_date_js article.public_datetime %>
                                      <mark><%= article.short_title %></mark>
                                  </figcaption>
                              </figure><!--/ .ratio-pairing -->
                        <% end %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </aside>
        </section>
    </div>
</div><!--/ .report -->

<!-- AdHost Slot: Membership Appeals -->
<div id="article-membership-appeal"></div>

<%= comments_for @story %>

<div class="placard-waystation"></div>
<% end %>
