<%= form_for @message, url: content_email_path(obj_key: @content.try(:obj_key)), method: :post do |f| %>
  <h6 class="b-heading b-heading--h6 b-heading--serif b-heading--bold">Email this to a friend:</h6>
  <h4 class="b-heading--h4 b-heading--serif"><%= @content.try(:headline) ||  "#{@content.try(:title)} | 89.3 KPCC" %></h4>
  <p class="b-heading"><%= @content.try(:teaser).try(:html_safe) || @content.try(:description).try(:html_safe).try(:truncate, 150) %></p>

  <div class="fields">

    <% if @message.errors.present? %>
      <div class="error">
        <ul>
          <% @message.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <ul class="inputs-list">
      <div class="b-heading">
        <%= f.label :to_email, "Send This To:" %><br />
        <%= f.text_field :to_email, class: "xlarge", placeholder: "Email address (Maximum one)", style: "width: 100%; height: 1.5em" %>
      </div>
      <div class="b-heading">
        <%= f.label :from_name, "Your Name" %><br />
        <%= f.text_field :from_name, class: "xlarge stacked", style: "width: 100%; height: 1.5em" %>
      </div>
      <div class="b-heading">
        <%= f.label :from_name, "Your E-mail" %><br />
        <%= f.text_field :from_email, class: "xlarge", style: "width: 100%; height: 1.5em" %>
      </div>
      <li class="b-heading">
        <%= f.label :body, "Add a personal message:" %><br />
        <%= f.text_area :body, class: "xlarge", style: "width: 100%; height: 4em" %>
      </li>
    </ul>
  </div>

  <div>
    <%= recaptcha_tags %>
    <%= f.submit "Share", class: "btn primary c-btn c-btn--primary b-heading", style: "margin-top: 15px" %>
  </div>

<% end %>
