<% if model.try(:authors).try(:length) > 0 %>
<aside class="o-blog-hosts <%= @options[:class] %>" <%= order %> >
  <h6 class="o-blog-hosts__heading b-heading b-heading--h6 b-heading--uppercase u-text-color--gray b-heading--bold">
    <%= heading %>
  </h6>
  <ul class="c-list c-list--vert">
    <% authors.each do |author| %>
      <li class="o-blog-hosts__list-item">
        <figure class="o-blog-hosts__figure o-figure o-figure--portrait">
          <%= link_to author.public_path, class: "track-event", data: {"ga-category" => "Article", "ga-action" => "Clickthrough", "ga-label" => "Bios Hosts"} do %>
            <img class="o-figure__img" src="<%= author.headshot.try(:eight).try(:url) %>" style="background-image: url(<%= author.headshot.try(:eight).try(:url) %>);">
          <% end %>
        </figure>
        <div class="o-blog-hosts__description">
          <%= link_to author.name, author.public_path, class: "o-blog-hosts__host-name" %>
          <ul>
            <%= twitter_link author %>
            <%= email_link author %>
            <%= portfolio_link author %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</aside>
<% end %>