<!--// BEGIN SINGLE ABSTRACT-->
                            <hr style="font-family: Georgia, serif; border-bottom-color: #cccccc; border-bottom-style: solid; border-top-color: #cccccc; border-top-style: solid; height: 3px; margin-bottom: 18px; border-top-width: 1px; border-right-width: 0; border-bottom-width: 1px; border-left-width: 0; background-color: white;" />

                            <!-- begin source heading -->
                            <h5 class="super-heading" style="font-family: Georgia, serif; line-height: 1.1; margin-bottom: 0 !important; margin-top: 10px; color: #b24401 !important; font-weight: 400; font-size: 12px; text-transform: uppercase;"><%= abstract.source %></h5>
                            <!-- end source heading -->

                            <!-- begin abstract headline -->
                            <h2 style="font-family: Georgia, serif; line-height: 42px; margin-bottom: 15px; margin-top: 4px; color: black !important; font-weight: 400; font-size: 32px;">
                              <a href="<%= abstract.url %>" style="font-family: Georgia, serif; color: black !important; text-decoration: none;"><%= abstract.headline %></a>
                            </h2>
                            <!-- end abstract headline -->

                            <!-- begin abstract summary -->
                            <div class="content-block" style="font-family: Georgia, serif; color: #3d3d3d; font-weight: normal; font-size: 15px; line-height: 24px; margin-top: 14px; margin-right: 0; margin-bottom: 18px; margin-left: 0;">
                                <p style="font-family: Georgia, serif; color: #3d3d3d; font-weight: normal; font-size: 15px; line-height: 24px; margin-top: 14px; margin-right: 0; margin-bottom: 18px; margin-left: 0;">
                                    <%= raw abstract.summary %>
                                </p>
                                <p style="font-family: Georgia, serif; color: #3d3d3d; font-weight: normal; font-size: 15px; line-height: 24px; margin-top: 14px; margin-right: 0; margin-bottom: 18px; margin-left: 0;">
                                    <a href="<%= abstract.url %>" style="font-family: Georgia, serif; color: #007fa6; text-decoration: none;">READ »</a>
                                </p>
                            </div>
                            <!-- begin abstract summary -->

<!-- END SINGLE ABSTRACT //-->