<table class="table table-striped problems <%= problem_type %>">
  <thead>
    <tr>
      <td></td>
      <td>Ends At</td>
      <td></td>
      <td>Starts At</td>
    </tr>
  </thead>
  <tbody>
    <% problems.each do |problem| %>
    <tr>
      <td><strong><%= problem[0].display_name %></strong></td>
      <td><%= problem[0].ends_at.try(:strftime, "%I:%M%P %-m/%-d") %></td>
      <td><strong><%= problem[1].display_name %></strong></td>
      <td><%= problem[1].starts_at.try(:strftime, "%I:%M%P %-m/%-d") %></td>
    </tr>
    <% end %>
  </tbody>
</table>