<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-archery.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-archery.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-archery.jpg' %>);"></div>
            <h3 class="c-gem__title">Archery Lessons at Woodley Park</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Channel your inner Ygritte with <u><a href="http://woodleyparkarchers.org/faqs/" target="_blank">free lessons at the Woodley Park Archery Range</a></u>. After a safety course, amateur archers get one-on-one coaching from experts on the shooting line. Come on Saturday morning and learn to shoot a bullseye before brunch.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The entire experience is free, including loaner equipment.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The classes are popular, so it's best to arrive an hour before starting time. Also, wear closed-toed shoes and bring water and sunscreen.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//woodleyparkarchers.org/faqs/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Archery%20lessons%20at%20Woodley%20Park&url=http%3A%2F%2Fwoodleyparkarchers.org/faqs/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: @maryevoss/Instagram</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Woodley+Park+Archery+Range,+Los+Angeles,+CA/@34.1820771,-118.5087277,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2977066f6fac3:0xd4970c62663619ca!2m2!1d-118.4736224!2d34.1820111">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-archery.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
