<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-artolfactory.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-artolfactory.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-artolfactory.jpg' %>);"></div>
            <h3 class="c-gem__title">The Institute For Art And Olfaction</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Countless celebrities have fragrances. Why shouldn't you? Head to <u><a href="http://artandolfaction.com/" target="_blank">the Institute for Art and Olfaction</a></u>, where you can join DIY perfumers to learn the art of the smell. Combine scent molecules to learn how they mix and mingle together, or create a fragrance all your own.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The perfume industry is controlled by a handful of conglomerates. So, stick it to the man by creating your own unique scent.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Be sure to <u><a href="http://artandolfaction.com/calendar/" target="_blank">check their website for events</a></u>, and make an appointment for your first visit. <dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//artandolfaction.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20The%20Institute%20For%20Art%20And%20Olfaction&url=http%3A%2F%2Fartandolfaction.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: The Institute for Art and Olfaction</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//The+Institute+for+Art+and+Olfaction,+Chung+King+Road,+Los+Angeles,+CA/@34.0656086,-118.2736888,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c77a77b00b4d:0x49f204d75e96fb05!2m2!1d-118.2385835!2d34.0655425">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-artolfactory.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
