<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-boba7.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-boba7.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-boba7.jpg' %>);"></div>
            <h3 class="c-gem__title">Boba 7</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Everybody loves boba. It's gone the way of many other trend foods (we see you, kale and açaí) and made its way to the mainstream. But what about boozy boba? Or, secret boozy boba? Sneak through a Thai restaurant to Boba7, a (literally) backroom speakeasy specializing in slinging boba-based cocktails.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The menu boasts a variety of tasty drinks, including the Green Tea Heineken, the non-alcoholic Horchata Boba, and something called a Bobagasm.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">If you're looking for a Boba 7 storefront, you won't find one. The boba bar is tucked in the back of a restaurant called Soi 7. Go into the restaurant and make your way toward the back. <dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.facebook.com/BobaSeven/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Boba%207&url=http%3A%2F%2Fwww.facebook.com/BobaSeven%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Boba 7</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Boba+7,+West+7th+Street,+Los+Angeles,+CA/@34.046719,-118.2913574,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7b5b2b4514d:0x5646dd1ab94f350b!2m2!1d-118.2562697!2d34.0467588">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-boba7.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
