<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-cactus.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-cactus.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-cactus.jpg' %>);"></div>
            <h3 class="c-gem__title">The Cactus Store</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Welcome to <u><a href="http://hotcactus.la/" target="_blank">the world of cactuses</a></u>. For a 200 square-foot shop, it's easy to get lost in the myriad cactuses of all sizes from around the world. Just don't forget to watch where you're walking!<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The shop stocks all sorts of cactuses, including strange genetic mutants, small succulents and cactuses that are older than most of the folks who stop by the store just for an Instagram photo.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The shop is small and is open for limited hours, so be prepared to wait for your turn to enter. Also, if you fall in love with a bigger cactus (and some are quite large), don't worry about fitting it in your Prius. The Cactus Store is happy to deliver your new prickly friend.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//hotcactus.la/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20The%20Cactus%20Store&url=http%3A%2F%2Fhotcactus.la/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Maya Sugarman/KPCC</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Cactus+Store,+Echo+Park+Avenue,+Los+Angeles,+CA/@34.0801686,-118.2905377,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c71dd47e3733:0xceebf65ea6253c71!2m2!1d-118.2554324!2d34.0801025">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-cactus.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
