<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-donutfarm.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-donutfarm.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-donutfarm.jpg' %>);"></div>
            <h3 class="c-gem__title">Donut Farm</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Few phrases are more SoCal than "organic vegan donut." But if you're skeptical, let <u><a href="http://www.pepplesdonuts.com/" target="_blank">Donut Farm</a></u> make you a believer. Tucked away in an unassuming Echo Park plaza, the low-key spot has a small fan base that swears by Donut Farm's banana fritters, Candycap donuts (made from mushrooms!) and vegan latte bar.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">Vegans and omnivores alike stop by for uncommon flavors like roasted red chili, matcha and a Donut Farm original dubbed "WTF" (whiskey, tangerine and fig).<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Pay careful attention to your GPS as you're heading down Sunset: the Donut Farm storefront is small and can be easy to miss. But, there's free parking once you arrive.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.pepplesdonuts.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Donut%20Farm&url=http%3A%2F%2Fwww.pepplesdonuts.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Jon Fisher/Flickr</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Donut+Farm,+Sunset+Boulevard,+Los+Angeles,+CA/@34.0804817,-118.3049179,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c71676e55831:0x5ee688e84285cb8d!2m2!1d-118.2698126!2d34.0804156">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-donutfarm.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
