<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-galco.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-galco.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-galco.jpg' %>);"></div>
            <h3 class="c-gem__title">Galco's Soda Pop Stop</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Lovers of saccharine, strange or scarce beverages will have a hard time making a selection at <u><a href="http://www.sodapopstop.com/home.cfm" target="_blank">Galco's</a></u>. Well, anyone would struggle to choose from more than 700 types of obscure sodas lining the shelves of this shop. Don't let the variety scare you – owner John Nese will be your guide.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">Galco's only carries sodas you'd never dream of looking for. Nese's slogan: "If you can find it [elsewhere], we don't carry it."<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The shop also has retro candy, beers and wines and other unusual treats. Park in the lot outside the shop and treat yourself to some sugar!<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.sodapopstop.com/home.cfm" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Galco%27s%20Soda%20Pop%20Stop&url=http%3A%2F%2Fwww.sodapopstop.com/home.cfm" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Cassidy Kean/KPCC</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://goo.gl/maps/wgr8axHJVxB2">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-galco.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
