<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-hotsprings.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-hotsprings.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-hotsprings.jpg' %>);"></div>
            <h3 class="c-gem__title">Deep Creek Hot Springs</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description"><u><a href="http://www.fs.usda.gov/recarea/sbnf/null/recarea/?recid=34152&actid=50" target="_blank">A unique landscape</a></u> featuring thermal hot springs. It's a great place to relax and take in the great diversity of surrounding vegetation.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">You can prune up in the hot springs or the adjacent river.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The Deep Creek crowd can get a bit rambunctious on the weekends — if you’re taking a family trip, the middle of the week is probably the best time to plan a visit.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.fs.usda.gov/recarea/sbnf/null/recarea/?recid=34152" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Deep%20Creek%20Hot%20Springs&url=http%3A%2F%2Fwww.fs.usda.gov/recarea/sbnf/null/recarea/?recid=34152" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Wikipedia Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Watts+Towers+Arts+Center,+1727+East+107th+Street,+Los+Angeles,+CA+90002/@33.9362722,-118.3153015,11.41z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2c97855555555:0x5abf7e72457ffc6a!2m2!1d-118.2419426!2d33.9388114">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-hotsprings.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
