<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-iliad.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-iliad.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-iliad.jpg' %>);"></div>
            <h3 class="c-gem__title">The Iliad Bookshop</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">It's <u><a href="http://www.iliadbooks.com/" target="_blank">one of the largest used bookstores</a></u> in Los Angeles. They've got everything from bargain bin paperbacks to rare first editions.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">Their massive and diverse inventory is a marvel. It's great for exploring — at some point you're bound to stumble on a true gem!<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Allergy alert: Currently there are two friendly cats, adopted by the store, that wander and greet customers — or they curl up in cozy spots for naps. (Mostly, it's the latter.)<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.iliadbooks.com%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Iliad%20Bookshop&url=http%3A%2F%2Fwww.iliadbooks.com%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Iliad Bookshop</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/place/The+Iliad+Bookshop/@34.1689964,-118.3635101,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2958ef84f9a6d:0x2bde9c2cec7754e4!8m2!3d34.168992!4d-118.3613214">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-iliad.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
