<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-meltdown.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-meltdown.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-meltdown.jpg' %>);"></div>
            <h3 class="c-gem__title">Meltdown Comics &amp; Collectibles</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">If the success of numerous superhero blockbusters is any indication, this could very well be the golden age for <u><a href="http://www.meltcomics.com/" target="_blank">Meltdown Comics &amp; Collectibles</a></u> in West Hollywood. The shop has an incredible variety of comic books, graphic novels, zines, toys, figurines and gifts for the nerd you love.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">Unlike some specialty shops, Meltdown has a legacy of meeting customers where they are. In other words, even someone looking to buy their first comic is welcome.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">In addition to the selection of comics and collectibles, Meltdown hosts a variety of live events (screenings, stand-up, podcast tapings, talks, etc.) almost every day of the week. <u><a href="http://www.meltcomics.com/blog/meltdown-calendar/" target="_blank">Check their site</a></u> to find one that suits you.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.meltcomics.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Meltdown%20Comics%20%26%20Collectibles&url=http%3A%2F%2Fwww.meltcomics.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Mulling it Over/Flickr/Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Meltdown+Comics+and+Collectibles,+Sunset+Boulevard,+Los+Angeles,+CA/@34.0979024,-118.3887358,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2bedc6b1e713d:0xa6d8ccec6bb45d33!2m2!1d-118.3536305!2d34.0978363">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-meltdown.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
