<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-mona.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-mona.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-mona.jpg' %>);"></div>
            <h3 class="c-gem__title">Museum of Neon Art</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Few art forms meld scientific know-how and creative ability as well as neon illumination. Billed as "the strangest and most wonderful museum in L.A.," the <u><a href="http://www.neonmona.org/" target="_blank">Museum of Neon Art (MONA)</a></u> in Glendale is a shrine to the electrifying art form.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">MONA owns warehouses full of neon art, so they regularly rotate installations in their small museum space. You never know what you're going to see!<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Bring a fully-charged smartphone and get ready for a lot of Instagram love! This place is a natural selfie trap.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.neonmona.org%2Fvisitcontact%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20The%20Museum%20of%20Neon%20Art&url=http%3A%2F%2Fwww.neonmona.org%2Fvisitcontact%2F" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Thomas Hawk/Flickr/Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/place/Museum+of+Neon+Art/@34.1437658,-118.2567769,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c0fe45224f73:0x885098a13f5de86e!8m2!3d34.1437614!4d-118.2545882">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-mona.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
