<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-monkeytown.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-monkeytown.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-monkeytown.jpg' %>);"></div>
            <h3 class="c-gem__title">Monkey Town</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Monkey Town, a new pop-up restaurant, has joined the long line of secret supper spots in L.A. While many pop-ups feature unique dining experiences, Monkey Town is completely immersive. Their delectable dinners are held within what can only be described as a 27-foot video cube, featuring live performances and recorded art.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The multi-channel performance is a delight for the senses (although it's going to put your next dinner party to shame).<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">There are two seatings each night (Tuesday-Sunday), and each one holds only 40 people. So get your tickets early – Monkey Town only runs until October 1, and shows fill up quickly.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//monkeytownhq.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Monkey%20Town&url=http%3A%2F%2Fmonkeytownhq.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Charles Hutchins/Flickr/Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Monkey+Town+LA,+West+21st+Street,+Los+Angeles,+CA/@34.0292882,-118.3012649,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7daf42c0161:0x57a7b13dc60f204a!2m2!1d-118.2661596!2d34.0292221">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-monkeytown.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
