<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-panorama.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-panorama.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-panorama.jpg' %>);"></div>
            <h3 class="c-gem__title">Velaslavasay Panorama</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Before VR videos, 3D movies, even before motion pictures, there was an art form that allowed audiences to escape to another world: panoramas. <u><a href="http://www.panoramaonview.org/" target="_blank">The Velaslavasay Panorama</a></u> is your chance to take a journey of the mind the old fashioned way, surrounded by a 360-degree painted environment with changing lights and sound.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The experience can be so moving that several of the Panorama's Yelp reviews are actual poetry. It's a great way to unplug from your digital existence to get in touch with yourself.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The Velaslavasay Panorama is on view Fridays through Sundays from noon until six p.m. and runs on donations (the suggested donation to view the panorama is $6). Be sure to schedule extra time for exploring the lush gardens behind the building.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.panoramaonview.org/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Velaslavasay%20Panorama&url=http%3A%2F%2Fwww.panoramaonview.org/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Omar Bárcena/Flickr/Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//The+Velaslavasay+Panorama,+1122+West+24th+Street,+Los+Angeles,+CA+90007/@34.0342629,-118.3197873,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7ec54a27073:0x673aa3b0d41f2a9!2m2!1d-118.284682!2d34.0341968">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-panorama.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
