<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-peking.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-peking.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-peking.jpg' %>);"></div>
            <h3 class="c-gem__title">Peking Tavern</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description"><u><a href="http://tooguapo.com/Peking_Tavern/HOME.html" target="_blank">Peking Tavern</a></u> is a gastropub located on the basement floor of an old bank building. It’s downtown L.A.’s best basement hideaway. <dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The restaurant serves Authentic Northern Chinese eats such as hand-pulled noodles and fresh-made dumplings throughout their happy hour and late hours. Hand-crafted cocktails are mirrored with Asian flair and supported by a well-respected craft beer list.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Happy hour is certainly the best time to visit to take advantage of their drink/food specials. If you dare,  Bai Jiu (like sake) with a YanJing chaser is always a solid choice.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//tooguapo.com/Peking_Tavern/HOME.html" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Peking%20Tavern&url=http%3A%2F%2Ftooguapo.com/Peking_Tavern/HOME.html" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Mark Davis/Getty Images</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Peking+Tavern,+South+Spring+Street,+Los+Angeles,+CA/@34.0427977,-118.2887889,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7cadb8f1b35:0x3bb3e6bace4e54b1!2m2!1d-118.2536836!2d34.0427316">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-peking.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
