<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-phantasmagloria.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-phantasmagloria.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-phantasmagloria.jpg' %>);"></div>
            <h3 class="c-gem__title">Phantasma Gloria</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">One man's trash is another man's homage to the sun. <u><a href="http://randylandla.com/" target="_blank">Phantasma Gloria</a></u> is a collection of bottles, beads and wire, sculpted together to make "Earth's first vast glass sun catcher." And it is vast: the installation has grown to be over 37 feet tall and 50 feet long (and still growing)!<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">Stand back to see clear shapes, including dolphins and a Virgen de Guadalupe. Get close to see countless refractions of the world around you.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Phantasma Gloria is an incredible sight any day of the week, but artist Randlett Lawrence recommends visiting on sunny mornings, ideally at 9 a.m. in the winter or 10 a.m. in the summer.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//randylandla.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Phantasma%20Gloria&url=http%3A%2F%2Frandylandla.com" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Randyland LA/Facebook</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Phantasma+Gloria+at+Randyland+In+Echo+Park,+Lemoyne+Street,+Los+Angeles,+CA/@34.0836601,-118.2908003,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c71f086a3f05:0x3ea55cf26c1bea9d!2m2!1d-118.255695!2d34.083594">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-phantasmagloria.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
