<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-pielife.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-pielife.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-pielife.jpg' %>);"></div>
            <h3 class="c-gem__title">Pie Life Pizza</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">If the words "pizza window" sound intriguing, get yourself to Pie Life Pizza as soon as you can. The tiny Pasadena pizza shop offers low-priced slices and whole pies in a variety of topping combinations, served through a window by an always-friendly staff member.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">In a region where so many restaurants try so hard to be hip, Pie Life’s unassuming vibes — paired with excellent New York-style pizza — make it genuinely cool.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">While pizza at Pie Life is abundant, parking is limited. Don't plan on getting a spot in the lot Pie Life shares with Pasadena favorite Jones Coffee; instead, snag street parking or take the Gold Line to Fillmore Station and walk up.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.pielifepizza.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Pie%20Life%20Pizza&url=http%3A%2F%2Fwww.pielifepizza.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: @svgmom/Instagram</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Pie+Life+Pizza,+691+South+Raymond+Avenue,+Pasadena,+CA+91105/@34.1337921,-118.1841933,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c37d6b552687:0x54ccb9c8e5e8726!2m2!1d-118.149088!2d34.133726">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-pielife.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
