<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-salvation.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-salvation.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-salvation.jpg' %>);"></div>
            <h3 class="c-gem__title">Salvation Mountain</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description"><u><a href="http://www.salvationmountain.us/" target="_blank">Salvation Mountain</a></u> is a work of folk art in the California desert near the quiet town of Niland, the Salton Sea and Slab City, the free-spirited art community.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">It's one of California's most unique and enduring landmarks — a beautiful, hand-made mountain.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">If you're heading back to Los Angeles after visiting, you'll likely need to go through Border Patrol.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.salvationmountain.us/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Salvation%20Mountain&url=http%3A%2F%2Fwww.salvationmountain.us/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Wikipedia Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/place/Salvation+Mountain/@33.254143,-115.472649,15z/data=!4m2!3m1!1s0x0:0x4ec3972c15caffda?sa=X&ved=0ahUKEwjsmZSliabNAhVHR1IKHZvyBFcQ_BIIhgEwDg">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-salvation.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
