<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-shipwreck.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-shipwreck.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-shipwreck.jpg' %>);"></div>
            <h3 class="c-gem__title">The Wreck of SS Dominator</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">It’s the remains of a ship that ran ashore in 1961 on the Palos Verdes Peninsula.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">It's a shipwreck for you to explore! (But there are also some great views along the way).<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The hike to the wreckage is far from easy, so bring plenty of water and leave the kids at home!<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.yelp.com/biz/shipwreck-hiking-trail-palos-verdes-estates" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20The%20Wreck%20of%20the%20SS%20Dominator&url=http%3A%2F%2Fwww.yelp.com/biz/shipwreck-hiking-trail-palos-verdes-estates" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Waltarrrrr/Flickr/Creative Commons</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//SS+Dominator+Shipwreck,+Rocky+Shore,+Palos+Verdes+Peninsula,+CA/@33.7741684,-118.4634538,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80dd4c578ea8004d:0x68919802f82c48a0!2m2!1d-118.4283485!2d33.774102 ">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-shipwreck.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
