<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-spicestation.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-spicestation.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-spicestation.jpg' %>);"></div>
            <h3 class="c-gem__title">Spice Station</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">In the market for fenugreek? How about vadouvan curry? Or Guajillo chiles? If you're looking to upgrade your spice cabinet, <u><a href="http://spicestationsilverlake.com/" target="_blank">Spice Station</a></u> will be your new favorite shop. <dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The store boasts 400+ spices, herbs, salts, sugars, peppercorns, chilies and blends from around the world. Which one will you try first?<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">Spice newbie? Don't be intimidated — owners Peter Bahlawanian and Bronwen Tawse will gladly serve as your guide through their world of spices and give suggestions based on your taste preferences. They'll also grind your spices free of charge! (Pro tip: bring your own bottles and save $.25 each.)<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//spicestationsilverlake.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Spice%20Station&url=http%3A%2F%2Fspicestationsilverlake.com/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: @bigmountainslittlerivers/Instagram</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Spice+Station,+Sunset+Boulevard,+Los+Angeles,+CA/@34.091555,-118.3142113,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2c748f45a54ef:0xb643131bb29eef13!2m2!1d-118.279106!2d34.0914889">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-spicestation.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
