<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-srf.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-srf.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-srf.jpg' %>);"></div>
            <h3 class="c-gem__title">The Self-Realization Fellowship</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Seated atop Mt. Washington, <u><a href="https://www.yogananda-srf.org/" target="_blank">this secluded sanctuary</a></u> was once a hotel getaway for affluent Angelenos, but has been transformed into a spiritual center for Paramahansa Yogananda.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">Its peaceful public gardens are a restorative oasis with some of the best views in the city, overlooking downtown and stretching to the Pacific Ocean.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">The public gardens are closed Mondays, but open 9-5 the rest of the week. Streetside parking is easy to find near the entrance to the grounds.<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.yelp.com%2Fbiz%2Fself-realization-fellowship-los-angeles-3" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20The%20Self-Realization%20Fellowship&url=http%3A%2F%2Fwww.yelp.com%2Fbiz%2Fself-realization-fellowship-los-angeles-3" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: <a href="https://flic.kr/p/CWePZP">Luxehotelier/Flickr/Creative Commons</a></aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/place/Self-Realization+Fellowship/@34.1017763,-118.2183408,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c6a4d27097f5:0xf5658dd4f8fc5aef!8m2!3d34.1017719!4d-118.2161521">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-srf.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
