<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-streetlights.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-streetlights.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-streetlights.jpg' %>);"></div>
            <h3 class="c-gem__title">The Historic Streetlight Museum</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">It’s the <u><a href="http://bsl.lacity.org/museum.html" target="_blank">ultimate collection of Los Angeles streetlights</a></u>, all in one place.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">You get to experience the story of Los Angeles, told in streetlights.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">It's only open once a month for 30 minutes. Be sure to check their <u><a href="http://bsl.lacity.org/museum.html" target="_blank">website schedule</a></u> to make sure they're open!<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fbsl.lacity.org%2Fmuseum.html" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20The%20Historic%20Streetlight%20Museum&url=http%3A%2F%2Fbsl.lacity.org/museum.html" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Maya Sugarman/KPCC</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Department+of+Public+Works,+City+Los+Angeles,+South+Broadway,+Los+Angeles,+CA/@34.0390789,-118.2613484,18.22z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2c7c935ea3971:0xa7a50cc7ff32c57a!2m2!1d-118.260596!2d34.0388275">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-streetlights.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
