<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="container container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-watts.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-watts.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-watts.jpg' %>);"></div>
            <h3 class="c-gem__title">The Watts Towers of Simon Rodia</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">These <u><a href="http://www.wattstowers.us/" target="_blank">seventeen large sculptures</a></u> were built by one man, Simon Rodia, without the help of machine equipment, scaffolding, bolts, rivets, or welds.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">In addition to their unique beauty, the towers are an amazing demonstration of Rodia’s tenacity. He spent over 30 years building it, using rebar and concrete, as well as bits of glass, tile and other objects he collected nearby. <dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description"><u><a href="http://www.wattstowers.us/admission_opening_hours_tours.htm" target="_blank">There are tours available</a></u> every 30 minutes, Thursday to Sunday until 3pm. Adults pay $7, teenagers $3, and children 12 and under are free!<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.wattstowers.us/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20Watts%20Towers%20of%20Simon%20Rodia&url=http%3A%2F%2Fwww.wattstowers.us/" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: Jae C. Hong/AP</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//Watts+Towers+Arts+Center,+1727+East+107th+Street,+Los+Angeles,+CA+90002/@33.9362722,-118.3153015,11.41z/data=!4m8!4m7!1m0!1m5!1m1!1s0x80c2c97855555555:0x5abf7e72457ffc6a!2m2!1d-118.2419426!2d33.9388114">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-watts.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
