<section class="c-gem" >
  <img class="c-gem__badge-desktop" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
  <div class="c-gem__container">
    <div class="l-container l-container--med">
      <div class="c-gem__bg-photo c-gem__bg-photo--left" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-wehotennis.jpg' %>);"></div>
      <div class="c-gem__bg-photo c-gem__bg-photo--right" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-wehotennis.jpg' %>);"></div>
      <img class="c-gem__badge" src="<%= asset_path 'better_homepage/icon-gem.svg' %>" />
      <div class="c-gem__wrapper">
        <div class="c-gem__content-container">
          <header class="c-gem__header">
            <h6 class="c-gem__overline">SoCal, What's Good?</h6>
            <div class="c-gem__photo" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/gem-wehotennis.jpg' %>);"></div>
            <h3 class="c-gem__title">West Hollywood Park Tennis Courts</h3>
          </header>
          <dl class="c-gem__details">
            <dt class="c-gem__label">What it is:</dt>
            <dd class="c-gem__description">Your serve will never be as killer as Serena's. But, you can still play a remarkable tennis match — for free! — in West Hollywood. The roof of the six-story parking garage next to the WeHo Library features <u><a href="http://www.weho.org/Home/Components/FacilityDirectory/FacilityDirectory/13/773" target="_blank">three tennis courts</a></u> that are open to everyone from rookies to Williams-sister wannabes.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">Why it's cool:</dt>
            <dd class="c-gem__description">The panoramic view of the surrounding Beverly and Hollywood hills is breathtaking.<dd>
          </dl>
          <dl class="c-gem__details">
            <dt class="c-gem__label">You should know:</dt>
            <dd class="c-gem__description">When you arrive at the garage, hand over your driver's license to a security guard on the first floor. They'll pass you a keycard that will give you access to this tennis paradise. (And they validate parking!)<dd>
          </dl>
          <div class="c-gem__share">
            <span class="c-gem__label">Share with a friend</span>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.weho.org/Home/Components/FacilityDirectory/FacilityDirectory/13/773" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-facebook.svg' %>" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/intent/tweet?text=SoCal%20Goodness%20from%20%40KPCC%3A%20West%20Hollywood%20Park%20Tennis%20Courts&url=http%3A%2F%2Fwww.weho.org/Home/Components/FacilityDirectory/FacilityDirectory/13/773" class="c-btn c-btn--small c-btn--secondary">
              <img src="<%= asset_path 'better_homepage/icon-twitter.svg' %>" alt="Share on Twitter" />
            </a>
          </div>
          <aside class="c-gem__attribution">Photo: @david.lawrance/Instagram</aside>
        </div>
        <div class="c-gem__map-container">
          <a href="https://www.google.com/maps/dir//West+Hollywood+Library,+North+San+Vicente+Boulevard,+West+Hollywood,+CA/@34.0819103,-118.4192183,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80c2beaf9c818f51:0xbfe1b2b0b527c7f3!2m2!1d-118.384113!2d34.0818442">
            <div class="c-gem__map" style="background-image: url(<%= asset_path 'better_homepage/hidden_gems/map-wehotennis.jpg' %>);"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
