<a class="media__appeal" href="<%= content.article.public_url %>">
  <% case call_to_action %>
  <% when 'conversation'%>
    <%= image_tag 'better_homepage/conversation.svg' %>
    Join the conversation
  <% when 'event' %>
    <%= image_tag 'better_homepage/event.svg' %>
    RSVP for this event
  <% when 'podcast' %>
    <%= image_tag 'better_homepage/podcast.svg' %>
    <% show_name = content.article.try(:show).try(:title) || "this show" %>
    Love <%= show_name %>? Subscribe to the podcast!
  <% end %>
</a>