<aside class="o-appeal o-appeal--podcast <%= @options[:class] %>" style="order: <%= order %>">
  <h4 class="o-appeal__heading b-heading b-heading--h4 b-heading--serif b-heading--bold b-heading--italic">Subscribe to<br /><%= model.title %>'s podcast</h4>
  <p class="o-appeal__caption">Receive every new episode, automatically, as soon as it's released.  Listen on your own time, your own way.</p>
  <% present model, ProgramPresenter do |p| %>
    <% if !p.podcast_link.blank? %>
      <a class="o-appeal__submit c-btn c-btn--outline-secondary c-btn--small" href="<%= p.podcast_link %>">Subscribe via iTunes</a>
    <% end %>
    <% if !p.rss_link.blank? %>
      <a class="o-appeal__submit c-btn c-btn--outline-secondary c-btn--small" href="<%= p.rss_link %>">Any podcast app (XML)</a>
    <% end %>
  <% end %>
</aside>

