<aside class="o-more-from-episode <%= @options[:class] %>" <%= order %>>
  <span class="o-more-from-episode__message">More from this episode:</span> <a class="o-more-from-episode__link b-link--callout b-heading--book b-link" href="<%= model.try(:public_path) %>"><%= show_title %> FOR <%= airdate %></a>
  <h3 class="b-heading b-heading--h3 b-heading--serif"><%= link_to headline, public_path %></h3>
  <ul class="c-list c-list--vert c-list--bullet">
    <% episode_content.try(:each) do |content| %>
      <li class="b-heading--medium">
        <%= link_to content.try(:headline), content.try(:public_path) %>
      </li>
    <% end %>
  </ul>
</aside>
