<% content_for :main_class, "l-archive" %>

<%= cell :ad, slot: "a", id: "o-ad--pos-a", attribution: false, order: -1 %>
<%= cell :ad, slot: "b", id: "o-ad--pos-b", order: 998 %>
<%= cell(:appeal, @news_stories, order: 999).call(:breaking_news) %>
<%= cell(:popular_articles, @news_stories, order: 1000).call(:side_bar) %>
<%= cell :ad, slot: "c", id: "o-ad--pos-c", order: 1001 %>

<% if @date %>
<h1 class="o-archive__page-heading b-heading--h1 b-heading--serif" style="order: 1"><%= add_to_page_title "Archive for #{format_date @date, format: :full_date}" %></h1>

<form class="o-archive__tab-inputs" style="order: 2">
  <input checked type="radio" name="tab" id="o-archive__input-news" class="o-archive__input" value="news" />
  <label class="o-archive__label" for="o-archive__input-news">NEWS</label>
  <input type="radio" name="tab" id="o-archive__input-blogs" class="o-archive__input" value="blogs"/>
  <label class="o-archive__label" for="o-archive__input-blogs">BLOGS</label>
  <input type="radio" name="tab" id="o-archive__input-programs" class="o-archive__input" value="programs"/>
  <label class="o-archive__label" for="o-archive__input-programs">PROGRAMS</label>
</form>

<!-- News Stories -->
  <% news_content = @news_stories + @content_shells%>
  <%= any_to_list? news_content, message: "<p class='o-archive-tab__news o-archive-tab__item o-archive__item' style='order: 3'>There were no news published on this date.</p>" do %>
    <%= cache ["archive"]+news_content do %>
    <% news_content.each_with_index do |content, index| %>
      <%= cache ["archive",content] do %>
        <% article = content.get_article %>
        <%= cell(:archive_tab, article, order: index + 3).call(:news) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<!-- /news-stories -->


<!-- Blog Entries -->
  <%= any_to_list? @blog_entries, message: "<p class='o-archive-tab__blogs o-archive-tab__item o-archive__item' style='order: 3'>There were no blog entries published on this date.</p>" do %>
    <%= cache ["archive"]+@blog_entries do %>
      <% @blog_entries.each_with_index do |content, index| %>
        <%= cache ["archive",content] do %>
          <%= cell(:archive_tab, content, order: index + 3).call(:blogs) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<!-- /blog-entries -->


<!-- Programs -->
<%= any_to_list? @show_episodes, message: "<p class='o-archive-tab__programs o-archive-tab__item o-archive__item' style='order: 3'>There were no news programs published on this date.</p>" do %>

  <% grouped = (@show_episodes + @show_segments).group_by { |c| c.show.title } %>

  <div class="o-archive-tab__programs o-archive__item o-archive__jump-nav" style="order: 3">
      <span class="o-archive__jump-nav_program"><strong>Jump to:</strong></span>
      <% grouped.each do |g| %>
        <span class="o-archive__jump-nav_program"><%= link_to g[0], "##{g[0].parameterize}" %></span>
        <span class="o-pipe"> | </span>
      <% end %>
  </div> <!-- jump-nav -->

  <% idx = 3 %>
  <% grouped.each do |show, contents| %>
    <% type_group = contents.group_by { |c| c.class.name } %>

    <%= cache ["archive"]+contents do %>
      <div class="o-archive-tab__programs o-archive__program-group" style="order: <%= idx += 1 %>">
        <h6 id="<%=show.parameterize%>" class="o-archive__show-title o-archive-tab__programs o-archive__item b-heading--h4 b-heading--uppercase b-heading--medium u-text-color--gray"><%= show %></h6>

        <% if type_group["ShowEpisode"].present? %>
          <% type_group["ShowEpisode"].each do |content| %>
            <div class="o-archive__episode-headline o-archive-tab__programs o-archive__item b-heading--uppercase b-heading--medium u-text-color--gray">Episode: <%= link_to content.headline, content.public_path %></div>
          <% end %>
        <% end %>

        <% if type_group["ShowSegment"].present? %>
          <% type_group["ShowSegment"].each do |content| %>
            <%= cache ["archive",content] do %>
              <%= cell(:archive_tab, content).call(:programs) %>
            <% end %>
          <% end %> <%# each ShowSegment %>
        <% end %> <%# ShowSegment.present?%>
      </div>
    <% end %>
  <% end %> <%# each grouped %>
<% end %>
<!-- /programs -->

<script type="text/javascript">
  $('.o-archive__input').click(function() {
    var section = $(this).val();
    window.history.replaceState({ section: section }, document.title + ": " + section, window.location.pathname + "?section=" + section);
    $('.o-archive__item').hide();
    $('.o-archive-tab__' + section).show();
  });

  function getUrlParameter(name, url) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(window.location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  }

  $('.o-archive-tab__item').hide();
  var section = getUrlParameter('section');

  if (section) {
    $('#o-archive__input-' + section).click();
  } else {
    $('#o-archive__input-news').click();
  }
</script>

<% end %> <%# @date? %>
<%= cell :archive_picker, nil, base_url: '/archive/process', header: 'BROWSE OUR NEWS ARCHIVE', type: 'full', order: 901 %>
