<script>
  (function() {
    var cx = '001032392520619443334:tk9zqzo3wbo';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<script>
$('.o-search__results-header').hide();
$('#o-search__program-results').hide();

if (!String.prototype.includes) {
  String.prototype.includes = function(search, start) {
    'use strict';
    if (typeof start !== 'number') {
      start = 0;
    }

    if (start + search.length > this.length) {
      return false;
    } else {
      return this.indexOf(search, start) !== -1;
    }
  };
}

var programs = {
  <% programs.each do |program| %>
    "<%= program.try(:title).try(:downcase) %>": {
      figure: "<%= image_path('kpcc-twitter-logo.png') %>",
      href: "/programs/<%= program.try(:slug) %>",
      teaser: <%= program.try(:teaser).try(:to_json) %>,
      title: "<%= program.try(:title) %>"
    },
  <% end %>
}

var searchQuery = $('#o-search__query_input');
var programResults = $('#o-search__program-results');
var query = document.location.search.substring(3)
var relatedPrograms = [];

for (var key in programs) {
  if (query.length > 0 && key.includes(query)) {
    relatedPrograms.push(programs[key]);
    $('.o-search__results-header').show();
    $('#o-search__program-results').show();
    $('#o-search__results').show();
  }
}

if (relatedPrograms.length > 0) {
  relatedPrograms.forEach(function(relatedProgram) {
    programResults.append(
      "<div class='o-search__program-results__item'>" +
      "<figure class='o-figure o-figure--square o-search__program-results__item-figure'><img class='o-figure__img' src='" + relatedProgram.figure + "' style='background-image: url(" + relatedProgram.figure +  ")'/></figure>" +
      "<div class='o-search__program-results__item-description'><a href='" + relatedProgram.href + "' class='gs-title'>" +
      relatedProgram.title +
      "</a><div class='gs-snippet'>" +
      relatedProgram.teaser +
      "<div class='gs-visibleUrl'>www.scpr.org</div></div></div></div>");
  });
}

searchQuery.on('keyup', function(e) {
  programResults.empty();
  $('.o-search__results-header').hide();
  $('#o-search__program-results').hide();
  $('#o-search__results').hide();
  var currentInputValue = $(this).val().toLowerCase();
  var relatedPrograms = [];
  for (var key in programs) {
    if (currentInputValue.length > 0 && key.includes(currentInputValue)) {
      relatedPrograms.push(programs[key]);
      $('.o-search__results-header').show();
      $('#o-search__program-results').show();
      $('#o-search__results').show();
    }
  }

  if (relatedPrograms.length > 0) {
    relatedPrograms.forEach(function(relatedProgram) {
      programResults.append(
        "<div class='o-search__program-results__item'>" +
        "<figure class='o-figure o-figure--square o-search__program-results__item-figure'><img class='o-figure__img' src='" + relatedProgram.figure + "' style='background-image: url(" + relatedProgram.figure +  ")'/></figure>" +
        "<div class='o-search__program-results__item-description'><a href='" + relatedProgram.href + "' class='gs-title'>" +
        relatedProgram.title +
        "</a><div class='gs-snippet'>" +
        relatedProgram.teaser +
        "<div class='gs-visibleUrl'>www.scpr.org</div></div></div></div>");
    });
  }
});

</script>
