<div class="media" data-obj-key="<%= content.obj_key %>">
  <% if (asset_url = content.article.asset.full.url) && content.asset_scheme == "large" %>
    <a href="<%= content.public_url %>" class="media__image-parent">
      <img src="<%= asset_url %>" class="media__image large">
    </a>
  <% end %>
  <div class="media__container clearfix">
    <div class="media__content">
      <% if (asset_url = content.article.asset.full.url) && content.asset_scheme == "medium" %>
        <a href="<%= content.public_url %>" class="media__image-parent">
          <img src="<%= asset_url %>" class="media__image med">
        </a>
      <% end %>
      <h2 class="media__headline <%= content.asset_scheme %>">
        <a href="<%= content.public_url %>">
          <% if index == 0 || 1 || 2 %>
            <%= image_tag "better_homepage/unread.svg", class: "unread" %>
          <% end %>
          <%= image_tag "better_homepage/checkmark.svg", class: "checkmark" %>
          <%= content.article.short_title %>
        </a>
      </h2>
      <div class="media__summary"><%= simple_format(content.teaser) %></div>
      <% if content.content_type != "Event" && content.article.related_content %>
        <h5 class="media__related-heading">More in <%= content.label %></h5>
        <%= render partial: "related_content", locals: {content: content.article.related_content} %>
      <% end %>
      <%= render partial: "call_to_action", locals: {content: content } %>
    </div>
    <aside class="media__metadata">
      <% if content.label != nil %>
        <span class="media__category">
          <%= content.label %>
          <% if content.source != "KPCC" %>
            <%= image_tag 'better_homepage/outbound.svg' %>
          <% end %>
        </span>
      <% end %>
      <time class="media__timestamp timeago" datetime="<%= content.article.public_datetime %>"><%= content.article.public_datetime %></time>
    </aside>
  </div>
</div>