<% cache ['better_homepage/broadcast_bar', @schedule_current] do %>
  <% if @schedule_current.present? %>
    <ul class="o-mast__currently-airing c-nav js-search--hide c-well c-well--info">
      <li class="c-nav__item">
        <%= link_to "javascript:void(0)", onclick: "open_popup('/listen_live/');", id: "listen-live", class: "o-mast__currently-airing-label c-nav__link c-nav__link--action c-nav__link--inline"  do %>
          <svg class="icon icon--size-lg icon--size-lg@mobile-tablet icon--left">
            <use class="icon--line icon--color-link" xlink:href="/static/images/scpr-sprite.svg#icon_line-listen-live"/>
          </svg>
          Listen Live
          <span class="o-mast__currently-airing-program">- <%= @schedule_current.title %></span>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>

<header class="o-header">
  <span class="o-header__logo-container">
    <a href="/" class="o-mast__logo-link">
      <svg class="o-header__logo">
        <use class="" xlink:href="/static/images/scpr-sprite.svg#logo_kpcc-black"/>
      </svg>
    </a>
  </span>
  <h6 class="b-heading b-heading--h6 b-heading--light">Member-supported news for Southern California</h6>
  <hr class="rule" />
</header>

<div class="hp-content">

  <aside class="left">
    <% cache ["better_homepage/broadcast_box", @schedule_current, @schedule_next] do %>
      <%= render partial: "better_homepage/broadcast_box", locals: {schedule_current: @schedule_current, schedule_next: @schedule_next} %>
    <% end %>
  </aside>

  <%= precached "better_homepage/right_asides", preview: @homepage %>

  <%= precached "better_homepage/contents", preview: @homepage %>

</div>
