<%= render partial: 'better_homepage/feedback' %>
<section id="content" class="container container--med">
  <aside class="c-ad">
    <div class="c-ad__container">
      <%= render "shared/ads/dfp", ad_key: "slot_a" %>
      <a class="c-ad__attribution" href="http://www.scpr.org/support/underwriting/">Become a KPCC Sponsor</a>
    </div>
  </aside>
  <span id="homepage-timestamp" class="media__timestamp"><%= smart_date_js @homepage.updated_at, "data-window" => "1h", "data-relative" => "1h" %></span>
  <%= precached "better_homepage/contents", preview: @content %>
</section><!-- .welcome -->
<%= include_handlebars_template 'better_homepage/whats-next-component' %>
<%= include_handlebars_template 'better_homepage/whats-next-headline-component' %>