<% cache ['better_homepage/broadcast_bar', @schedule_current] do %>
  <% if @schedule_current.present? %>
    <ul class="o-mast__currently-airing c-nav js-search--hide c-well c-well--info">
      <li class="c-nav__item">
        <%= link_to "javascript:void(0)", onclick: "open_popup('/listen_live/');", id: "listen-live", class: "o-mast__currently-airing-label c-nav__link c-nav__link--action c-nav__link--inline"  do %>
          <svg class="icon icon--size-lg icon--size-lg@mobile-tablet icon--left">
            <use class="icon--line icon--color-link" xlink:href="/static/images/scpr-sprite.svg#icon_line-listen-live"/>
          </svg>
          Listen Live
          <span class="o-mast__currently-airing-program">- <%= @schedule_current.title %></span>
        <% end %>
      </li>
    </ul>
  <% end %>
<% end %>

<header class="o-header">
  <span class="o-header__logo-container">
    <a href="/" class="o-mast__logo-link">
      <svg class="o-header__logo">
        <use class="" xlink:href="/static/images/scpr-sprite.svg#logo_kpcc-black"/>
      </svg>
    </a>
  </span>
  <h6 class="b-heading b-heading--h6 b-heading--light">Member-supported news for Southern California</h6>
  <hr class="rule" />
</header>

<div class="hp-content">

  <aside class="left">
    <% cache ["better_homepage/broadcast_box", @schedule_current, @schedule_next] do %>
      <%= render partial: "better_homepage/broadcast_box", locals: {schedule_current: @schedule_current, schedule_next: @schedule_next} %>
    <% end %>
  </aside>

  <%= cache(["better_homepage/broadcast_box"], expires_in: 30.minutes) do %>
    <aside class="right hp-latest-headlines" style="order:2;">
      <div class="c-ad">
        <div class="c-ad__container c-ad__container">
          <div class="c-ad__banner">
            <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
          </div>
        </div>
      </div>
      <%= render partial: "better_homepage/latest_from_laist" %>
    </aside>
  <% end %>

  <%= precached "better_homepage/right_asides", preview: @homepage %>

  <article class="center hp-story large" style="display: flex">
    <form id="springboard" autocomplete="off">
      <h1 class="springboard__title">Say YES! to Free Press by donating now to KPCC during our Fall Member Drive.</h1>
      <p class="springboard__description">Your support is vital to the news and programming you depend on from KPCC and NPR.</p>
      <div class="springboard__radios">
        <div class="springboard__recurs-container">
          <input
            id="springboard__monthly-donation"
            name="recurs"
            type="radio"
            value="monthly"
            checked
          />
          <label
            for="springboard__monthly-donation"
            class="springboard__recurs"
          >
            Monthly Donation
            <span class="springboard__recurs-radio"></span>
          </label>
        </div>
        <div class="springboard__recurs-container">
          <input
            id="springboard__one-time-donation"
            name="recurs"
            type="radio"
            value="one-time-donation"
          />
          <label
            for="springboard__one-time-donation"
            class="springboard__recurs"
          >
            One-time Donation
            <span class="springboard__recurs-radio"></span>
          </label>
        </div>
      </div>
      <div id="springboard__monthly-donation-fields" class="springboard__donation-fields">
        <input
          id="springboard__five-per-month"
          class="springboard__per-month"
          name="donation-per-month"
          type="radio"
          value="5"
        />
        <label for="springboard__five-per-month" class="springboard__label">
          $5 / mo
        </label>
        <input
          id="springboard__ten-per-month"
          class="springboard__per-month"
          name="donation-per-month"
          type="radio"
          value="10"
          checked
        />
        <label for="springboard__ten-per-month" class="springboard__label">
          $10 / mo
        </label>
        <input
          id="springboard__fifteen-per-month"
          class="springboard__per-month"
          name="donation-per-month"
          type="radio"
          value="15"
        />
        <label for="springboard__fifteen-per-month" class="springboard__label">
          $15 / mo
        </label>
        <input
          id="springboard__one-twenty-five-per-month"
          class="springboard__per-month"
          name="donation-per-month"
          type="radio"
          value="125"
        />
        <label
          for="springboard__one-twenty-five-per-month"
          class="springboard__label springboard__leadership-circle"
        >
          $125 / mo - Leadership Circle
        </label>
        <div class="springboard__other-amount">
          <div class="springboard__dollar-sign-prefix">$</div>
          <input
            id="springboard__per-month-other-amount"
            type="text"
            placeholder="Other amount"
          />
          <div class="springboard__per-month-suffix">/ mo</div>
        </div>
      </div>
      <div id="springboard__one-time-donation-fields" class="springboard__donation-fields">
        <input
          id="springboard__60"
          class="springboard__one-time"
          name="one-time-donation"
          type="radio"
          value="60"
        />
        <label for="springboard__60" class="springboard__label">$60</label>
        <input
          id="springboard__120"
          class="springboard__one-time"
          name="one-time-donation"
          type="radio"
          value="120"
          checked
        />
        <label for="springboard__120" class="springboard__label">$120</label>
        <input
          id="springboard__180"
          class="springboard__one-time"
          name="one-time-donation"
          type="radio"
          value="180"
        />
        <label for="springboard__180" class="springboard__label">$180</label>
        <input
          id="springboard__1500"
          class="springboard__one-time"
          name="one-time-donation"
          type="radio"
          value="1500"
        />
        <label
          for="springboard__1500"
          class="springboard__label springboard__leadership-circle"
        >
          $1500 - Leadership Circle
        </label>
        <div class="springboard__other-amount">
          <div class="springboard__dollar-sign-prefix">$</div>
          <input
            id="springboard__one-time-other-amount"
            class="springboard__other-amount"
            type="text"
            placeholder="Other amount"
          />
        </div>
      </div>
      <a id="springboard__continue" href="https://support.kpcc.org/f19hptakeover2?amount=5&recurs=monthly" target="_blank" type="submit">Continue</a>
    </form>
    <%= javascript_include_tag "better_homepage/donation-form-widget" %>
  </article>

  <%= precached "better_homepage/contents", preview: @homepage %>

</div>
