<div class="story media media media--hp-large" data-obj-key='<%= content.article.obj_key %>'>
  <% if index == 0 %>
    <%= render partial: "better_homepage/media/shared/headline_top", locals: {headline: content.article.short_title, url: content.article.public_url} %>
  <% end %>
  <%= render partial: "better_homepage/media/shared/figure_widescreen", locals: {url: content.article.public_url, asset_url: content.article.asset.full.url, asset_scheme: content.asset_scheme} %>
  <div class="media__content">
    <% if index != 0 %>
      <%= render partial: "better_homepage/media/shared/label", locals: {label: content.label} %>
      <%= render partial: "better_homepage/media/shared/headline_large", locals: {headline: content.article.short_title, url: content.article.public_url} %>
    <% else %>
    <%= render partial: "better_homepage/media/shared/label", locals: {label: content.label} %>
    <% end %>
    <%= render partial: "better_homepage/media/shared/teaser", locals: {teaser: content.article.abstract} %>
    <%= render partial: "better_homepage/media/shared/meta", locals: {feature: content.article.feature, public_datetime: content.article.public_datetime, public_datetime: content.article.public_datetime} %>
    <%= render partial: "better_homepage/media/shared/extra", locals: {content: content, contents: contents} %>
  </div>
</div>
