<div class="story media media media--hp" data-obj-key='<%= content.article.obj_key %>'>
  <%= media_figure "widescreen", url: content.article.public_url, asset_url: content.article.asset.full.url, asset_scheme: content.asset_scheme %>
  <div class="media__content">
    <%= media_label content.label %>
    <%= media_headline content.article.short_title, content.article.public_url %>
    <%= media_teaser content.article.abstract %>
    <%= media_meta feature: content.article.feature, public_datetime: content.article.public_datetime, updated_at: content.article.updated_at %>
    <% media_extra content, contents %>
  </div>
</div>