<div class="media media media--hp">
  <h4 class="label"><%= content.label %></h4>
  <%= render partial: "better_homepage/media/shared/figure_widescreen", locals: {url: content.article.public_url, asset_url: content.article.asset.full.url, asset_scheme: content.asset_scheme} %>
  <div class="media__content">
    <%= render partial: "better_homepage/media/shared/meta", locals: {feature: content.article.feature, public_datetime: content.article.public_datetime, updated_at: content.article.updated_at} %>
    <%= render partial: "better_homepage/media/shared/headline", locals: {headline: content.article.short_title, url: content.article.public_url} %>
    <%= render partial: "better_homepage/media/shared/teaser", locals: {teaser: content.article.abstract} %>
    <%= render partial: "better_homepage/media/shared/extra", locals: {content: content} %>
  </div>
</div>