<%= render 'shared/header/document_header' %>

<body>
<div class="viewport">
  <div id="pledge-pushdown"></div>

  <%= render "shared/masthead/layout_header" %>

  <div id="main" class="container-fluid main-content">
    <%= yield :title_bar %>
    <div class="row-fluid">
      <article class="span16 relative">
        <%= content_for?(:content) ? yield(:content) : yield %>
        <div class="vert-divider"></div>
      </article>

      <div class="span8">
        <div id="sidebar">
          <% if content_for?(:sidebar) %>
            <%= yield(:sidebar) %>
          <% else %>
            <%= yield :sidebar_top %>
            <%= render "shared/ads/oas", ad_id: 'x01' %>
            <%= yield :sidebar_middle %>
            <%= render "shared/ads/dfp", ad_key: :membership_sidebar %>
            <%= render "shared/widgets/newsletter_subscribe" %>
            <%= render "shared/widgets/most_popular" %>
            <%= render "shared/ads/oas", ad_id: 'x02' %>
            <%= render "shared/ads/dfp", ad_key: :sidebar_house_promo %>
            <%= render "shared/ads/oas", ad_id: 'x03' %>
          <% end %>
        </div> <!-- sidebar -->
      </div> <!-- span8 -->
    </div> <!-- row-fluid -->
    <%= render "shared/audio/inpage_audio_player" %>
  </div> <!-- container fluid main -->

  <%= render "shared/footer/layout_footer" %>

  <% content_for :footer do %>
  <script type="text/javascript">
  $(document).ready(function(){

    // Load pledge pushdown
    if (scpr.Cookie.get('adClosed01') == null) {
      var visualCampaign = new scpr.VisualCampaign({
        endpoint: "http://audiobox.scprdev.org/api/v1/visual_campaigns",
        key: "pledge",
        success: function(markup) {
          $("#pledge-pushdown").prepend(markup)

          $("#pledge-hide").on({
            click: function(evt){
              $('#pledge-pushdown').hide();
              scpr.Cookie.set("adClosed01", "1", 60*60*24)
            }
          });
        }
      });

      visualCampaign.fetch();
    }
  });
  </script>
  <% end %>

</div> <!-- viewport -->

<%= render "shared/footer/document_footer" %>
