<!DOCTYPE html>
<html>
  <head>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-585PL29');</script>
    <!-- Use title if it's in the page YAML frontmatter -->
    <% add_to_page_title @TITLE_ELEMENTS.present? ? "89.3 KPCC" : "89.3 KPCC - Southern California Public Radio" %>
    <title><%= page_title %></title>
    <title>89.3 KPCC - Southern California Public Radio</title>
    <script src="https://use.typekit.net/cka2qre.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= render "shared/new/meta_header" %>
    <%= stylesheet_link_tag 'application' %>
    <%= render "shared/ads/dfp_script_config" %>
    <%= render partial: "shared/header/ad_scripts" %>
    <script type="text/javascript" src="https://<%= Rails.configuration.x.assethost.server %>/resources/client.js?bust=20130523"></script>
    <%= javascript_include_tag 'aplicayshun' %>
  </head>

  <body>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-585PL29" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <% if alert = BreakingNewsAlert.latest_visible_alert %>
      <%= cell :breaking_news_alert, alert %>
    <% end %>
    <div id="global-pushdown"></div>
    <header class="<%= content_for :header_class %>">
      <%= cell :masthead %>
      <%= content_for :header %>
    </header>
    <main class="<%= content_for :main_class %>">
      <%= yield %>
    </main>
    <footer class="<%= content_for :footer_class %>">
      <%= content_for :footer %>
      <% sponsors = content_for :footer_sponsors %>
      <%= cell :footer, nil, sponsors: sponsors %>
    </footer>
    <%= cell :audio_player %>
    <%= render "shared/footer/document_footer" %>

    <%= javascript_include_tag "better_homepage/style-guide", :async => true %>
  </body>
</html>
