<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>89.3 KPCC - Southern California Public Radio</title>
    <script src="https://use.typekit.net/cka2qre.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag 'better_homepage/application' %>
    <%= javascript_include_tag 'better_homepage/application' %>
    <%= render "shared/ads/dfp_script_config", key_override: "/homepage" %>
    <%= render partial: "shared/header/ad_scripts", locals: {responsive: true} %>
  </head>

  <body class="">
    <%= render partial: "layouts/better_homepage/header" %>
    <%= yield %>
    <% hidden_gem %>
    <% render partial: "layouts/better_homepage/footer" %>
    <% render partial: "shared/footer/tracking_scripts" %>
    <%= javascript_include_tag "better_homepage/style-guide", :async => true %>
  </body>
</html>
