<%= render "shared/ads/dfp_script_config", key_override: "/homepage" %>
<%= render 'shared/header/document_header' %>

<body>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-585PL29" height="0" width="0" style="display:none;visibility:hidden"></iframe>
<div class="viewport">
  <div id="global-pushdown"></div>
  <div id="homepage-pushdown"></div>

  <!-- MASTHEAD-->
  <%= render "shared/masthead/layout_header" %>

  <!-- BROADCAST BAR -->
<div id='beta-opt-in'>
  <a href="/beta-opt-in" class="c-btn c-btn--secondary c-btn--small" data-ga-category="@currentCategory" data-ga-action="Beta Opt In" data-ga-label="@scrollDepth">
    Try out a new version of our homepage!
  </a>
</div>

<% if @schedule_current.present? %>

<%= cache ["broadcastbar", "v2", @schedule_current, @schedule_current.program, @schedule_next] do %>

<% present @schedule_current, BroadcastBarPresenter do |p| %>
  <div class="broadcast-bar <%=p.headshot_class%>" id="broadcast-bar">
    <div class="bb-inner-container">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span12" id="bb-current-program">
            <% if @schedule_current.present? %>
              <div class="current program">


              <% if p.is_for_featured_program? %>
                <a href="<%= p.public_url %>" class="headshot <%= p.program_slug %>">&nbsp;</a>
              <% end %>


                <div class="program-info <%= p.program_slug %>">
                  <a href="<%= p.public_url %>" class="show-title <%= p.modal_class %>" data-modal-id="<%= p.toggler_id %>"><%= p.title %></a>
                  <span class="show-time"><%= p.start_time %> - <%= p.end_time %></span>
                </div> <!-- program-info -->


              <!-- Modal: For recurring slots with episodes which feature episodes -->
              <% if p.show_modal? && (episode = p.program.episodes.published.first) %>
                <div class="modal-container">

                <%= modal("episode-guide", modal_id: "episode-guide") do %>
                  <h6><%= link_to episode.headline, episode.public_path, :class => 'track-event', :data => {'ga-category' => 'Broadcast Bar', 'ga-action' => 'Episode Guide', 'ga-label' => 'Current Episode'} %></h6>
                  <%= render_asset episode, display: 'thumbnail' %>

                  <!-- Content -->
                  <ul class="cbase">
                  <%= cache ["homepage", "content", episode] do %>
                    <% episode.published_content.map(&:get_article).each_with_index do |content, i| %>
                      <li>
                        <h5 class="headline"><%= link_to content.short_title, content.public_path, :class => 'track-event', :data => {'ga-category' => 'Broadcast Bar', 'ga-action' => 'Episode Guide', 'ga-label' => "#{i==0 ? 'Lead' : 'Offlead'} Content"} %></h5>
                        <%= comment_count_for content %>
                      </li>
                    <% end %>
                  <% end %>

                    <li class="more"><a href="<%= p.program.public_path %>">More <%= p.program.title %></a></li>
                  </ul>
                <% end %><%# modal %>

                </div> <!-- modal-container -->
              <% end %><%# show_modal? %>
              <!-- end Modal -->


              </div> <!-- current program -->
            <% end %>
          </div> <!-- span -->
<% end %> <%# presenter %>

      <% if @schedule_next.present? %>
        <% present @schedule_next, BroadcastBarPresenter do |p| %>

          <div class="span12" id="bb-next-program">
            <div class="next program">
              <div class="program-info">
                <a href="<%= p.public_url %>" class="show-title"><%= p.title %></a>
                <span class="show-time"><%= p.start_time %> - <%= p.end_time %></span>
              </div> <!-- program-info -->
            </div> <!-- next program -->
          </div> <!-- span -->

        <% end %><%# presenter %>
      <% end %> <%# next_slot %>

        </div> <!-- row-fluid -->
      </div> <!-- container-fluid -->
    </div> <!-- bb-inner-container -->
  </div> <!-- broadcast-bar -->

<% end %> <%# cache %>
<% end %><%# present? %>


  <%= yield :hero_roadblock %>

  <div id="main" class="container-fluid main-content">
    <section class="homepage-top">
      <div class="row-fluid">
        <section class="span16 relative">
          <%= yield %>
          <div class="vert-divider"></div>
        </section>

        <div class="span8">
          <div id="sidebar-top">
            <%= render "shared/ads/dfp", ad_key: 'slot_a' %>
            <div class="ad">
              <%= render "shared/ads/dfp", ad_key: "slot_b" %>
              <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
            </div>
            <%= render "shared/widgets/breaking_news_subscribe" %>

          </div> <!-- sidebar-top -->
        </div> <!-- span8 -->
      </div> <!-- row-fluid -->

      <%= yield :missed_it %>
    </section> <!-- homepage-top -->

    <section class="homepage-bottom">
      <div class="row-fluid">
        <div class="span16 relative">
          <section class="more-news-container">
            <%= yield :lower %>
          </section>
          <div class="vert-divider"></div>
        </div> <!-- span16 -->
        <div class="span8">
          <div id="sidebar-bottom">
            <div class="ad">
              <%= render "shared/ads/dfp", ad_key: "slot_c" %>
              <p class="appeal"><a href="/support/underwriting/">Become a KPCC Sponsor</a></p>
            </div>
            <%= render "shared/widgets/archive" %>
          </div> <!-- sidebar bottom -->
        </div> <!-- span8 -->
      </div> <!-- row fluid -->
    </section> <!-- homepage-bottom -->

  </div> <!-- main container-fluid -->

  <%= render "shared/footer/layout_footer" %>

<% content_for :footer do %>
<script type="text/javascript">
$(document).ready(function(){
  scpr.VisualCampaign.enqueue('pushdown-global', $('#global-pushdown'));
  scpr.VisualCampaign.enqueue('pushdown-homepage', $('#homepage-pushdown'));
  eventTracking.parseOptions({
    currentCategory: "Homepage",
    trackScrollDepth: true,
    scrollDepthContainer: "#main"
  });
});
</script>

<% end %>

</div> <!-- viewport -->

<%= render "shared/footer/document_footer" %>
