<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>89.3 KPCC - Southern California Public Radio</title>
    <script src="https://use.typekit.net/cka2qre.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= stylesheet_link_tag 'application' %>
    <%= render "shared/ads/dfp_script_config" %>
    <%= render partial: "shared/header/ad_scripts" %>
    <%= javascript_include_tag 'aplicayshun' %>
  </head>

  <body class="<%= content_for :body_class %>">
    <% if alert = BreakingNewsAlert.latest_visible_alert %>
      <%= cell :breaking_news_alert, alert %>
    <% end %>
    <div id="global-pushdown"></div>
    <header class="<%= content_for :header_class %>">
      <%= cell :masthead %>
      <%= content_for :header %>
    </header>
    <main class="<%= content_for :main_class %>">
      <%= yield %>
    </main>
    <footer class="<%= content_for :footer_class %>">
      <%= content_for :footer %>
      <%= cell :footer, nil, homepage: false %>
    </footer>
    <%= cell :audio_player %>
    <%= render "shared/footer/document_footer" %>

    <%= javascript_include_tag "better_homepage/style-guide", :async => true %>
  </body>
</html>
